=begin
#spoonacular API

#The spoonacular Nutrition, Recipe, and Food API allows you to access over 380,000 recipes, thousands of ingredients, 80,000 food products, and 100,000 menu items. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as \"gluten free brownies without sugar\" or \"low fat vegan cupcakes.\" You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what's in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.  Special diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.

The version of the OpenAPI document: 1.0
Contact: david@spoonacular.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0-SNAPSHOT

=end

require 'uri'

module OpenapiClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Analyze a Recipe Search Query
    # Parse a recipe search query to find out its intention.
    # @param q [String] The recipe search query.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def analyze_a_recipe_search_query(q, opts = {})
      data, _status_code, _headers = analyze_a_recipe_search_query_with_http_info(q, opts)
      data
    end

    # Analyze a Recipe Search Query
    # Parse a recipe search query to find out its intention.
    # @param q [String] The recipe search query.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def analyze_a_recipe_search_query_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.analyze_a_recipe_search_query ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling DefaultApi.analyze_a_recipe_search_query"
      end
      # resource path
      local_var_path = '/recipes/queries/analyze'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#analyze_a_recipe_search_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Analyze Recipe Instructions
    # Extract ingredients and equipment from the recipe's instructions.
    # @param instructions [String] The instructions to be analyzed.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def analyze_recipe_instructions(instructions, opts = {})
      data, _status_code, _headers = analyze_recipe_instructions_with_http_info(instructions, opts)
      data
    end

    # Analyze Recipe Instructions
    # Extract ingredients and equipment from the recipe&#39;s instructions.
    # @param instructions [String] The instructions to be analyzed.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def analyze_recipe_instructions_with_http_info(instructions, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.analyze_recipe_instructions ...'
      end
      # verify the required parameter 'instructions' is set
      if @api_client.config.client_side_validation && instructions.nil?
        fail ArgumentError, "Missing the required parameter 'instructions' when calling DefaultApi.analyze_recipe_instructions"
      end
      # resource path
      local_var_path = '/recipes/analyzeInstructions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['instructions'] = instructions

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#analyze_recipe_instructions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Autocomplete Ingredient Search
    # Autocomplete the entry of an ingredient.
    # @param query [String] The partial or full ingredient name.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of results to return (between 1 and 100).
    # @option opts [Boolean] :meta_information Whether to return more meta information about the ingredients.
    # @option opts [Boolean] :intolerances A comma-separated list of intolerances. All recipes returned must not contain ingredients that are not suitable for people with the intolerances entered. See a full list of supported intolerances.
    # @return [Object]
    def autocomplete_ingredient_search(query, opts = {})
      data, _status_code, _headers = autocomplete_ingredient_search_with_http_info(query, opts)
      data
    end

    # Autocomplete Ingredient Search
    # Autocomplete the entry of an ingredient.
    # @param query [String] The partial or full ingredient name.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of results to return (between 1 and 100).
    # @option opts [Boolean] :meta_information Whether to return more meta information about the ingredients.
    # @option opts [Boolean] :intolerances A comma-separated list of intolerances. All recipes returned must not contain ingredients that are not suitable for people with the intolerances entered. See a full list of supported intolerances.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def autocomplete_ingredient_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.autocomplete_ingredient_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DefaultApi.autocomplete_ingredient_search"
      end
      # resource path
      local_var_path = '/food/ingredients/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?
      query_params[:'metaInformation'] = opts[:'meta_information'] if !opts[:'meta_information'].nil?
      query_params[:'intolerances'] = opts[:'intolerances'] if !opts[:'intolerances'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#autocomplete_ingredient_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Autocomplete Menu Item Search
    # Generate suggestions for menu items based on a (partial) query. The matches will be found by looking in the title only.
    # @param query [String] The (partial) search query.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of results to return (between 1 and 25).
    # @return [Object]
    def autocomplete_menu_item_search(query, opts = {})
      data, _status_code, _headers = autocomplete_menu_item_search_with_http_info(query, opts)
      data
    end

    # Autocomplete Menu Item Search
    # Generate suggestions for menu items based on a (partial) query. The matches will be found by looking in the title only.
    # @param query [String] The (partial) search query.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of results to return (between 1 and 25).
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def autocomplete_menu_item_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.autocomplete_menu_item_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DefaultApi.autocomplete_menu_item_search"
      end
      # resource path
      local_var_path = '/food/menuItems/suggest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#autocomplete_menu_item_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Autocomplete Product Search
    # Generate suggestions for grocery products based on a (partial) query. The matches will be found by looking in the title only.
    # @param query [String] The (partial) search query.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of results to return (between 1 and 25).
    # @return [Object]
    def autocomplete_product_search(query, opts = {})
      data, _status_code, _headers = autocomplete_product_search_with_http_info(query, opts)
      data
    end

    # Autocomplete Product Search
    # Generate suggestions for grocery products based on a (partial) query. The matches will be found by looking in the title only.
    # @param query [String] The (partial) search query.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of results to return (between 1 and 25).
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def autocomplete_product_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.autocomplete_product_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DefaultApi.autocomplete_product_search"
      end
      # resource path
      local_var_path = '/food/products/suggest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#autocomplete_product_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Autocomplete Recipe Search
    # Autocomplete a partial input to suggest possible recipe names.
    # @param query [String] The query to be autocompleted.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of results to return (between 1 and 25).
    # @return [Object]
    def autocomplete_recipe_search(query, opts = {})
      data, _status_code, _headers = autocomplete_recipe_search_with_http_info(query, opts)
      data
    end

    # Autocomplete Recipe Search
    # Autocomplete a partial input to suggest possible recipe names.
    # @param query [String] The query to be autocompleted.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of results to return (between 1 and 25).
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def autocomplete_recipe_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.autocomplete_recipe_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DefaultApi.autocomplete_recipe_search"
      end
      # resource path
      local_var_path = '/recipes/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#autocomplete_recipe_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Classify Cuisine
    # Classify the recipe's cuisine.
    # @param title [String] The title of the recipe.
    # @param ingredient_list [String] The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n).
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def classify_cuisine(title, ingredient_list, opts = {})
      data, _status_code, _headers = classify_cuisine_with_http_info(title, ingredient_list, opts)
      data
    end

    # Classify Cuisine
    # Classify the recipe&#39;s cuisine.
    # @param title [String] The title of the recipe.
    # @param ingredient_list [String] The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def classify_cuisine_with_http_info(title, ingredient_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.classify_cuisine ...'
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling DefaultApi.classify_cuisine"
      end
      # verify the required parameter 'ingredient_list' is set
      if @api_client.config.client_side_validation && ingredient_list.nil?
        fail ArgumentError, "Missing the required parameter 'ingredient_list' when calling DefaultApi.classify_cuisine"
      end
      # resource path
      local_var_path = '/recipes/cuisine'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['title'] = title
      form_params['ingredientList'] = ingredient_list

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#classify_cuisine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Classify Grocery Product
    # This endpoint allows you to match a packaged food to a basic category, e.g. a specific brand of milk to the category milk.
    # @param inline_object8 [InlineObject8] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :locale The display name of the returned category, supported is en_US (for American English) and en_GB (for British English).
    # @return [Object]
    def classify_grocery_product(inline_object8, opts = {})
      data, _status_code, _headers = classify_grocery_product_with_http_info(inline_object8, opts)
      data
    end

    # Classify Grocery Product
    # This endpoint allows you to match a packaged food to a basic category, e.g. a specific brand of milk to the category milk.
    # @param inline_object8 [InlineObject8] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :locale The display name of the returned category, supported is en_US (for American English) and en_GB (for British English).
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def classify_grocery_product_with_http_info(inline_object8, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.classify_grocery_product ...'
      end
      # verify the required parameter 'inline_object8' is set
      if @api_client.config.client_side_validation && inline_object8.nil?
        fail ArgumentError, "Missing the required parameter 'inline_object8' when calling DefaultApi.classify_grocery_product"
      end
      # resource path
      local_var_path = '/food/products/classify'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(inline_object8) 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#classify_grocery_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Classify Grocery Product Bulk
    # Provide a set of product jsons, get back classified products.
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :locale The display name of the returned category, supported is en_US (for American English) and en_GB (for British English).
    # @return [Object]
    def classify_grocery_product_bulk(body, opts = {})
      data, _status_code, _headers = classify_grocery_product_bulk_with_http_info(body, opts)
      data
    end

    # Classify Grocery Product Bulk
    # Provide a set of product jsons, get back classified products.
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :locale The display name of the returned category, supported is en_US (for American English) and en_GB (for British English).
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def classify_grocery_product_bulk_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.classify_grocery_product_bulk ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.classify_grocery_product_bulk"
      end
      # resource path
      local_var_path = '/food/products/classifyBatch'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#classify_grocery_product_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Convert Amounts
    # Convert amounts like \"2 cups of flour to grams\".
    # @param ingredient_name [String] The ingredient which you want to convert.
    # @param source_amount [Float] The amount from which you want to convert, e.g. the 2.5 in \&quot;2.5 cups of flour to grams\&quot;.
    # @param source_unit [String] The unit from which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
    # @param target_unit [String] The unit to which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def convert_amounts(ingredient_name, source_amount, source_unit, target_unit, opts = {})
      data, _status_code, _headers = convert_amounts_with_http_info(ingredient_name, source_amount, source_unit, target_unit, opts)
      data
    end

    # Convert Amounts
    # Convert amounts like \&quot;2 cups of flour to grams\&quot;.
    # @param ingredient_name [String] The ingredient which you want to convert.
    # @param source_amount [Float] The amount from which you want to convert, e.g. the 2.5 in \&quot;2.5 cups of flour to grams\&quot;.
    # @param source_unit [String] The unit from which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
    # @param target_unit [String] The unit to which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def convert_amounts_with_http_info(ingredient_name, source_amount, source_unit, target_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.convert_amounts ...'
      end
      # verify the required parameter 'ingredient_name' is set
      if @api_client.config.client_side_validation && ingredient_name.nil?
        fail ArgumentError, "Missing the required parameter 'ingredient_name' when calling DefaultApi.convert_amounts"
      end
      # verify the required parameter 'source_amount' is set
      if @api_client.config.client_side_validation && source_amount.nil?
        fail ArgumentError, "Missing the required parameter 'source_amount' when calling DefaultApi.convert_amounts"
      end
      # verify the required parameter 'source_unit' is set
      if @api_client.config.client_side_validation && source_unit.nil?
        fail ArgumentError, "Missing the required parameter 'source_unit' when calling DefaultApi.convert_amounts"
      end
      # verify the required parameter 'target_unit' is set
      if @api_client.config.client_side_validation && target_unit.nil?
        fail ArgumentError, "Missing the required parameter 'target_unit' when calling DefaultApi.convert_amounts"
      end
      # resource path
      local_var_path = '/recipes/convert'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ingredientName'] = ingredient_name
      query_params[:'sourceAmount'] = source_amount
      query_params[:'sourceUnit'] = source_unit
      query_params[:'targetUnit'] = target_unit

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#convert_amounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Recipe Card
    # Generate a recipe card for a recipe.
    # @param title [String] The title of the recipe.
    # @param image [File] The binary image of the recipe as jpg.
    # @param ingredients [String] The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n).
    # @param instructions [String] The instructions to make the recipe. One step per line (separate lines with \\\\n).
    # @param ready_in_minutes [Float] The number of minutes it takes to get the recipe on the table.
    # @param servings [Float] The number of servings the recipe makes.
    # @param mask [String] The mask to put over the recipe image (\\\&quot;ellipseMask\\\&quot;, \\\&quot;diamondMask\\\&quot;, \\\&quot;starMask\\\&quot;, \\\&quot;heartMask\\\&quot;, \\\&quot;potMask\\\&quot;, \\\&quot;fishMask\\\&quot;).
    # @param background_image [String] The background image (\\\&quot;none\\\&quot;,\\\&quot;background1\\\&quot;, or \\\&quot;background2\\\&quot;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :author The author of the recipe.
    # @option opts [String] :background_color The background color for the recipe card as a hex-string.
    # @option opts [String] :font_color The font color for the recipe card as a hex-string.
    # @option opts [String] :source The source of the recipe.
    # @return [Object]
    def create_recipe_card(title, image, ingredients, instructions, ready_in_minutes, servings, mask, background_image, opts = {})
      data, _status_code, _headers = create_recipe_card_with_http_info(title, image, ingredients, instructions, ready_in_minutes, servings, mask, background_image, opts)
      data
    end

    # Create Recipe Card
    # Generate a recipe card for a recipe.
    # @param title [String] The title of the recipe.
    # @param image [File] The binary image of the recipe as jpg.
    # @param ingredients [String] The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n).
    # @param instructions [String] The instructions to make the recipe. One step per line (separate lines with \\\\n).
    # @param ready_in_minutes [Float] The number of minutes it takes to get the recipe on the table.
    # @param servings [Float] The number of servings the recipe makes.
    # @param mask [String] The mask to put over the recipe image (\\\&quot;ellipseMask\\\&quot;, \\\&quot;diamondMask\\\&quot;, \\\&quot;starMask\\\&quot;, \\\&quot;heartMask\\\&quot;, \\\&quot;potMask\\\&quot;, \\\&quot;fishMask\\\&quot;).
    # @param background_image [String] The background image (\\\&quot;none\\\&quot;,\\\&quot;background1\\\&quot;, or \\\&quot;background2\\\&quot;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :author The author of the recipe.
    # @option opts [String] :background_color The background color for the recipe card as a hex-string.
    # @option opts [String] :font_color The font color for the recipe card as a hex-string.
    # @option opts [String] :source The source of the recipe.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_recipe_card_with_http_info(title, image, ingredients, instructions, ready_in_minutes, servings, mask, background_image, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_recipe_card ...'
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling DefaultApi.create_recipe_card"
      end
      # verify the required parameter 'image' is set
      if @api_client.config.client_side_validation && image.nil?
        fail ArgumentError, "Missing the required parameter 'image' when calling DefaultApi.create_recipe_card"
      end
      # verify the required parameter 'ingredients' is set
      if @api_client.config.client_side_validation && ingredients.nil?
        fail ArgumentError, "Missing the required parameter 'ingredients' when calling DefaultApi.create_recipe_card"
      end
      # verify the required parameter 'instructions' is set
      if @api_client.config.client_side_validation && instructions.nil?
        fail ArgumentError, "Missing the required parameter 'instructions' when calling DefaultApi.create_recipe_card"
      end
      # verify the required parameter 'ready_in_minutes' is set
      if @api_client.config.client_side_validation && ready_in_minutes.nil?
        fail ArgumentError, "Missing the required parameter 'ready_in_minutes' when calling DefaultApi.create_recipe_card"
      end
      # verify the required parameter 'servings' is set
      if @api_client.config.client_side_validation && servings.nil?
        fail ArgumentError, "Missing the required parameter 'servings' when calling DefaultApi.create_recipe_card"
      end
      # verify the required parameter 'mask' is set
      if @api_client.config.client_side_validation && mask.nil?
        fail ArgumentError, "Missing the required parameter 'mask' when calling DefaultApi.create_recipe_card"
      end
      # verify the required parameter 'background_image' is set
      if @api_client.config.client_side_validation && background_image.nil?
        fail ArgumentError, "Missing the required parameter 'background_image' when calling DefaultApi.create_recipe_card"
      end
      # resource path
      local_var_path = '/recipes/visualizeRecipe'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['title'] = title
      form_params['image'] = image
      form_params['ingredients'] = ingredients
      form_params['instructions'] = instructions
      form_params['readyInMinutes'] = ready_in_minutes
      form_params['servings'] = servings
      form_params['mask'] = mask
      form_params['backgroundImage'] = background_image
      form_params['author'] = opts[:'author'] if !opts[:'author'].nil?
      form_params['backgroundColor'] = opts[:'background_color'] if !opts[:'background_color'].nil?
      form_params['fontColor'] = opts[:'font_color'] if !opts[:'font_color'].nil?
      form_params['source'] = opts[:'source'] if !opts[:'source'].nil?

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_recipe_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Detect Food in Text
    # Take any text and find all mentions of food contained within it. This task is also called Named Entity Recognition (NER). In this case, the entities are foods. Either dishes, such as pizza or cheeseburger, or ingredients, such as cucumber or almonds.
    # @param text [String] The text in which food items, such as dish names and ingredients, should be detected in.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def detect_food_in_text(text, opts = {})
      data, _status_code, _headers = detect_food_in_text_with_http_info(text, opts)
      data
    end

    # Detect Food in Text
    # Take any text and find all mentions of food contained within it. This task is also called Named Entity Recognition (NER). In this case, the entities are foods. Either dishes, such as pizza or cheeseburger, or ingredients, such as cucumber or almonds.
    # @param text [String] The text in which food items, such as dish names and ingredients, should be detected in.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def detect_food_in_text_with_http_info(text, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.detect_food_in_text ...'
      end
      # verify the required parameter 'text' is set
      if @api_client.config.client_side_validation && text.nil?
        fail ArgumentError, "Missing the required parameter 'text' when calling DefaultApi.detect_food_in_text"
      end
      # resource path
      local_var_path = '/food/detect'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['text'] = text

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#detect_food_in_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Extract Recipe from Website
    # This endpoint lets you extract recipe data such as title, ingredients, and instructions from any properly formatted Website.
    # @param url [String] The URL of the recipe page.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_extraction If true, the extraction will be triggered whether we already know the recipe or not. Use this only if information is missing as this operation is slower.
    # @return [Object]
    def extract_recipe_from_website(url, opts = {})
      data, _status_code, _headers = extract_recipe_from_website_with_http_info(url, opts)
      data
    end

    # Extract Recipe from Website
    # This endpoint lets you extract recipe data such as title, ingredients, and instructions from any properly formatted Website.
    # @param url [String] The URL of the recipe page.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_extraction If true, the extraction will be triggered whether we already know the recipe or not. Use this only if information is missing as this operation is slower.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def extract_recipe_from_website_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.extract_recipe_from_website ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling DefaultApi.extract_recipe_from_website"
      end
      # resource path
      local_var_path = '/recipes/extract'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url
      query_params[:'forceExtraction'] = opts[:'force_extraction'] if !opts[:'force_extraction'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#extract_recipe_from_website\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate Meal Plan
    # Generate a meal plan with three meals per day (breakfast, lunch, and dinner).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :time_frame Either for one \&quot;day\&quot; or an entire \&quot;week\&quot;.
    # @option opts [Float] :target_calories What is the caloric target for one day? The meal plan generator will try to get as close as possible to that goal.
    # @option opts [String] :diet Enter a diet that the meal plan has to adhere to. See a full list of supported diets.
    # @option opts [String] :exclude A comma-separated list of allergens or ingredients that must be excluded.
    # @return [Object]
    def generate_meal_plan(opts = {})
      data, _status_code, _headers = generate_meal_plan_with_http_info(opts)
      data
    end

    # Generate Meal Plan
    # Generate a meal plan with three meals per day (breakfast, lunch, and dinner).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :time_frame Either for one \&quot;day\&quot; or an entire \&quot;week\&quot;.
    # @option opts [Float] :target_calories What is the caloric target for one day? The meal plan generator will try to get as close as possible to that goal.
    # @option opts [String] :diet Enter a diet that the meal plan has to adhere to. See a full list of supported diets.
    # @option opts [String] :exclude A comma-separated list of allergens or ingredients that must be excluded.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def generate_meal_plan_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.generate_meal_plan ...'
      end
      # resource path
      local_var_path = '/mealplanner/generate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'timeFrame'] = opts[:'time_frame'] if !opts[:'time_frame'].nil?
      query_params[:'targetCalories'] = opts[:'target_calories'] if !opts[:'target_calories'].nil?
      query_params[:'diet'] = opts[:'diet'] if !opts[:'diet'].nil?
      query_params[:'exclude'] = opts[:'exclude'] if !opts[:'exclude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#generate_meal_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Random Food Joke
    # Get a random joke that is related to food. Caution: this is an endpoint for adults!
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_a_random_food_joke(opts = {})
      data, _status_code, _headers = get_a_random_food_joke_with_http_info(opts)
      data
    end

    # Get a Random Food Joke
    # Get a random joke that is related to food. Caution: this is an endpoint for adults!
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_a_random_food_joke_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_a_random_food_joke ...'
      end
      # resource path
      local_var_path = '/food/jokes/random'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_a_random_food_joke\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Analyzed Recipe Instructions
    # Get an analyzed breakdown of a recipe's instructions. Each step is enriched with the ingredients and equipment required.
    # @param id [Float] The recipe id.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :step_breakdown Whether to break down the recipe steps even more.
    # @return [Object]
    def get_analyzed_recipe_instructions(id, opts = {})
      data, _status_code, _headers = get_analyzed_recipe_instructions_with_http_info(id, opts)
      data
    end

    # Get Analyzed Recipe Instructions
    # Get an analyzed breakdown of a recipe&#39;s instructions. Each step is enriched with the ingredients and equipment required.
    # @param id [Float] The recipe id.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :step_breakdown Whether to break down the recipe steps even more.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_analyzed_recipe_instructions_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_analyzed_recipe_instructions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_analyzed_recipe_instructions"
      end
      # resource path
      local_var_path = '/recipes/{id}/analyzedInstructions'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'stepBreakdown'] = opts[:'step_breakdown'] if !opts[:'step_breakdown'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_analyzed_recipe_instructions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Comparable Products
    # Find comparable products to the given one.
    # @param upc [Float] The UPC of the product for which you want to find comparable products.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_comparable_products(upc, opts = {})
      data, _status_code, _headers = get_comparable_products_with_http_info(upc, opts)
      data
    end

    # Get Comparable Products
    # Find comparable products to the given one.
    # @param upc [Float] The UPC of the product for which you want to find comparable products.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_comparable_products_with_http_info(upc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_comparable_products ...'
      end
      # verify the required parameter 'upc' is set
      if @api_client.config.client_side_validation && upc.nil?
        fail ArgumentError, "Missing the required parameter 'upc' when calling DefaultApi.get_comparable_products"
      end
      # resource path
      local_var_path = '/food/products/upc/{upc}/comparable'.sub('{' + 'upc' + '}', upc.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_comparable_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Conversation Suggests
    # This endpoint returns suggestions for things the user can say or ask the chatbot.
    # @param query [String] A (partial) query from the user. The endpoint will return if it matches topics it can talk about.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of suggestions to return (between 1 and 25).
    # @return [Object]
    def get_conversation_suggests(query, opts = {})
      data, _status_code, _headers = get_conversation_suggests_with_http_info(query, opts)
      data
    end

    # Get Conversation Suggests
    # This endpoint returns suggestions for things the user can say or ask the chatbot.
    # @param query [String] A (partial) query from the user. The endpoint will return if it matches topics it can talk about.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of suggestions to return (between 1 and 25).
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_conversation_suggests_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_conversation_suggests ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling DefaultApi.get_conversation_suggests"
      end
      # resource path
      local_var_path = '/food/converse/suggest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_conversation_suggests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Dish Pairing for Wine
    # Find a dish that goes well with a given wine.
    # @param wine [String] The type of wine that should be paired, e.g. \&quot;merlot\&quot;, \&quot;riesling\&quot;, or \&quot;malbec\&quot;.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_dish_pairing_for_wine(wine, opts = {})
      data, _status_code, _headers = get_dish_pairing_for_wine_with_http_info(wine, opts)
      data
    end

    # Get Dish Pairing for Wine
    # Find a dish that goes well with a given wine.
    # @param wine [String] The type of wine that should be paired, e.g. \&quot;merlot\&quot;, \&quot;riesling\&quot;, or \&quot;malbec\&quot;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_dish_pairing_for_wine_with_http_info(wine, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_dish_pairing_for_wine ...'
      end
      # verify the required parameter 'wine' is set
      if @api_client.config.client_side_validation && wine.nil?
        fail ArgumentError, "Missing the required parameter 'wine' when calling DefaultApi.get_dish_pairing_for_wine"
      end
      # resource path
      local_var_path = '/food/wine/dishes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wine'] = wine

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_dish_pairing_for_wine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Ingredient Information
    # Use an ingredient id to get all available information about an ingredient, such as its image and supermarket aisle.
    # @param id [Float] The ingredient id.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :amount The amount of this ingredient.
    # @option opts [String] :unit The unit for the given amount.
    # @return [Object]
    def get_ingredient_information(id, opts = {})
      data, _status_code, _headers = get_ingredient_information_with_http_info(id, opts)
      data
    end

    # Get Ingredient Information
    # Use an ingredient id to get all available information about an ingredient, such as its image and supermarket aisle.
    # @param id [Float] The ingredient id.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :amount The amount of this ingredient.
    # @option opts [String] :unit The unit for the given amount.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_ingredient_information_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_ingredient_information ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_ingredient_information"
      end
      # resource path
      local_var_path = '/food/ingredients/{id}/information'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'unit'] = opts[:'unit'] if !opts[:'unit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_ingredient_information\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Ingredient Substitutes
    # Search for substitutes for a given ingredient.
    # @param ingredient_name [String] The name of the ingredient you want to replace.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_ingredient_substitutes(ingredient_name, opts = {})
      data, _status_code, _headers = get_ingredient_substitutes_with_http_info(ingredient_name, opts)
      data
    end

    # Get Ingredient Substitutes
    # Search for substitutes for a given ingredient.
    # @param ingredient_name [String] The name of the ingredient you want to replace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_ingredient_substitutes_with_http_info(ingredient_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_ingredient_substitutes ...'
      end
      # verify the required parameter 'ingredient_name' is set
      if @api_client.config.client_side_validation && ingredient_name.nil?
        fail ArgumentError, "Missing the required parameter 'ingredient_name' when calling DefaultApi.get_ingredient_substitutes"
      end
      # resource path
      local_var_path = '/food/ingredients/substitutes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ingredientName'] = ingredient_name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_ingredient_substitutes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Ingredient Substitutes by ID
    # Search for substitutes for a given ingredient.
    # @param id [Float] The id of the ingredient you want substitutes for.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_ingredient_substitutes_by_id(id, opts = {})
      data, _status_code, _headers = get_ingredient_substitutes_by_id_with_http_info(id, opts)
      data
    end

    # Get Ingredient Substitutes by ID
    # Search for substitutes for a given ingredient.
    # @param id [Float] The id of the ingredient you want substitutes for.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_ingredient_substitutes_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_ingredient_substitutes_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_ingredient_substitutes_by_id"
      end
      # resource path
      local_var_path = '/food/ingredients/{id}/substitutes'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_ingredient_substitutes_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Menu Item Information
    # Use a menu item id to get all available information about a menu item, such as nutrition.
    # @param id [Float] The menu item id.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_menu_item_information(id, opts = {})
      data, _status_code, _headers = get_menu_item_information_with_http_info(id, opts)
      data
    end

    # Get Menu Item Information
    # Use a menu item id to get all available information about a menu item, such as nutrition.
    # @param id [Float] The menu item id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_menu_item_information_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_menu_item_information ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_menu_item_information"
      end
      # resource path
      local_var_path = '/food/menuItems/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_menu_item_information\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Product Information
    # Use a product id to get full information about a product, such as ingredients, nutrition, etc.
    # @param id [Float] The id of the packaged food.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_product_information(id, opts = {})
      data, _status_code, _headers = get_product_information_with_http_info(id, opts)
      data
    end

    # Get Product Information
    # Use a product id to get full information about a product, such as ingredients, nutrition, etc.
    # @param id [Float] The id of the packaged food.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_product_information_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_product_information ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_product_information"
      end
      # resource path
      local_var_path = '/food/products/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_product_information\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Random Food Trivia
    # Returns random food trivia.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_random_food_trivia(opts = {})
      data, _status_code, _headers = get_random_food_trivia_with_http_info(opts)
      data
    end

    # Get Random Food Trivia
    # Returns random food trivia.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_random_food_trivia_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_random_food_trivia ...'
      end
      # resource path
      local_var_path = '/food/trivia/random'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_random_food_trivia\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Random Recipes
    # Find random (popular) recipes. If you need to filter recipes by diet, nutrition etc. you might want to consider using the complex recipe search endpoint and set the sort request parameter to random.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :limit_license Whether the recipes should have an open license that allows display with proper attribution.
    # @option opts [String] :tags The tags (can be diets, meal types, cuisines, or intolerances) that the recipe must have.
    # @option opts [Float] :number The number of random recipes to be returned (between 1 and 100).
    # @return [Object]
    def get_random_recipes(opts = {})
      data, _status_code, _headers = get_random_recipes_with_http_info(opts)
      data
    end

    # Get Random Recipes
    # Find random (popular) recipes. If you need to filter recipes by diet, nutrition etc. you might want to consider using the complex recipe search endpoint and set the sort request parameter to random.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :limit_license Whether the recipes should have an open license that allows display with proper attribution.
    # @option opts [String] :tags The tags (can be diets, meal types, cuisines, or intolerances) that the recipe must have.
    # @option opts [Float] :number The number of random recipes to be returned (between 1 and 100).
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_random_recipes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_random_recipes ...'
      end
      # resource path
      local_var_path = '/recipes/random'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limitLicense'] = opts[:'limit_license'] if !opts[:'limit_license'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_random_recipes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Recipe Equipment by ID
    # Get a recipe's equipment list.
    # @param id [Float] The recipe id.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_recipe_equipment_by_id(id, opts = {})
      data, _status_code, _headers = get_recipe_equipment_by_id_with_http_info(id, opts)
      data
    end

    # Get Recipe Equipment by ID
    # Get a recipe&#39;s equipment list.
    # @param id [Float] The recipe id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_recipe_equipment_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_recipe_equipment_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_recipe_equipment_by_id"
      end
      # resource path
      local_var_path = '/recipes/{id}/equipmentWidget.json'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_recipe_equipment_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Recipe Information
    # Use a recipe id to get full information about a recipe, such as ingredients, nutrition, diet and allergen information, etc.
    # @param id [Float] The id of the recipe.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_nutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.
    # @return [Object]
    def get_recipe_information(id, opts = {})
      data, _status_code, _headers = get_recipe_information_with_http_info(id, opts)
      data
    end

    # Get Recipe Information
    # Use a recipe id to get full information about a recipe, such as ingredients, nutrition, diet and allergen information, etc.
    # @param id [Float] The id of the recipe.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_nutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_recipe_information_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_recipe_information ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_recipe_information"
      end
      # resource path
      local_var_path = '/recipes/{id}/information'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeNutrition'] = opts[:'include_nutrition'] if !opts[:'include_nutrition'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_recipe_information\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Recipe Information Bulk
    # Get information about multiple recipes at once. This is equivalent to calling the Get Recipe Information endpoint multiple times, but faster.
    # @param ids [String] A comma-separated list of recipe ids.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_nutrition Include nutrition data to the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.
    # @return [Object]
    def get_recipe_information_bulk(ids, opts = {})
      data, _status_code, _headers = get_recipe_information_bulk_with_http_info(ids, opts)
      data
    end

    # Get Recipe Information Bulk
    # Get information about multiple recipes at once. This is equivalent to calling the Get Recipe Information endpoint multiple times, but faster.
    # @param ids [String] A comma-separated list of recipe ids.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_nutrition Include nutrition data to the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_recipe_information_bulk_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_recipe_information_bulk ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DefaultApi.get_recipe_information_bulk"
      end
      # resource path
      local_var_path = '/recipes/informationBulk'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids
      query_params[:'includeNutrition'] = opts[:'include_nutrition'] if !opts[:'include_nutrition'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_recipe_information_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Recipe Ingredients by ID
    # Get a recipe's ingredient list.
    # @param id [Float] The recipe id.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_recipe_ingredients_by_id(id, opts = {})
      data, _status_code, _headers = get_recipe_ingredients_by_id_with_http_info(id, opts)
      data
    end

    # Get Recipe Ingredients by ID
    # Get a recipe&#39;s ingredient list.
    # @param id [Float] The recipe id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_recipe_ingredients_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_recipe_ingredients_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_recipe_ingredients_by_id"
      end
      # resource path
      local_var_path = '/recipes/{id}/ingredientWidget.json'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_recipe_ingredients_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Recipe Nutrition Widget by ID
    # Get a recipe's nutrition widget data.
    # @param id [Float] The recipe id.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_recipe_nutrition_widget_by_id(id, opts = {})
      data, _status_code, _headers = get_recipe_nutrition_widget_by_id_with_http_info(id, opts)
      data
    end

    # Get Recipe Nutrition Widget by ID
    # Get a recipe&#39;s nutrition widget data.
    # @param id [Float] The recipe id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_recipe_nutrition_widget_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_recipe_nutrition_widget_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_recipe_nutrition_widget_by_id"
      end
      # resource path
      local_var_path = '/recipes/{id}/nutritionWidget.json'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_recipe_nutrition_widget_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Recipe Price Breakdown by ID
    # Get a recipe's price breakdown data.
    # @param id [Float] The recipe id.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_recipe_price_breakdown_by_id(id, opts = {})
      data, _status_code, _headers = get_recipe_price_breakdown_by_id_with_http_info(id, opts)
      data
    end

    # Get Recipe Price Breakdown by ID
    # Get a recipe&#39;s price breakdown data.
    # @param id [Float] The recipe id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_recipe_price_breakdown_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_recipe_price_breakdown_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_recipe_price_breakdown_by_id"
      end
      # resource path
      local_var_path = '/recipes/{id}/priceBreakdownWidget.json'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_recipe_price_breakdown_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Similar Recipes
    # Find recipes which are similar to the given one.
    # @param id [Float] The id of the source recipe for which similar recipes should be found.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of random recipes to be returned (between 1 and 100).
    # @return [Object]
    def get_similar_recipes(id, opts = {})
      data, _status_code, _headers = get_similar_recipes_with_http_info(id, opts)
      data
    end

    # Get Similar Recipes
    # Find recipes which are similar to the given one.
    # @param id [Float] The id of the source recipe for which similar recipes should be found.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :number The number of random recipes to be returned (between 1 and 100).
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_similar_recipes_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_similar_recipes ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_similar_recipes"
      end
      # resource path
      local_var_path = '/recipes/{id}/similar'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_similar_recipes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Wine Description
    # Get a simple description of a certain wine, e.g. \"malbec\", \"riesling\", or \"merlot\".
    # @param wine [String] The name of the wine that should be paired, e.g. \&quot;merlot\&quot;, \&quot;riesling\&quot;, or \&quot;malbec\&quot;.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_wine_description(wine, opts = {})
      data, _status_code, _headers = get_wine_description_with_http_info(wine, opts)
      data
    end

    # Get Wine Description
    # Get a simple description of a certain wine, e.g. \&quot;malbec\&quot;, \&quot;riesling\&quot;, or \&quot;merlot\&quot;.
    # @param wine [String] The name of the wine that should be paired, e.g. \&quot;merlot\&quot;, \&quot;riesling\&quot;, or \&quot;malbec\&quot;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_wine_description_with_http_info(wine, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_wine_description ...'
      end
      # verify the required parameter 'wine' is set
      if @api_client.config.client_side_validation && wine.nil?
        fail ArgumentError, "Missing the required parameter 'wine' when calling DefaultApi.get_wine_description"
      end
      # resource path
      local_var_path = '/food/wine/description'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wine'] = wine

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Object' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
[...]
