openapi: 3.0.0
info:
  contact:
    email: mail@spoonacular.com
    name: David Urbansky
    url: https://spoonacular.com/contact
  description: "The spoonacular Nutrition, Recipe, and Food API allows you to access\
    \ over thousands of recipes, thousands of ingredients, 800,000 food products,\
    \ over 100,000 menu items, and restaurants. Our food ontology and semantic recipe\
    \ search engine makes it possible to search for recipes using natural language\
    \ queries, such as \"gluten free brownies without sugar\" or \"low fat vegan cupcakes.\"\
    \ You can automatically calculate the nutritional information for any recipe,\
    \ analyze recipe costs, visualize ingredient lists, find recipes for what's in\
    \ your fridge, find recipes based on special diets, nutritional requirements,\
    \ or favorite ingredients, classify recipes into types and cuisines, convert ingredient\
    \ amounts, or even compute an entire meal plan. With our powerful API, you can\
    \ create many kinds of food and especially nutrition apps.\n\nSpecial diets/dietary\
    \ requirements currently available include: vegan, vegetarian, pescetarian, gluten\
    \ free, grain free, dairy free, high protein, whole 30, low sodium, low carb,\
    \ Paleo, ketogenic, FODMAP, and Primal."
  license:
    name: spoonacular API Terms
    url: https://spoonacular.com/food-api/terms
  termsOfService: https://spoonacular.com/food-api/terms
  title: spoonacular API
  version: "1.1"
  x-codegen-settings:
    Nullify404: false
    GenerateAsyncCode: true
    UseMethodPrefix: true
    UseModelPostfix: false
    UseControllerPrefix: true
    UseEnumPostfix: true
    CollectParameters: false
    UseConstructorsForConfig: true
    UseCommonSDKLibrary: false
    iOSUseAppInfoPlist: true
    AndroidUseAppManifest: true
    BodySerialization: 0
    EnableAdditionalModelProperties: false
    PreserveParameterOrder: false
    AppendContentHeaders: true
    iOSGenerateCoreData: false
    GenerateInterfaces: false
    NodeHttpClient: NODE_REQUEST
    ValidateRequiredParameters: false
    JavaUsePropertiesConfig: false
    Timeout: 0
    StoreTimezoneInformation: false
    EnablePHPComposerVersionString: false
    EnableLogging: false
    ArraySerialization: Indexed
    ModelSerializationScheme: Json
    UseExceptionPrefix: true
    RunscopeEnabled: false
    JavaHttpClient: JAVA_OK
    ParameterArrayFormat: ParamArrayWithIndex
    SecurityProtocols:
    - Ssl3
    - Tls
    GenerateTravisConfig: false
    GenerateCircleConfig: false
    GenerateAppveyorConfig: false
    GenerateJenkinsConfig: false
    EnableHttpCache: false
    Retries: 0
    RetryInterval: 1
    GenerateAdvancedDocs: false
    UnderscoreNumbers: true
    UseSingletonPattern: true
    DisableLinting: false
    ApplyCustomizations: []
    SortResources: false
    AllowSkippingSSLCertVerification: false
    DoNotSplitWords: []
    EnableGlobalUserAgent: true
    ReturnCompleteHttpResponse: false
    GenerateModels: true
    GenerateExceptions: true
    IgnoreIfNullJson: false
    DisableDocs: false
    LiftParameterDescriptionFromCustomType: false
    ThrowForHttpErrorStatusCodes: true
    ResponseMapping:
      Type: Simple
    ForceKeywordArgsInRuby: false
    SymbolizeHashKeysInRuby: false
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://api.spoonacular.com
    parameters: []
externalDocs:
  description: The official documentation.
  url: https://spoonacular.com/food-api/docs
servers:
- url: https://api.spoonacular.com
security:
- apiKeyScheme: []
tags:
- name: ingredients
- name: meal planning
- name: menu items
- name: misc
- name: products
- name: recipes
- name: wine
paths:
  /recipes/complexSearch:
    get:
      deprecated: false
      description: "Search through hundreds of thousands of recipes using advanced\
        \ filtering and ranking. NOTE: This method combines searching by query, by\
        \ ingredients, and by nutrients into one endpoint."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Recipes
      operationId: searchRecipes
      parameters:
      - description: The (natural language) search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          example: burger
          type: string
        style: form
      - description: "The cuisine(s) of the recipes. One or more, comma separated\
          \ (will be interpreted as 'OR'). See a full list of supported cuisines."
        explode: false
        in: query
        name: cuisine
        required: false
        schema:
          example: italian
          type: string
        style: form
      - description: "The cuisine(s) the recipes must not match. One or more, comma\
          \ separated (will be interpreted as 'AND'). See a full list of supported\
          \ cuisines."
        explode: false
        in: query
        name: excludeCuisine
        required: false
        schema:
          example: greek
          type: string
        style: form
      - description: The diet for which the recipes must be suitable. See a full list
          of supported diets.
        explode: false
        in: query
        name: diet
        required: false
        schema:
          example: vegetarian
          type: string
        style: form
      - description: A comma-separated list of intolerances. All recipes returned
          must not contain ingredients that are not suitable for people with the intolerances
          entered. See a full list of supported intolerances.
        explode: false
        in: query
        name: intolerances
        required: false
        schema:
          example: gluten
          type: string
        style: form
      - description: "The equipment required. Multiple values will be interpreted\
          \ as 'or'. For example, value could be \"blender, frying pan, bowl\"."
        explode: false
        in: query
        name: equipment
        required: false
        schema:
          example: pan
          type: string
        style: form
      - description: A comma-separated list of ingredients that should/must be used
          in the recipes.
        explode: false
        in: query
        name: includeIngredients
        required: false
        schema:
          example: "tomato,cheese"
          type: string
        style: form
      - description: A comma-separated list of ingredients or ingredient types that
          the recipes must not contain.
        explode: false
        in: query
        name: excludeIngredients
        required: false
        schema:
          example: eggs
          type: string
        style: form
      - description: The type of recipe. See a full list of supported meal types.
        explode: false
        in: query
        name: type
        required: false
        schema:
          example: main course
          type: string
        style: form
      - description: Whether the recipes must have instructions.
        explode: false
        in: query
        name: instructionsRequired
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Add information about the ingredients and whether they are used
          or missing in relation to the query.
        explode: false
        in: query
        name: fillIngredients
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: "If set to true, you get more information about the recipes returned."
        explode: false
        in: query
        name: addRecipeInformation
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: "If set to true, you get nutritional information about each recipes\
          \ returned."
        explode: false
        in: query
        name: addRecipeNutrition
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: The username of the recipe author.
        explode: false
        in: query
        name: author
        required: false
        schema:
          example: coffeebean
          type: string
        style: form
      - description: "The tags (can be diets, meal types, cuisines, or intolerances)\
          \ that the recipe must have."
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: The id of the recipe box to which the search should be limited
          to.
        explode: false
        in: query
        name: recipeBoxId
        required: false
        schema:
          example: 2468
          type: number
        style: form
      - description: Enter text that must be found in the title of the recipes.
        explode: false
        in: query
        name: titleMatch
        required: false
        schema:
          example: Crock Pot
          type: string
        style: form
      - description: The maximum time in minutes it should take to prepare and cook
          the recipe.
        explode: false
        in: query
        name: maxReadyTime
        required: false
        schema:
          example: 20
          type: number
        style: form
      - description: "Whether to ignore typical pantry items, such as water, salt,\
          \ flour, etc."
        explode: true
        in: query
        name: ignorePantry
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: The strategy to sort recipes by. See a full list of supported
          sorting options.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          example: calories
          type: string
        style: form
      - description: The direction in which to sort. Must be either 'asc' (ascending)
          or 'desc' (descending).
        explode: false
        in: query
        name: sortDirection
        required: false
        schema:
          example: asc
          type: string
        style: form
      - description: The minimum amount of carbohydrates in grams the recipe must
          have.
        explode: false
        in: query
        name: minCarbs
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: The maximum amount of carbohydrates in grams the recipe can have.
        explode: false
        in: query
        name: maxCarbs
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of protein in grams the recipe must have.
        explode: false
        in: query
        name: minProtein
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: The maximum amount of protein in grams the recipe can have.
        explode: false
        in: query
        name: maxProtein
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of calories the recipe must have.
        explode: false
        in: query
        name: minCalories
        required: false
        schema:
          example: 50
          type: number
        style: form
      - description: The maximum amount of calories the recipe can have.
        explode: false
        in: query
        name: maxCalories
        required: false
        schema:
          example: 800
          type: number
        style: form
      - description: The minimum amount of fat in grams the recipe must have.
        explode: false
        in: query
        name: minFat
        required: false
        schema:
          example: 1
          type: number
        style: form
      - description: The maximum amount of fat in grams the recipe can have.
        explode: false
        in: query
        name: maxFat
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of alcohol in grams the recipe must have.
        explode: false
        in: query
        name: minAlcohol
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of alcohol in grams the recipe can have.
        explode: false
        in: query
        name: maxAlcohol
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of caffeine in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minCaffeine
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of caffeine in milligrams the recipe can have.
        explode: false
        in: query
        name: maxCaffeine
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of copper in milligrams the recipe must have.
        explode: false
        in: query
        name: minCopper
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of copper in milligrams the recipe can have.
        explode: false
        in: query
        name: maxCopper
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of calcium in milligrams the recipe must have.
        explode: false
        in: query
        name: minCalcium
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of calcium in milligrams the recipe can have.
        explode: false
        in: query
        name: maxCalcium
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of choline in milligrams the recipe must have.
        explode: false
        in: query
        name: minCholine
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of choline in milligrams the recipe can have.
        explode: false
        in: query
        name: maxCholine
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of cholesterol in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minCholesterol
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of cholesterol in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxCholesterol
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of fluoride in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minFluoride
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of fluoride in milligrams the recipe can have.
        explode: false
        in: query
        name: maxFluoride
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of saturated fat in grams the recipe must
          have.
        explode: false
        in: query
        name: minSaturatedFat
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of saturated fat in grams the recipe can have.
        explode: false
        in: query
        name: maxSaturatedFat
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin A in IU the recipe must have.
        explode: false
        in: query
        name: minVitaminA
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin A in IU the recipe can have.
        explode: false
        in: query
        name: maxVitaminA
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin C milligrams the recipe must have.
        explode: false
        in: query
        name: minVitaminC
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin C in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminC
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin D in micrograms the recipe must
          have.
        explode: false
        in: query
        name: minVitaminD
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin D in micrograms the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminD
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin E in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminE
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin E in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminE
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin K in micrograms the recipe must
          have.
        explode: false
        in: query
        name: minVitaminK
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin K in micrograms the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminK
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B1 in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB1
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B1 in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB1
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B2 in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB2
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B2 in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB2
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B5 in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB5
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B5 in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB5
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B3 in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB3
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B3 in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB3
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B6 in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB6
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B6 in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB6
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B12 in micrograms the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB12
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B12 in micrograms the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB12
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of fiber in grams the recipe must have.
        explode: false
        in: query
        name: minFiber
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of fiber in grams the recipe can have.
        explode: false
        in: query
        name: maxFiber
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of folate in micrograms the recipe must have.
        explode: false
        in: query
        name: minFolate
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of folate in micrograms the recipe can have.
        explode: false
        in: query
        name: maxFolate
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of folic acid in micrograms the recipe must
          have.
        explode: false
        in: query
        name: minFolicAcid
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of folic acid in micrograms the recipe can
          have.
        explode: false
        in: query
        name: maxFolicAcid
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of iodine in micrograms the recipe must have.
        explode: false
        in: query
        name: minIodine
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of iodine in micrograms the recipe can have.
        explode: false
        in: query
        name: maxIodine
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of iron in milligrams the recipe must have.
        explode: false
        in: query
        name: minIron
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of iron in milligrams the recipe can have.
        explode: false
        in: query
        name: maxIron
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of magnesium in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minMagnesium
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of magnesium in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxMagnesium
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of manganese in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minManganese
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of manganese in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxManganese
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of phosphorus in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minPhosphorus
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of phosphorus in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxPhosphorus
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of potassium in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minPotassium
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of potassium in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxPotassium
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of selenium in micrograms the recipe must
          have.
        explode: false
        in: query
        name: minSelenium
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of selenium in micrograms the recipe can have.
        explode: false
        in: query
        name: maxSelenium
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of sodium in milligrams the recipe must have.
        explode: false
        in: query
        name: minSodium
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of sodium in milligrams the recipe can have.
        explode: false
        in: query
        name: maxSodium
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of sugar in grams the recipe must have.
        explode: false
        in: query
        name: minSugar
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of sugar in grams the recipe can have.
        explode: false
        in: query
        name: maxSugar
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of zinc in milligrams the recipe must have.
        explode: false
        in: query
        name: minZinc
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of zinc in milligrams the recipe can have.
        explode: false
        in: query
        name: maxZinc
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The number of results to skip (between 0 and 900).
        explode: true
        in: query
        name: offset
        required: false
        schema:
          maximum: 900
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items to return (between 1 and 100). Defaults
          to 10.
        explode: true
        in: query
        name: number
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Whether the recipes should have an open license that allows display
          with proper attribution.
        explode: true
        in: query
        name: limitLicense
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    offset: 0
                    number: 2
                    results:
                    - id: 716429
                      title: "Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs"
                      calories: 584
                      carbs: 84g
                      fat: 20g
                      image: https://spoonacular.com/recipeImages/716429-312x231.jpg
                      imageType: jpg
                      protein: 19g
                    - id: 715538
                      title: What to make for dinner tonight?? Bruschetta Style Pork
                        & Pasta
                      calories: 521
                      carbs: 69g
                      fat: 10g
                      image: https://spoonacular.com/recipeImages/715538-312x231.jpg
                      imageType: jpg
                      protein: 35g
                    totalResults: 86
              schema:
                $ref: '#/components/schemas/searchRecipes_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Search Recipes
      tags:
      - recipes
  /recipes/findByIngredients:
    get:
      deprecated: false
      description: "\nEver wondered what recipes you can cook with the ingredients\
        \ you have in your fridge or pantry? This endpoint lets you find recipes that\
        \ either maximize the usage of ingredients you have at hand (pre shopping)\
        \ or minimize the ingredients that you don't currently have (post shopping).\n\
        \        "
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Recipes-by-Ingredients
      operationId: searchRecipesByIngredients
      parameters:
      - description: A comma-separated list of ingredients that the recipes should
          contain.
        explode: true
        in: query
        name: ingredients
        required: false
        schema:
          example: "carrots,tomatoes"
          type: string
        style: form
      - description: The maximum number of items to return (between 1 and 100). Defaults
          to 10.
        explode: true
        in: query
        name: number
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Whether the recipes should have an open license that allows display
          with proper attribution.
        explode: true
        in: query
        name: limitLicense
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: Whether to maximize used ingredients (1) or minimize missing
          ingredients (2) first.
        explode: false
        in: query
        name: ranking
        required: false
        schema:
          example: 1
          type: number
        style: form
      - description: "Whether to ignore typical pantry items, such as water, salt,\
          \ flour, etc."
        explode: true
        in: query
        name: ignorePantry
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: 73420
                    image: https://spoonacular.com/recipeImages/73420-312x231.jpg
                    imageType: jpg
                    likes: 0
                    missedIngredientCount: 3
                    missedIngredients:
                    - aisle: Baking
                      amount: 1
                      id: 18371
                      image: https://spoonacular.com/cdn/ingredients_100x100/white-powder.jpg
                      meta: []
                      name: baking powder
                      original: 1 tsp baking powder
                      originalName: baking powder
                      unit: tsp
                      unitLong: teaspoon
                      unitShort: tsp
                    - aisle: Spices and Seasonings
                      amount: 1
                      id: 2010
                      image: https://spoonacular.com/cdn/ingredients_100x100/cinnamon.jpg
                      meta: []
                      name: cinnamon
                      original: 1 tsp cinnamon
                      originalName: cinnamon
                      unit: tsp
                      unitLong: teaspoon
                      unitShort: tsp
                    - aisle: "Milk, Eggs, Other Dairy"
                      amount: 1
                      id: 1123
                      image: https://spoonacular.com/cdn/ingredients_100x100/egg.png
                      meta: []
                      name: egg
                      original: 1 egg
                      originalName: egg
                      unit: ""
                      unitLong: ""
                      unitShort: ""
                    title: Apple Or Peach Strudel
                    unusedIngredients: []
                    usedIngredientCount: 1
                    usedIngredients:
                    - aisle: Produce
                      amount: 6
                      id: 9003
                      image: https://spoonacular.com/cdn/ingredients_100x100/apple.jpg
                      meta: []
                      name: apples
                      original: 6 large baking apples
                      originalName: baking apples
                      unit: large
                      unitLong: larges
                      unitShort: large
                  - id: 632660
                    image: https://spoonacular.com/recipeImages/632660-312x231.jpg
                    imageType: jpg
                    likes: 3
                    missedIngredientCount: 4
                    missedIngredients:
                    - aisle: "Milk, Eggs, Other Dairy"
                      amount: 1.5
                      extendedName: unsalted butter
                      id: 1001
                      image: https://spoonacular.com/cdn/ingredients_100x100/butter-sliced.jpg
                      meta:
                      - unsalted
                      - cold
                      name: butter
                      original: 1 1/2 sticks cold unsalted butter cold unsalted butter<
                      originalName: cold unsalted butter cold unsalted butter<
                      unit: sticks
                      unitLong: sticks
                      unitShort: sticks
                    - aisle: Produce
                      amount: 4
                      id: 1079003
                      image: https://spoonacular.com/cdn/ingredients_100x100/red-delicious-apples.png
                      meta:
                      - red
                      - " such as golden delicious, peeled, cored and cut into 1/4-inch-thick\
                        \ slices "
                      name: red apples
                      original: "4 larges red apples, such as Golden Delicious, peeled,\
                        \ cored and cut into 1/4-inch-thick slices"
                      originalName: "s red apples, such as Golden Delicious, peeled,\
                        \ cored and cut into 1/4-inch-thick slices"
                      unit: large
                      unitLong: larges
                      unitShort: large
                    - aisle: Spices and Seasonings
                      amount: 2
                      id: 2010
                      image: https://spoonacular.com/cdn/ingredients_100x100/cinnamon.jpg
                      meta: []
                      name: cinnamon
                      original: 2 teaspoons cinnamon
                      originalName: cinnamon
                      unit: teaspoons
                      unitLong: teaspoons
                      unitShort: tsp
                    - aisle: "Nut butters, Jams, and Honey"
                      amount: 2
                      id: 19719
                      image: https://spoonacular.com/cdn/ingredients_100x100/apricot-jam.jpg
                      meta:
                      - melted
                      name: apricot preserves
                      original: "2 tablespoons apricot preserves, melted and strained"
                      originalName: "apricot preserves, melted and strained"
                      unit: tablespoons
                      unitLong: tablespoons
                      unitShort: Tbsp
                    title: Apricot Glazed Apple Tart
                    unusedIngredients:
                    - aisle: Produce
                      amount: 1
                      id: 9003
                      image: https://spoonacular.com/cdn/ingredients_100x100/apple.jpg
                      meta: []
                      name: apples
                      original: apples
                      originalName: apples
                      unit: serving
                      unitLong: serving
                      unitShort: serving
                    usedIngredientCount: 0
                    usedIngredients: []
              schema:
                description: ""
                items:
                  $ref: '#/components/schemas/searchRecipesByIngredients_200_response_inner'
                minItems: 0
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                  - id: 73420
                    image: https://spoonacular.com/recipeImages/73420-312x231.jpg
                    imageType: jpg
                    likes: 0
                    missedIngredientCount: 3
                    missedIngredients:
                    - aisle: Baking
                      amount: 1
                      id: 18371
                      image: https://spoonacular.com/cdn/ingredients_100x100/white-powder.jpg
                      meta: []
                      name: baking powder
                      original: 1 tsp baking powder
                      originalName: baking powder
                      unit: tsp
                      unitLong: teaspoon
                      unitShort: tsp
                    - aisle: Spices and Seasonings
                      amount: 1
                      id: 2010
                      image: https://spoonacular.com/cdn/ingredients_100x100/cinnamon.jpg
                      meta: []
                      name: cinnamon
                      original: 1 tsp cinnamon
                      originalName: cinnamon
                      unit: tsp
                      unitLong: teaspoon
                      unitShort: tsp
                    - aisle: "Milk, Eggs, Other Dairy"
                      amount: 1
                      id: 1123
                      image: https://spoonacular.com/cdn/ingredients_100x100/egg.png
                      meta: []
                      name: egg
                      original: 1 egg
                      originalName: egg
                      unit: ""
                      unitLong: ""
                      unitShort: ""
                    title: Apple Or Peach Strudel
                    unusedIngredients: []
                    usedIngredientCount: 1
                    usedIngredients:
                    - aisle: Produce
                      amount: 6
                      id: 9003
                      image: https://spoonacular.com/cdn/ingredients_100x100/apple.jpg
                      meta: []
                      name: apples
                      original: 6 large baking apples
                      originalName: baking apples
                      unit: large
                      unitLong: larges
                      unitShort: large
                  - id: 632660
                    image: https://spoonacular.com/recipeImages/632660-312x231.jpg
                    imageType: jpg
                    likes: 3
                    missedIngredientCount: 4
                    missedIngredients:
                    - aisle: "Milk, Eggs, Other Dairy"
                      amount: 1.5
                      extendedName: unsalted butter
                      id: 1001
                      image: https://spoonacular.com/cdn/ingredients_100x100/butter-sliced.jpg
                      meta:
                      - unsalted
                      - cold
                      name: butter
                      original: 1 1/2 sticks cold unsalted butter cold unsalted butter<
                      originalName: cold unsalted butter cold unsalted butter<
                      unit: sticks
                      unitLong: sticks
                      unitShort: sticks
                    - aisle: Produce
                      amount: 4
                      id: 1079003
                      image: https://spoonacular.com/cdn/ingredients_100x100/red-delicious-apples.png
                      meta:
                      - red
                      - " such as golden delicious, peeled, cored and cut into 1/4-inch-thick\
                        \ slices "
                      name: red apples
                      original: "4 larges red apples, such as Golden Delicious, peeled,\
                        \ cored and cut into 1/4-inch-thick slices"
                      originalName: "s red apples, such as Golden Delicious, peeled,\
                        \ cored and cut into 1/4-inch-thick slices"
                      unit: large
                      unitLong: larges
                      unitShort: large
                    - aisle: Spices and Seasonings
                      amount: 2
                      id: 2010
                      image: https://spoonacular.com/cdn/ingredients_100x100/cinnamon.jpg
                      meta: []
                      name: cinnamon
                      original: 2 teaspoons cinnamon
                      originalName: cinnamon
                      unit: teaspoons
                      unitLong: teaspoons
                      unitShort: tsp
                    - aisle: "Nut butters, Jams, and Honey"
                      amount: 2
                      id: 19719
                      image: https://spoonacular.com/cdn/ingredients_100x100/apricot-jam.jpg
                      meta:
                      - melted
                      name: apricot preserves
                      original: "2 tablespoons apricot preserves, melted and strained"
                      originalName: "apricot preserves, melted and strained"
                      unit: tablespoons
                      unitLong: tablespoons
                      unitShort: Tbsp
                    title: Apricot Glazed Apple Tart
                    unusedIngredients:
                    - aisle: Produce
                      amount: 1
                      id: 9003
                      image: https://spoonacular.com/cdn/ingredients_100x100/apple.jpg
                      meta: []
                      name: apples
                      original: apples
                      originalName: apples
                      unit: serving
                      unitLong: serving
                      unitShort: serving
                    usedIngredientCount: 0
                    usedIngredients: []
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Search Recipes by Ingredients
      tags:
      - recipes
  /recipes/findByNutrients:
    get:
      deprecated: false
      description: "Find a set of recipes that adhere to the given nutritional limits.\
        \ You may set limits for macronutrients (calories, protein, fat, and carbohydrate)\
        \ and/or many micronutrients."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Recipes-by-Nutrients
      operationId: searchRecipesByNutrients
      parameters:
      - description: The minimum amount of carbohydrates in grams the recipe must
          have.
        explode: false
        in: query
        name: minCarbs
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: The maximum amount of carbohydrates in grams the recipe can have.
        explode: false
        in: query
        name: maxCarbs
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of protein in grams the recipe must have.
        explode: false
        in: query
        name: minProtein
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: The maximum amount of protein in grams the recipe can have.
        explode: false
        in: query
        name: maxProtein
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of calories the recipe must have.
        explode: false
        in: query
        name: minCalories
        required: false
        schema:
          example: 50
          type: number
        style: form
      - description: The maximum amount of calories the recipe can have.
        explode: false
        in: query
        name: maxCalories
        required: false
        schema:
          example: 800
          type: number
        style: form
      - description: The minimum amount of fat in grams the recipe must have.
        explode: false
        in: query
        name: minFat
        required: false
        schema:
          example: 1
          type: number
        style: form
      - description: The maximum amount of fat in grams the recipe can have.
        explode: false
        in: query
        name: maxFat
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of alcohol in grams the recipe must have.
        explode: false
        in: query
        name: minAlcohol
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of alcohol in grams the recipe can have.
        explode: false
        in: query
        name: maxAlcohol
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of caffeine in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minCaffeine
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of caffeine in milligrams the recipe can have.
        explode: false
        in: query
        name: maxCaffeine
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of copper in milligrams the recipe must have.
        explode: false
        in: query
        name: minCopper
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of copper in milligrams the recipe can have.
        explode: false
        in: query
        name: maxCopper
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of calcium in milligrams the recipe must have.
        explode: false
        in: query
        name: minCalcium
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of calcium in milligrams the recipe can have.
        explode: false
        in: query
        name: maxCalcium
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of choline in milligrams the recipe must have.
        explode: false
        in: query
        name: minCholine
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of choline in milligrams the recipe can have.
        explode: false
        in: query
        name: maxCholine
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of cholesterol in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minCholesterol
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of cholesterol in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxCholesterol
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of fluoride in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minFluoride
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of fluoride in milligrams the recipe can have.
        explode: false
        in: query
        name: maxFluoride
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of saturated fat in grams the recipe must
          have.
        explode: false
        in: query
        name: minSaturatedFat
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of saturated fat in grams the recipe can have.
        explode: false
        in: query
        name: maxSaturatedFat
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin A in IU the recipe must have.
        explode: false
        in: query
        name: minVitaminA
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin A in IU the recipe can have.
        explode: false
        in: query
        name: maxVitaminA
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin C in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminC
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin C in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminC
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin D in micrograms the recipe must
          have.
        explode: false
        in: query
        name: minVitaminD
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin D in micrograms the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminD
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin E in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminE
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin E in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminE
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin K in micrograms the recipe must
          have.
        explode: false
        in: query
        name: minVitaminK
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin K in micrograms the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminK
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B1 in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB1
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B1 in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB1
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B2 in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB2
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B2 in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB2
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B5 in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB5
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B5 in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB5
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B3 in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB3
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B3 in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB3
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B6 in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB6
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B6 in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB6
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of Vitamin B12 in micrograms the recipe must
          have.
        explode: false
        in: query
        name: minVitaminB12
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B12 in micrograms the recipe can
          have.
        explode: false
        in: query
        name: maxVitaminB12
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of fiber in grams the recipe must have.
        explode: false
        in: query
        name: minFiber
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of fiber in grams the recipe can have.
        explode: false
        in: query
        name: maxFiber
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of folate in micrograms the recipe must have.
        explode: false
        in: query
        name: minFolate
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of folate in micrograms the recipe can have.
        explode: false
        in: query
        name: maxFolate
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of folic acid in micrograms the recipe must
          have.
        explode: false
        in: query
        name: minFolicAcid
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of folic acid in micrograms the recipe can
          have.
        explode: false
        in: query
        name: maxFolicAcid
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of iodine in micrograms the recipe must have.
        explode: false
        in: query
        name: minIodine
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of iodine in micrograms the recipe can have.
        explode: false
        in: query
        name: maxIodine
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of iron in milligrams the recipe must have.
        explode: false
        in: query
        name: minIron
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of iron in milligrams the recipe can have.
        explode: false
        in: query
        name: maxIron
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of magnesium in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minMagnesium
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of magnesium in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxMagnesium
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of manganese in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minManganese
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of manganese in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxManganese
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of phosphorus in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minPhosphorus
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of phosphorus in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxPhosphorus
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of potassium in milligrams the recipe must
          have.
        explode: false
        in: query
        name: minPotassium
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of potassium in milligrams the recipe can
          have.
        explode: false
        in: query
        name: maxPotassium
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of selenium in micrograms the recipe must
          have.
        explode: false
        in: query
        name: minSelenium
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of selenium in micrograms the recipe can have.
        explode: false
        in: query
        name: maxSelenium
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of sodium in milligrams the recipe must have.
        explode: false
        in: query
        name: minSodium
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of sodium in milligrams the recipe can have.
        explode: false
        in: query
        name: maxSodium
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of sugar in grams the recipe must have.
        explode: false
        in: query
        name: minSugar
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of sugar in grams the recipe can have.
        explode: false
        in: query
        name: maxSugar
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of zinc in milligrams the recipe must have.
        explode: false
        in: query
        name: minZinc
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The maximum amount of zinc in milligrams the recipe can have.
        explode: false
        in: query
        name: maxZinc
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The number of results to skip (between 0 and 900).
        explode: true
        in: query
        name: offset
        required: false
        schema:
          maximum: 900
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items to return (between 1 and 100). Defaults
          to 10.
        explode: true
        in: query
        name: number
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "If true, every request will give you a random set of recipes\
          \ within the requested limits."
        explode: false
        in: query
        name: random
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Whether the recipes should have an open license that allows display
          with proper attribution.
        explode: true
        in: query
        name: limitLicense
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - calories: 210
                    carbs: 43g
                    fat: 3g
                    id: 90629
                    image: https://spoonacular.com/recipeImages/90629-312x231.jpg
                    imageType: jpg
                    protein: 1g
                    title: Baked Apples in White Wine
                  - calories: 226
                    carbs: 33g
                    fat: 10g
                    id: 284420
                    image: https://spoonacular.com/recipeImages/284420-312x231.jpg
                    imageType: jpg
                    protein: 2g
                    title: Chocolate Silk Pie with Marshmallow Meringue
              schema:
                description: ""
                items:
                  $ref: '#/components/schemas/searchRecipesByNutrients_200_response_inner'
                minItems: 0
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                  - calories: 210
                    carbs: 43g
                    fat: 3g
                    id: 90629
                    image: https://spoonacular.com/recipeImages/90629-312x231.jpg
                    imageType: jpg
                    protein: 1g
                    title: Baked Apples in White Wine
                  - calories: 226
                    carbs: 33g
                    fat: 10g
                    id: 284420
                    image: https://spoonacular.com/recipeImages/284420-312x231.jpg
                    imageType: jpg
                    protein: 2g
                    title: Chocolate Silk Pie with Marshmallow Meringue
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Search Recipes by Nutrients
      tags:
      - recipes
  /recipes/{id}/information:
    get:
      deprecated: false
      description: "Use a recipe id to get full information about a recipe, such as\
        \ ingredients, nutrition, diet and allergen information, etc."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Recipe-Information
      operationId: getRecipeInformation
      parameters:
      - description: The item's id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: "Include nutrition data in the recipe information. Nutrition\
          \ data is per serving. If you want the nutrition data for the entire recipe,\
          \ just multiply by the number of servings."
        explode: true
        in: query
        name: includeNutrition
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    id: 716429
                    title: "Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs"
                    image: https://spoonacular.com/recipeImages/716429-556x370.jpg
                    imageType: jpg
                    servings: 2
                    readyInMinutes: 45
                    license: CC BY-SA 3.0
                    sourceName: Full Belly Sisters
                    sourceUrl: http://fullbellysisters.blogspot.com/2012/06/pasta-with-garlic-scallions-cauliflower.html
                    spoonacularSourceUrl: https://spoonacular.com/pasta-with-garlic-scallions-cauliflower-breadcrumbs-716429
                    aggregateLikes: 209
                    healthScore: 19
                    spoonacularScore: 83
                    pricePerServing: 163.15
                    analyzedInstructions: []
                    cheap: false
                    creditsText: Full Belly Sisters
                    cuisines: []
                    dairyFree: false
                    diets: []
                    gaps: "no"
                    glutenFree: false
                    instructions: ""
                    ketogenic: false
                    lowFodmap: false
                    occasions: []
                    sustainable: false
                    vegan: false
                    vegetarian: false
                    veryHealthy: false
                    veryPopular: false
                    whole30: false
                    weightWatcherSmartPoints: 17
                    dishTypes:
                    - lunch
                    - main course
                    - main dish
                    - dinner
                    extendedIngredients:
                    - aisle: "Milk, Eggs, Other Dairy"
                      amount: 1
                      consitency: solid
                      id: 1001
                      image: butter-sliced.jpg
                      measures:
                        metric:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                        us:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                      meta: []
                      name: butter
                      original: 1 tbsp butter
                      originalName: butter
                      unit: tbsp
                    - aisle: Produce
                      amount: 2
                      consitency: solid
                      id: 10011135
                      image: cauliflower.jpg
                      measures:
                        metric:
                          amount: 473.176
                          unitLong: milliliters
                          unitShort: ml
                        us:
                          amount: 2
                          unitLong: cups
                          unitShort: cups
                      meta:
                      - frozen
                      - thawed
                      - cut into bite-sized pieces
                      name: cauliflower florets
                      original: "about 2 cups frozen cauliflower florets, thawed,\
                        \ cut into bite-sized pieces"
                      originalName: "about frozen cauliflower florets, thawed, cut\
                        \ into bite-sized pieces"
                      unit: cups
                    - aisle: Cheese
                      amount: 2
                      consitency: solid
                      id: 1041009
                      image: cheddar-cheese.png
                      measures:
                        metric:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                        us:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                      meta:
                      - grated
                      - (I used romano)
                      name: cheese
                      original: 2 tbsp grated cheese (I used romano)
                      originalName: grated cheese (I used romano)
                      unit: tbsp
                    - aisle: "Oil, Vinegar, Salad Dressing"
                      amount: 1
                      consitency: liquid
                      id: 1034053
                      image: olive-oil.jpg
                      measures:
                        metric:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                        us:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                      meta: []
                      name: extra virgin olive oil
                      original: 1-2 tbsp extra virgin olive oil
                      originalName: extra virgin olive oil
                      unit: tbsp
                    - aisle: Produce
                      amount: 5
                      consitency: solid
                      id: 11215
                      image: garlic.jpg
                      measures:
                        metric:
                          amount: 5
                          unitLong: cloves
                          unitShort: cloves
                        us:
                          amount: 5
                          unitLong: cloves
                          unitShort: cloves
                      meta: []
                      name: garlic
                      original: 5-6 cloves garlic
                      originalName: garlic
                      unit: cloves
                    - aisle: Pasta and Rice
                      amount: 6
                      consitency: solid
                      id: 20420
                      image: fusilli.jpg
                      measures:
                        metric:
                          amount: 170.097
                          unitLong: grams
                          unitShort: g
                        us:
                          amount: 6
                          unitLong: ounces
                          unitShort: oz
                      meta:
                      - (I used linguine)
                      name: pasta
                      original: 6-8 ounces pasta (I used linguine)
                      originalName: pasta (I used linguine)
                      unit: ounces
                    - aisle: Spices and Seasonings
                      amount: 2
                      consitency: solid
                      id: 1032009
                      image: red-pepper-flakes.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: pinches
                          unitShort: pinches
                        us:
                          amount: 2
                          unitLong: pinches
                          unitShort: pinches
                      meta:
                      - red
                      name: red pepper flakes
                      original: "couple of pinches red pepper flakes, optional"
                      originalName: "couple of red pepper flakes, optional"
                      unit: pinches
                    - aisle: Spices and Seasonings
                      amount: 2
                      consitency: solid
                      id: 1102047
                      image: salt-and-pepper.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: servings
                          unitShort: servings
                        us:
                          amount: 2
                          unitLong: servings
                          unitShort: servings
                      meta:
                      - to taste
                      name: salt and pepper
                      original: "salt and pepper, to taste"
                      originalName: "salt and pepper, to taste"
                      unit: servings
                    - aisle: Produce
                      amount: 3
                      consitency: solid
                      id: 11291
                      image: spring-onions.jpg
                      measures:
                        metric:
                          amount: 3
                          unitLong: ""
                          unitShort: ""
                        us:
                          amount: 3
                          unitLong: ""
                          unitShort: ""
                      meta:
                      - white
                      - green
                      - separated
                      - chopped
                      name: scallions
                      original: "3 scallions, chopped, white and green parts separated"
                      originalName: "scallions, chopped, white and green parts separated"
                      unit: ""
                    - aisle: Alcoholic Beverages
                      amount: 2
                      consitency: liquid
                      id: 14106
                      image: white-wine.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                        us:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                      meta:
                      - white
                      name: white wine
                      original: 2-3 tbsp white wine
                      originalName: white wine
                      unit: tbsp
                    - aisle: Pasta and Rice
                      amount: 0.25
                      consitency: solid
                      id: 99025
                      image: breadcrumbs.jpg
                      measures:
                        metric:
                          amount: 59.147
                          unitLong: milliliters
                          unitShort: ml
                        us:
                          amount: 0.25
                          unitLong: cups
                          unitShort: cups
                      meta:
                      - whole wheat
                      - (I used panko)
                      name: whole wheat bread crumbs
                      original: 1/4 cup whole wheat bread crumbs (I used panko)
                      originalName: whole wheat bread crumbs (I used panko)
                      unit: cup
                    summary: "Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs\
                      \ might be a good recipe to expand your main course repertoire.\
                      \ One portion of this dish contains approximately &lt;b&gt;19g\
                      \ of protein &lt;/b&gt;,  &lt;b&gt;20g of fat &lt;/b&gt;, and\
                      \ a total of  &lt;b&gt;584 calories &lt;/b&gt;. For  &lt;b&gt;$1.63\
                      \ per serving &lt;/b&gt;, this recipe  &lt;b&gt;covers 23% &lt;/b&gt;\
                      \ of your daily requirements of vitamins and minerals. This\
                      \ recipe serves 2. It is brought to you by fullbellysisters.blogspot.com.\
                      \ 209 people were glad they tried this recipe. A mixture of\
                      \ scallions, salt and pepper, white wine, and a handful of other\
                      \ ingredients are all it takes to make this recipe so scrumptious.\
                      \ From preparation to the plate, this recipe takes approximately\
                      \  &lt;b&gt;45 minutes &lt;/b&gt;. All things considered, we\
                      \ decided this recipe  &lt;b&gt;deserves a spoonacular score\
                      \ of 83% &lt;/b&gt;. This score is awesome. If you like this\
                      \ recipe, take a look at these similar recipes: &lt;a href=\"\
                      https://spoonacular.com/recipes/cauliflower-gratin-with-garlic-breadcrumbs-318375\"\
                      >Cauliflower Gratin with Garlic Breadcrumbs&lt;/a&gt;, &lt;\
                      \ href=\"https://spoonacular.com/recipes/pasta-with-cauliflower-sausage-breadcrumbs-30437\"\
                      >Pasta With Cauliflower, Sausage, & Breadcrumbs&lt;/a&gt;, and\
                      \ &lt;a href=\"https://spoonacular.com/recipes/pasta-with-roasted-cauliflower-parsley-and-breadcrumbs-30738\"\
                      >Pasta With Roasted Cauliflower, Parsley, And Breadcrumbs&lt;/a&gt;."
                    winePairing:
                      pairedWines:
                      - chardonnay
                      - gruener veltliner
                      - sauvignon blanc
                      pairingText: "Chardonnay, Gruener Veltliner, and Sauvignon Blanc\
                        \ are great choices for Pasta. Sauvignon Blanc and Gruner\
                        \ Veltliner both have herby notes that complement salads with\
                        \ enough acid to match tart vinaigrettes, while a Chardonnay\
                        \ can be a good pick for creamy salad dressings. The Buddha\
                        \ Kat Winery Chardonnay with a 4 out of 5 star rating seems\
                        \ like a good match. It costs about 25 dollars per bottle."
                      productMatches:
                      - id: 469199
                        title: Buddha Kat Winery Chardonnay
                        description: "We barrel ferment our Chardonnay and age it\
                          \ in a mix of Oak and Stainless. Giving this light bodied\
                          \ wine modest oak character, a delicate floral aroma, and\
                          \ a warming finish."
                        price: $25.0
                        imageUrl: https://spoonacular.com/productImages/469199-312x231.jpg
                        averageRating: 0.8
                        ratingCount: 1
                        score: 0.55
                        link: https://www.amazon.com/2015-Buddha-Kat-Winery-Chardonnay/dp/B00OSAVVM4?tag=spoonacular-20
              schema:
                $ref: '#/components/schemas/getRecipeInformation_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Recipe Information
      tags:
      - recipes
  /recipes/informationBulk:
    get:
      deprecated: false
      description: "Get information about multiple recipes at once. This is equivalent\
        \ to calling the Get Recipe Information endpoint multiple times, but faster."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Recipe-Information-Bulk
      operationId: getRecipeInformationBulk
      parameters:
      - description: A comma-separated list of recipe ids.
        explode: false
        in: query
        name: ids
        required: true
        schema:
          example: "715538,716429"
          type: string
        style: form
      - description: "Include nutrition data in the recipe information. Nutrition\
          \ data is per serving. If you want the nutrition data for the entire recipe,\
          \ just multiply by the number of servings."
        explode: true
        in: query
        name: includeNutrition
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: 716429
                    title: "Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs"
                    image: https://spoonacular.com/recipeImages/716429-556x370.jpg
                    imageType: jpg
                    servings: 2
                    readyInMinutes: 45
                    license: CC BY-SA 3.0
                    sourceName: Full Belly Sisters
                    sourceUrl: http://fullbellysisters.blogspot.com/2012/06/pasta-with-garlic-scallions-cauliflower.html
                    spoonacularSourceUrl: https://spoonacular.com/pasta-with-garlic-scallions-cauliflower-breadcrumbs-716429
                    aggregateLikes: 209
                    healthScore: 19
                    spoonacularScore: 83
                    pricePerServing: 163.15
                    analyzedInstructions: []
                    cheap: false
                    creditsText: Full Belly Sisters
                    cuisines: []
                    dairyFree: false
                    diets: []
                    gaps: "no"
                    glutenFree: false
                    instructions: ""
                    ketogenic: false
                    lowFodmap: false
                    occasions: []
                    sustainable: false
                    vegan: false
                    vegetarian: false
                    veryHealthy: false
                    veryPopular: false
                    whole30: false
                    weightWatcherSmartPoints: 17
                    dishTypes:
                    - lunch
                    - main course
                    - main dish
                    - dinner
                    extendedIngredients:
                    - aisle: "Milk, Eggs, Other Dairy"
                      amount: 1
                      consitency: solid
                      id: 1001
                      image: butter-sliced.jpg
                      measures:
                        metric:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                        us:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                      meta: []
                      name: butter
                      original: 1 tbsp butter
                      originalName: butter
                      unit: tbsp
                    - aisle: Produce
                      amount: 2
                      consitency: solid
                      id: 10011135
                      image: cauliflower.jpg
                      measures:
                        metric:
                          amount: 473.176
                          unitLong: milliliters
                          unitShort: ml
                        us:
                          amount: 2
                          unitLong: cups
                          unitShort: cups
                      meta:
                      - frozen
                      - thawed
                      - cut into bite-sized pieces
                      name: cauliflower florets
                      original: "about 2 cups frozen cauliflower florets, thawed,\
                        \ cut into bite-sized pieces"
                      originalName: "about frozen cauliflower florets, thawed, cut\
                        \ into bite-sized pieces"
                      unit: cups
                    - aisle: Cheese
                      amount: 2
                      consitency: solid
                      id: 1041009
                      image: cheddar-cheese.png
                      measures:
                        metric:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                        us:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                      meta:
                      - grated
                      - (I used romano)
                      name: cheese
                      original: 2 tbsp grated cheese (I used romano)
                      originalName: grated cheese (I used romano)
                      unit: tbsp
                    - aisle: "Oil, Vinegar, Salad Dressing"
                      amount: 1
                      consitency: liquid
                      id: 1034053
                      image: olive-oil.jpg
                      measures:
                        metric:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                        us:
                          amount: 1
                          unitLong: Tbsp
                          unitShort: Tbsp
                      meta: []
                      name: extra virgin olive oil
                      original: 1-2 tbsp extra virgin olive oil
                      originalName: extra virgin olive oil
                      unit: tbsp
                    - aisle: Produce
                      amount: 5
                      consitency: solid
                      id: 11215
                      image: garlic.jpg
                      measures:
                        metric:
                          amount: 5
                          unitLong: cloves
                          unitShort: cloves
                        us:
                          amount: 5
                          unitLong: cloves
                          unitShort: cloves
                      meta: []
                      name: garlic
                      original: 5-6 cloves garlic
                      originalName: garlic
                      unit: cloves
                    - aisle: Pasta and Rice
                      amount: 6
                      consitency: solid
                      id: 20420
                      image: fusilli.jpg
                      measures:
                        metric:
                          amount: 170.097
                          unitLong: grams
                          unitShort: g
                        us:
                          amount: 6
                          unitLong: ounces
                          unitShort: oz
                      meta:
                      - (I used linguine)
                      name: pasta
                      original: 6-8 ounces pasta (I used linguine)
                      originalName: pasta (I used linguine)
                      unit: ounces
                    - aisle: Spices and Seasonings
                      amount: 2
                      consitency: solid
                      id: 1032009
                      image: red-pepper-flakes.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: pinches
                          unitShort: pinches
                        us:
                          amount: 2
                          unitLong: pinches
                          unitShort: pinches
                      meta:
                      - red
                      name: red pepper flakes
                      original: "couple of pinches red pepper flakes, optional"
                      originalName: "couple of red pepper flakes, optional"
                      unit: pinches
                    - aisle: Spices and Seasonings
                      amount: 2
                      consitency: solid
                      id: 1102047
                      image: salt-and-pepper.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: servings
                          unitShort: servings
                        us:
                          amount: 2
                          unitLong: servings
                          unitShort: servings
                      meta:
                      - to taste
                      name: salt and pepper
                      original: "salt and pepper, to taste"
                      originalName: "salt and pepper, to taste"
                      unit: servings
                    - aisle: Produce
                      amount: 3
                      consitency: solid
                      id: 11291
                      image: spring-onions.jpg
                      measures:
                        metric:
                          amount: 3
                          unitLong: ""
                          unitShort: ""
                        us:
                          amount: 3
                          unitLong: ""
                          unitShort: ""
                      meta:
                      - white
                      - green
                      - separated
                      - chopped
                      name: scallions
                      original: "3 scallions, chopped, white and green parts separated"
                      originalName: "scallions, chopped, white and green parts separated"
                      unit: ""
                    - aisle: Alcoholic Beverages
                      amount: 2
                      consitency: liquid
                      id: 14106
                      image: white-wine.jpg
                      measures:
                        metric:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                        us:
                          amount: 2
                          unitLong: Tbsps
                          unitShort: Tbsps
                      meta:
                      - white
                      name: white wine
                      original: 2-3 tbsp white wine
                      originalName: white wine
                      unit: tbsp
                    - aisle: Pasta and Rice
                      amount: 0.25
                      consitency: solid
                      id: 99025
                      image: breadcrumbs.jpg
                      measures:
                        metric:
                          amount: 59.147
                          unitLong: milliliters
                          unitShort: ml
                        us:
                          amount: 0.25
                          unitLong: cups
                          unitShort: cups
                      meta:
                      - whole wheat
                      - (I used panko)
                      name: whole wheat bread crumbs
                      original: 1/4 cup whole wheat bread crumbs (I used panko)
                      originalName: whole wheat bread crumbs (I used panko)
                      unit: cup
                    summary: "Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs\
                      \ might be a good recipe to expand your main course repertoire.\
                      \ One portion of this dish contains approximately &lt;b&gt;19g\
                      \ of protein &lt;/b&gt;,  &lt;b&gt;20g of fat &lt;/b&gt;, and\
                      \ a total of  &lt;b&gt;584 calories &lt;/b&gt;. For  &lt;b&gt;$1.63\
                      \ per serving &lt;/b&gt;, this recipe  &lt;b&gt;covers 23% &lt;/b&gt;\
                      \ of your daily requirements of vitamins and minerals. This\
                      \ recipe serves 2. It is brought to you by fullbellysisters.blogspot.com.\
                      \ 209 people were glad they tried this recipe. A mixture of\
                      \ scallions, salt and pepper, white wine, and a handful of other\
                      \ ingredients are all it takes to make this recipe so scrumptious.\
                      \ From preparation to the plate, this recipe takes approximately\
                      \  &lt;b&gt;45 minutes &lt;/b&gt;. All things considered, we\
                      \ decided this recipe  &lt;b&gt;deserves a spoonacular score\
                      \ of 83% &lt;/b&gt;. This score is awesome. If you like this\
                      \ recipe, take a look at these similar recipes: &lt;a href=\"\
                      https://spoonacular.com/recipes/cauliflower-gratin-with-garlic-breadcrumbs-318375\"\
                      >Cauliflower Gratin with Garlic Breadcrumbs&lt;/a&gt;, &lt;\
                      \ href=\"https://spoonacular.com/recipes/pasta-with-cauliflower-sausage-breadcrumbs-30437\"\
                      >Pasta With Cauliflower, Sausage, & Breadcrumbs&lt;/a&gt;, and\
                      \ &lt;a href=\"https://spoonacular.com/recipes/pasta-with-roasted-cauliflower-parsley-and-breadcrumbs-30738\"\
                      >Pasta With Roasted Cauliflower, Parsley, And Breadcrumbs&lt;/a&gt;."
                    winePairing:
                      pairedWines:
                      - chardonnay
                      - gruener veltliner
                      - sauvignon blanc
                      pairingText: "Chardonnay, Gruener Veltliner, and Sauvignon Blanc\
                        \ are great choices for Pasta. Sauvignon Blanc and Gruner\
                        \ Veltliner both have herby notes that complement salads with\
                        \ enough acid to match tart vinaigrettes, while a Chardonnay\
                        \ can be a good pick for creamy salad dressings. The Buddha\
                        \ Kat Winery Chardonnay with a 4 out of 5 star rating seems\
                        \ like a good match. It costs about 25 dollars per bottle."
                      productMatches:
                      - id: 469199
                        title: Buddha Kat Winery Chardonnay
                        description: "We barrel ferment our Chardonnay and age it\
                          \ in a mix of Oak and Stainless. Giving this light bodied\
                          \ wine modest oak character, a delicate floral aroma, and\
[...]
