{
  "openapi": "3.0.0",
  "info": {
    "title": "spoonacular API",
    "description": "The spoonacular Nutrition, Recipe, and Food API allows you to access over 380,000 recipes, thousands of ingredients, 80,000 food products, and 100,000 menu items. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as \"gluten free brownies without sugar\" or \"low fat vegan cupcakes.\" You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what's in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.\n\nSpecial diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.",
    "contact": {
      "name": "David Urbansky",
      "email": "david@spoonacular.com",
      "url": "https://spoonacular.com/contact"
    },
    "version": "1.0",
    "x-codegen-settings": {
      "Nullify404": false,
      "GenerateAsyncCode": true,
      "UseMethodPrefix": true,
      "UseModelPostfix": false,
      "UseControllerPrefix": true,
      "UseEnumPostfix": true,
      "CollectParameters": false,
      "UseConstructorsForConfig": true,
      "UseCommonSDKLibrary": false,
      "iOSUseAppInfoPlist": true,
      "AndroidUseAppManifest": true,
      "BodySerialization": 0,
      "EnableAdditionalModelProperties": false,
      "PreserveParameterOrder": false,
      "AppendContentHeaders": true,
      "iOSGenerateCoreData": false,
      "GenerateInterfaces": false,
      "NodeHttpClient": "NODE_REQUEST",
      "ValidateRequiredParameters": false,
      "JavaUsePropertiesConfig": false,
      "Timeout": 0,
      "StoreTimezoneInformation": false,
      "EnablePHPComposerVersionString": false,
      "EnableLogging": false,
      "ArraySerialization": "Indexed",
      "ModelSerializationScheme": "Json",
      "UseExceptionPrefix": true,
      "RunscopeEnabled": false,
      "JavaHttpClient": "JAVA_OK",
      "ParameterArrayFormat": "ParamArrayWithIndex",
      "SecurityProtocols": [
        "Ssl3",
        "Tls"
      ],
      "GenerateTravisConfig": false,
      "GenerateCircleConfig": false,
      "GenerateAppveyorConfig": false,
      "GenerateJenkinsConfig": false,
      "EnableHttpCache": false,
      "Retries": 0,
      "RetryInterval": 1,
      "GenerateAdvancedDocs": false,
      "UnderscoreNumbers": true,
      "UseSingletonPattern": true,
      "DisableLinting": false,
      "ApplyCustomizations": [],
      "SortResources": false,
      "AllowSkippingSSLCertVerification": false,
      "DoNotSplitWords": [],
      "EnableGlobalUserAgent": true,
      "ReturnCompleteHttpResponse": false,
      "GenerateModels": true,
      "GenerateExceptions": true,
      "IgnoreIfNullJson": false,
      "DisableDocs": false,
      "LiftParameterDescriptionFromCustomType": false,
      "ThrowForHttpErrorStatusCodes": true,
      "ResponseMapping": {
        "Type": "Simple"
      },
      "ForceKeywordArgsInRuby": false,
      "SymbolizeHashKeysInRuby": false
    },
    "x-server-configuration": {
      "default-environment": "production",
      "default-server": "default",
      "environments": [
        {
          "name": "production",
          "servers": [
            {
              "name": "default",
              "url": "https://api.spoonacular.com"
            }
          ]
        }
      ],
      "parameters": []
    },
    "license": {
      "name": "spoonacular API Terms",
      "url": "https://spoonacular.com/food-api/terms"
    },
    "termsOfService": "https://spoonacular.com/food-api/terms"
  },
  "servers": [
    {
      "url": "https://api.spoonacular.com",
      "variables": {}
    }
  ],
  "paths": {
    "/recipes/search": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The (natural language) recipe search query.",
            "schema": {
              "type": "string",
              "example": "burger"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "cuisine",
            "description": "The cuisine(s) of the recipes. One or more comma separated. See a full list of supported cuisines.",
            "schema": {
              "type": "string",
              "example": "italian"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "diet",
            "description": "The diet for which the recipes must be suitable. See a full list of supported diets.",
            "schema": {
              "type": "string",
              "example": "vegetarian"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "excludeIngredients",
            "description": "A comma-separated list of ingredients or ingredient types that the recipes must not contain.",
            "schema": {
              "type": "string",
              "example": "eggs"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "intolerances",
            "description": "A comma-separated list of intolerances. All recipes returned must not contain ingredients that are not suitable for people with the intolerances entered. See a full list of supported intolerances. Please note: due to the automatic nature of the recipe analysis, the API cannot be 100% accurate in all cases. Please advise your users to seek professional help with medical issues.",
            "schema": {
              "type": "string",
              "example": "gluten"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of results to skip (between 0 and 900).",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of results to return (between 1 and 100).",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "limitLicense",
            "description": "Whether the recipes should have an open license that allows display with proper attribution.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "instructionsRequired",
            "description": "Whether the recipes must have instructions.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Search-Recipes"
        },
        "summary": "Search Recipes",
        "description": "Our recipe API includes over 360,000 recipes as well as an open source recipe database. Consider using the \"Search Recipes Complex\" endpoint for much more flexibility.",
        "operationId": "searchRecipes",
        "deprecated": false
      }
    },
    "/recipes/findByIngredients": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "ingredients",
            "description": "A comma-separated list of ingredients that the recipes should contain.",
            "schema": {
              "type": "string",
              "example": "apples,flour,sugar"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The maximum number of recipes to return (between 1 and 100). Defaults to 10.",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "limitLicense",
            "description": "Whether the recipes should have an open license that allows display with proper attribution.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "ranking",
            "description": "Whether to maximize used ingredients (1) or minimize missing ingredients (2) first.",
            "schema": {
              "type": "number",
              "example": 1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "ignorePantry",
            "description": "Whether to ignore typical pantry items, such as water, salt, flour, etc.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Search-Recipes-by-Ingredients"
        },
        "summary": "Search Recipes by Ingredients",
        "description": "Ever wondered what recipes you can cook with the ingredients you have in your fridge or pantry? This endpoint lets you find recipes that either maximize the usage of ingredients you have at hand (pre shopping) or minimize the ingredients that you don't currently have (post shopping).",
        "operationId": "searchRecipesByIngredients",
        "deprecated": false
      }
    },
    "/recipes/findByNutrients": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "minCarbs",
            "description": "The minimum amount of carbohydrates in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCarbs",
            "description": "The maximum amount of carbohydrates in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minProtein",
            "description": "The minimum amount of protein in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxProtein",
            "description": "The maximum amount of protein in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCalories",
            "description": "The minimum amount of calories the recipe must have.",
            "schema": {
              "type": "number",
              "example": 50
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCalories",
            "description": "The maximum amount of calories the recipe can have.",
            "schema": {
              "type": "number",
              "example": 800
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFat",
            "description": "The minimum amount of fat in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFat",
            "description": "The maximum amount of fat in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minAlcohol",
            "description": "The minimum amount of alcohol in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxAlcohol",
            "description": "The maximum amount of alcohol in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCaffeine",
            "description": "The minimum amount of caffeine in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCaffeine",
            "description": "The maximum amount of caffeine in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCopper",
            "description": "The minimum amount of copper in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCopper",
            "description": "The maximum amount of copper in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCalcium",
            "description": "The minimum amount of calcium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCalcium",
            "description": "The maximum amount of calcium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCholine",
            "description": "The minimum amount of choline in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCholine",
            "description": "The maximum amount of choline in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCholesterol",
            "description": "The minimum amount of cholesterol in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCholesterol",
            "description": "The maximum amount of cholesterol in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFluoride",
            "description": "The minimum amount of fluoride in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFluoride",
            "description": "The maximum amount of fluoride in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSaturatedFat",
            "description": "The minimum amount of saturated fat in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSaturatedFat",
            "description": "The maximum amount of saturated fat in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminA",
            "description": "The minimum amount of Vitamin A in IU the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminA",
            "description": "The maximum amount of Vitamin A in IU the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminC",
            "description": "The minimum amount of Vitamin C in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminC",
            "description": "The maximum amount of Vitamin C in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminD",
            "description": "The minimum amount of Vitamin D in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminD",
            "description": "The maximum amount of Vitamin D in micrograms the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminE",
            "description": "The minimum amount of Vitamin E in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminE",
            "description": "The maximum amount of Vitamin E in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminK",
            "description": "The minimum amount of Vitamin K in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminK",
            "description": "The maximum amount of Vitamin K in micrograms the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB1",
            "description": "The minimum amount of Vitamin B1 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB1",
            "description": "The maximum amount of Vitamin B1 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB2",
            "description": "The minimum amount of Vitamin B2 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB2",
            "description": "The maximum amount of Vitamin B2 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB5",
            "description": "The minimum amount of Vitamin B5 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB5",
            "description": "The maximum amount of Vitamin B5 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB3",
            "description": "The minimum amount of Vitamin B3 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB3",
            "description": "The maximum amount of Vitamin B3 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB6",
            "description": "The minimum amount of Vitamin B6 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB6",
            "description": "The maximum amount of Vitamin B6 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB12",
            "description": "The minimum amount of Vitamin B12 in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB12",
            "description": "The maximum amount of Vitamin B12 in micrograms the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFiber",
            "description": "The minimum amount of fiber in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFiber",
            "description": "The maximum amount of fiber in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFolate",
            "description": "The minimum amount of folate in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFolate",
            "description": "The maximum amount of folate in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFolicAcid",
            "description": "The minimum amount of folic acid in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFolicAcid",
            "description": "The maximum amount of folic acid in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minIodine",
            "description": "The minimum amount of iodine in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxIodine",
            "description": "The maximum amount of iodine in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minIron",
            "description": "The minimum amount of iron in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxIron",
            "description": "The maximum amount of iron in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minMagnesium",
            "description": "The minimum amount of magnesium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxMagnesium",
            "description": "The maximum amount of magnesium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minManganese",
            "description": "The minimum amount of manganese in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxManganese",
            "description": "The maximum amount of manganese in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minPhosphorus",
            "description": "The minimum amount of phosphorus in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxPhosphorus",
            "description": "The maximum amount of phosphorus in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minPotassium",
            "description": "The minimum amount of potassium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxPotassium",
            "description": "The maximum amount of potassium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSelenium",
            "description": "The minimum amount of selenium in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSelenium",
            "description": "The maximum amount of selenium in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSodium",
            "description": "The minimum amount of sodium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSodium",
            "description": "The maximum amount of sodium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSugar",
            "description": "The minimum amount of sugar in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSugar",
            "description": "The maximum amount of sugar in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minZinc",
            "description": "The minimum amount of zinc in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxZinc",
            "description": "The maximum amount of zinc in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The offset number for paging (between 0 and 990).",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of expected results (between 1 and 100).",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "random",
            "description": "If true, every request will give you a random set of recipes within the requested limits.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "limitLicense",
            "description": "Whether the recipes should have an open license that allows display with proper attribution.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Search-Recipes-by-Nutrients"
        },
        "summary": "Search Recipes by Nutrients",
        "description": "Find a set of recipes that adhere to the given nutritional limits. You may set limits for macronutrients (calories, protein, fat, and carbohydrate) and/or many micronutrients.",
        "operationId": "searchRecipesByNutrients",
        "deprecated": false
      }
    },
    "/recipes/complexSearch": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The (natural language) recipe search query.",
            "schema": {
              "type": "string",
              "example": "pasta"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "cuisine",
            "description": "The cuisine(s) of the recipes. One or more, comma separated (will be interpreted as 'OR'). See a full list of supported cuisines.",
            "schema": {
              "type": "string",
              "example": "italian"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "excludeCuisine",
            "description": "The cuisine(s) the recipes must not match. One or more, comma separated (will be interpreted as 'AND'). See a full list of supported cuisines.",
            "schema": {
              "type": "string",
              "example": "greek"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "diet",
            "description": "The diet for which the recipes must be suitable. See a full list of supported diets.",
            "schema": {
              "type": "string",
              "example": "vegetarian"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "intolerances",
            "description": "A comma-separated list of intolerances. All recipes returned must not contain ingredients that are not suitable for people with the intolerances entered. See a full list of supported intolerances.",
            "schema": {
              "type": "string",
              "example": "gluten"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "equipment",
            "description": "The equipment required. Multiple values will be interpreted as 'or'. For example, value could be \"blender, frying pan, bowl\".",
            "schema": {
              "type": "string",
              "example": "pan"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "includeIngredients",
            "description": "A comma-separated list of ingredients that should/must be used in the recipes.",
            "schema": {
              "type": "string",
              "example": "tomato,cheese"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "excludeIngredients",
            "description": "A comma-separated list of ingredients or ingredient types that the recipes must not contain.",
            "schema": {
              "type": "string",
              "example": "eggs"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "type",
            "description": "The type of recipe. See a full list of supported meal types.",
            "schema": {
              "type": "string",
              "example": "main course"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "instructionsRequired",
            "description": "Whether the recipes must have instructions.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "fillIngredients",
            "description": "Add information about the used and missing ingredients in each recipe.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "addRecipeInformation",
            "description": "If set to true, you get more information about the recipes returned. This saves you from needing to call to get recipe information.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "author",
            "description": "The username of the recipe author.",
            "schema": {
              "type": "string",
              "example": "coffeebean"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "tags",
            "description": "User defined tags that have to match.",
            "schema": {
              "type": "string",
              "example": "myCustomTag"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "titleMatch",
            "description": "Enter text that must be found in the title of the recipes.",
            "schema": {
              "type": "string",
              "example": "Crock Pot"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxReadyTime",
            "description": "The maximum time in minutes it should take to prepare and cook the recipe.",
            "schema": {
              "type": "number",
              "example": 20
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "ignorePantry",
            "description": "Whether to ignore typical pantry items, such as water, salt, flour, etc.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort",
            "description": "The strategy to sort recipes by. See a full list of supported sorting options.",
            "schema": {
              "type": "string",
              "example": "calories"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sortDirection",
            "description": "The direction in which to sort. Must be either 'asc' (ascending) or 'desc' (descending).",
            "schema": {
              "type": "string",
              "example": "asc"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCarbs",
            "description": "The minimum amount of carbohydrates in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCarbs",
            "description": "The maximum amount of carbohydrates in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minProtein",
            "description": "The minimum amount of protein in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxProtein",
            "description": "The maximum amount of protein in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCalories",
            "description": "The minimum amount of calories the recipe must have.",
            "schema": {
              "type": "number",
              "example": 50
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCalories",
            "description": "The maximum amount of calories the recipe can have.",
            "schema": {
              "type": "number",
              "example": 800
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFat",
            "description": "The minimum amount of fat in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFat",
            "description": "The maximum amount of fat in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minAlcohol",
            "description": "The minimum amount of alcohol in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxAlcohol",
            "description": "The maximum amount of alcohol in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCaffeine",
            "description": "The minimum amount of caffeine in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCaffeine",
            "description": "The maximum amount of caffeine in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCopper",
            "description": "The minimum amount of copper in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCopper",
            "description": "The maximum amount of copper in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCalcium",
            "description": "The minimum amount of calcium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCalcium",
            "description": "The maximum amount of calcium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCholine",
            "description": "The minimum amount of choline in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCholine",
            "description": "The maximum amount of choline in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCholesterol",
            "description": "The minimum amount of cholesterol in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCholesterol",
            "description": "The maximum amount of cholesterol in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFluoride",
            "description": "The minimum amount of fluoride in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFluoride",
            "description": "The maximum amount of fluoride in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSaturatedFat",
            "description": "The minimum amount of saturated fat in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSaturatedFat",
            "description": "The maximum amount of saturated fat in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminA",
            "description": "The minimum amount of Vitamin A in IU the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminA",
            "description": "The maximum amount of Vitamin A in IU the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminC",
            "description": "The minimum amount of Vitamin C milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminC",
            "description": "The maximum amount of Vitamin C in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminD",
            "description": "The minimum amount of Vitamin D in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminD",
            "description": "The maximum amount of Vitamin D in micrograms the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminE",
            "description": "The minimum amount of Vitamin E in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminE",
            "description": "The maximum amount of Vitamin E in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminK",
            "description": "The minimum amount of Vitamin K in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminK",
            "description": "The maximum amount of Vitamin K in micrograms the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB1",
            "description": "The minimum amount of Vitamin B1 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB1",
            "description": "The maximum amount of Vitamin B1 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB2",
            "description": "The minimum amount of Vitamin B2 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB2",
            "description": "The maximum amount of Vitamin B2 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB5",
            "description": "The minimum amount of Vitamin B5 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB5",
            "description": "The maximum amount of Vitamin B5 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB3",
            "description": "The minimum amount of Vitamin B3 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB3",
            "description": "The maximum amount of Vitamin B3 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB6",
            "description": "The minimum amount of Vitamin B6 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB6",
            "description": "The maximum amount of Vitamin B6 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB12",
            "description": "The minimum amount of Vitamin B12 in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB12",
            "description": "The maximum amount of Vitamin B12 in micrograms the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFiber",
            "description": "The minimum amount of fiber in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFiber",
            "description": "The maximum amount of fiber in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFolate",
            "description": "The minimum amount of folate in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFolate",
            "description": "The maximum amount of folate in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFolicAcid",
            "description": "The minimum amount of folic acid in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFolicAcid",
            "description": "The maximum amount of folic acid in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minIodine",
            "description": "The minimum amount of iodine in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxIodine",
            "description": "The maximum amount of iodine in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minIron",
            "description": "The minimum amount of iron in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxIron",
            "description": "The maximum amount of iron in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minMagnesium",
            "description": "The minimum amount of magnesium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxMagnesium",
            "description": "The maximum amount of magnesium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minManganese",
            "description": "The minimum amount of manganese in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxManganese",
            "description": "The maximum amount of manganese in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minPhosphorus",
            "description": "The minimum amount of phosphorus in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxPhosphorus",
            "description": "The maximum amount of phosphorus in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minPotassium",
            "description": "The minimum amount of potassium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxPotassium",
            "description": "The maximum amount of potassium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSelenium",
            "description": "The minimum amount of selenium in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSelenium",
            "description": "The maximum amount of selenium in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSodium",
            "description": "The minimum amount of sodium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSodium",
            "description": "The maximum amount of sodium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSugar",
            "description": "The minimum amount of sugar in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSugar",
            "description": "The maximum amount of sugar in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minZinc",
            "description": "The minimum amount of zinc in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxZinc",
            "description": "The maximum amount of zinc in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The offset number for paging (between 0 and 990).",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of expected results (between 1 and 10).",
            "schema": {
              "type": "number",
              "example": 5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "limitLicense",
            "description": "Whether the recipes should have an open license that allows display with proper attribution.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Search-Recipes-Complex"
        },
        "summary": "Search Recipes Complex",
        "description": "Search through hundreds of thousands of recipes using advanced filtering and ranking. NOTE: This method combines searching by query, by ingredients, and by nutrients into one endpoint.",
        "operationId": "searchRecipesComplex",
        "deprecated": false
      }
    },
    "/recipes/{id}/information": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The id of the recipe.",
            "schema": {
              "type": "number",
              "example": 716429
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "includeNutrition",
            "description": "Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Information"
        },
        "summary": "Get Recipe Information",
        "description": "Use a recipe id to get full information about a recipe, such as ingredients, nutrition, diet and allergen information, etc.",
        "operationId": "getRecipeInformation",
        "deprecated": false
      }
    },
    "/recipes/informationBulk": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "ids",
            "description": "A comma-separated list of recipe ids.",
            "schema": {
              "type": "string",
              "example": "715538,716429"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "includeNutrition",
            "description": "Include nutrition data to the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Information-Bulk"
        },
        "summary": "Get Recipe Information Bulk",
        "description": "Get information about multiple recipes at once. This is equivalent to calling the Get Recipe Information endpoint multiple times, but faster.",
        "operationId": "getRecipeInformationBulk",
        "deprecated": false
      }
    },
    "/recipes/{id}/similar": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The id of the source recipe for which similar recipes should be found.",
            "schema": {
              "type": "number",
              "example": 715538
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "number",
            "description": "The number of random recipes to be returned (between 1 and 100).",
            "schema": {
              "type": "number",
              "example": 1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Similar-Recipes"
        },
        "summary": "Get Similar Recipes",
        "description": "Find recipes which are similar to the given one.",
        "operationId": "getSimilarRecipes",
        "deprecated": false
      }
    },
    "/recipes/random": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "limitLicense",
            "description": "Whether the recipes should have an open license that allows display with proper attribution.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "tags",
            "description": "The tags (can be diets, meal types, cuisines, or intolerances) that the recipe must have.",
            "schema": {
              "type": "string",
              "example": "vegetarian, dessert"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of random recipes to be returned (between 1 and 100).",
            "schema": {
              "type": "number",
              "example": 1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Random-Recipes"
        },
        "summary": "Get Random Recipes",
        "description": "Find random (popular) recipes. If you need to filter recipes by diet, nutrition etc. you might want to consider using the complex recipe search endpoint and set the sort request parameter to random.",
        "operationId": "getRandomRecipes",
        "deprecated": false
      }
    },
    "/recipes/autocomplete": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The query to be autocompleted.",
            "schema": {
              "type": "string",
              "example": "burger"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of results to return (between 1 and 25).",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Autocomplete-Recipe-Search"
        },
        "summary": "Autocomplete Recipe Search",
        "description": "Autocomplete a partial input to suggest possible recipe names.",
        "operationId": "autocompleteRecipeSearch",
        "deprecated": false
      }
    },
    "/recipes/{id}/equipmentWidget.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 1003464
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Equipment-by-ID"
        },
        "summary": "Get Recipe Equipment by ID",
        "description": "Get a recipe's equipment list.",
        "operationId": "getRecipeEquipmentByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/priceBreakdownWidget.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 1003464
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Price-Breakdown-by-ID"
        },
        "summary": "Get Recipe Price Breakdown by ID",
        "description": "Get a recipe's price breakdown data.",
        "operationId": "getRecipePriceBreakdownByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/ingredientWidget.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 1003464
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Ingredients-by-ID"
        },
        "summary": "Get Recipe Ingredients by ID",
        "description": "Get a recipe's ingredient list.",
        "operationId": "getRecipeIngredientsByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/nutritionWidget.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 1003464
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Nutrition-Widget-by-ID"
        },
        "summary": "Get Recipe Nutrition Widget by ID",
        "description": "Get a recipe's nutrition widget data.",
        "operationId": "getRecipeNutritionWidgetByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/analyzedInstructions": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 324694
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "stepBreakdown",
            "description": "Whether to break down the recipe steps even more.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Analyzed-Recipe-Instructions"
        },
        "summary": "Get Analyzed Recipe Instructions",
        "description": "Get an analyzed breakdown of a recipe's instructions. Each step is enriched with the ingredients and equipment required.",
        "operationId": "getAnalyzedRecipeInstructions",
        "deprecated": false
      }
    },
    "/recipes/extract": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "url",
            "description": "The URL of the recipe page.",
            "schema": {
              "type": "string",
              "example": "https://foodista.com/recipe/ZHK4KPB6/chocolate-crinkle-cookies"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "forceExtraction",
            "description": "If true, the extraction will be triggered whether we already know the recipe or not. Use this only if information is missing as this operation is slower.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Extract-Recipe-from-Website"
        },
        "summary": "Extract Recipe from Website",
        "description": "This endpoint lets you extract recipe data such as title, ingredients, and instructions from any properly formatted Website.",
        "operationId": "extractRecipeFromWebsite",
        "deprecated": false
      }
    },
    "/recipes/{id}/ingredientWidget": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 1082038
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "defaultCss",
            "description": "Whether the default CSS should be added to the response.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Visualize-Recipe-Ingredients-by-ID"
        },
        "summary": "Visualize Recipe Ingredients by ID",
        "description": "Visualize a recipe's ingredient list.",
        "operationId": "visualizeRecipeIngredientsByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/equipmentWidget": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 44860
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "defaultCss",
            "description": "Whether the default CSS should be added to the response.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Visualize-Recipe-Equipment-by-ID"
        },
        "summary": "Visualize Recipe Equipment by ID",
        "description": "Visualize a recipe's equipment list.",
        "operationId": "visualizeRecipeEquipmentByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/priceBreakdownWidget": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
[...]
