{
  "openapi": "3.0.0",
  "info": {
    "title": "spoonacular API",
    "description": "The spoonacular Nutrition, Recipe, and Food API allows you to access over 380,000 recipes, thousands of ingredients, 80,000 food products, and 100,000 menu items. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as \"gluten free brownies without sugar\" or \"low fat vegan cupcakes.\" You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what's in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.\n\nSpecial diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.",
    "contact": {
      "name": "David Urbansky",
      "email": "david@spoonacular.com",
      "url": "https://spoonacular.com/contact"
    },
    "version": "1.0",
    "x-codegen-settings": {
      "Nullify404": false,
      "GenerateAsyncCode": true,
      "UseMethodPrefix": true,
      "UseModelPostfix": false,
      "UseControllerPrefix": true,
      "UseEnumPostfix": true,
      "CollectParameters": false,
      "UseConstructorsForConfig": true,
      "UseCommonSDKLibrary": false,
      "iOSUseAppInfoPlist": true,
      "AndroidUseAppManifest": true,
      "BodySerialization": 0,
      "EnableAdditionalModelProperties": false,
      "PreserveParameterOrder": false,
      "AppendContentHeaders": true,
      "iOSGenerateCoreData": false,
      "GenerateInterfaces": false,
      "NodeHttpClient": "NODE_REQUEST",
      "ValidateRequiredParameters": false,
      "JavaUsePropertiesConfig": false,
      "Timeout": 0,
      "StoreTimezoneInformation": false,
      "EnablePHPComposerVersionString": false,
      "EnableLogging": false,
      "ArraySerialization": "Indexed",
      "ModelSerializationScheme": "Json",
      "UseExceptionPrefix": true,
      "RunscopeEnabled": false,
      "JavaHttpClient": "JAVA_OK",
      "ParameterArrayFormat": "ParamArrayWithIndex",
      "SecurityProtocols": [
        "Ssl3",
        "Tls"
      ],
      "GenerateTravisConfig": false,
      "GenerateCircleConfig": false,
      "GenerateAppveyorConfig": false,
      "GenerateJenkinsConfig": false,
      "EnableHttpCache": false,
      "Retries": 0,
      "RetryInterval": 1,
      "GenerateAdvancedDocs": false,
      "UnderscoreNumbers": true,
      "UseSingletonPattern": true,
      "DisableLinting": false,
      "ApplyCustomizations": [],
      "SortResources": false,
      "AllowSkippingSSLCertVerification": false,
      "DoNotSplitWords": [],
      "EnableGlobalUserAgent": true,
      "ReturnCompleteHttpResponse": false,
      "GenerateModels": true,
      "GenerateExceptions": true,
      "IgnoreIfNullJson": false,
      "DisableDocs": false,
      "LiftParameterDescriptionFromCustomType": false,
      "ThrowForHttpErrorStatusCodes": true,
      "ResponseMapping": {
        "Type": "Simple"
      },
      "ForceKeywordArgsInRuby": false,
      "SymbolizeHashKeysInRuby": false
    },
    "x-server-configuration": {
      "default-environment": "production",
      "default-server": "default",
      "environments": [
        {
          "name": "production",
          "servers": [
            {
              "name": "default",
              "url": "https://api.spoonacular.com"
            }
          ]
        }
      ],
      "parameters": []
    },
    "license": {
      "name": "spoonacular API Terms",
      "url": "https://spoonacular.com/food-api/terms"
    },
    "termsOfService": "https://spoonacular.com/food-api/terms"
  },
  "servers": [
    {
      "url": "https://api.spoonacular.com",
      "variables": {}
    }
  ],
  "paths": {
    "/recipes/search": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The (natural language) recipe search query.",
            "schema": {
              "type": "string",
              "example": "burger"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "cuisine",
            "description": "The cuisine(s) of the recipes. One or more comma separated. See a full list of supported cuisines.",
            "schema": {
              "type": "string",
              "example": "italian"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "diet",
            "description": "The diet to which the recipes must be compliant. See a full list of supported diets.",
            "schema": {
              "type": "string",
              "example": "vegetarian"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "excludeIngredients",
            "description": "An comma-separated list of ingredients or ingredient types that must not be contained in the recipes.",
            "schema": {
              "type": "string",
              "example": "eggs"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "intolerances",
            "description": "A comma-separated list of intolerances. All found recipes must not have ingredients that could cause problems for people with one of the given tolerances. See a full list of supported intolerances.",
            "schema": {
              "type": "string",
              "example": "gluten"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of results to skip (between 0 and 900).",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of results to return (between 1 and 100).",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "limitLicense",
            "description": "Whether the recipes should have an open license that allows for displaying with proper attribution.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "instructionsRequired",
            "description": "Whether the recipes must have instructions.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Search-Recipes"
        },
        "summary": "Search Recipes",
        "description": "Our recipe API includes over 360,000 recipes as well as an open source recipe database. Consider using the \"Search Recipes Complex\" endpoint for much more flexibility.",
        "operationId": "searchRecipes",
        "deprecated": false
      }
    },
    "/recipes/findByIngredients": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "ingredients",
            "description": "A comma-separated list of ingredients that the recipes should contain.",
            "schema": {
              "type": "string",
              "example": "apples,flour,sugar"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The maximal number of recipes to return (between 1 and 100). Defaults to 10.",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "limitLicense",
            "description": "Whether the recipes should have an open license that allows for displaying with proper attribution.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "ranking",
            "description": "Whether to maximize used ingredients (1) or minimize missing ingredients (2) first.",
            "schema": {
              "type": "number",
              "example": 1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "ignorePantry",
            "description": "Whether to ignore pantry ingredients such as water, salt, flour etc.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Search-Recipes-by-Ingredients"
        },
        "summary": "Search Recipes by Ingredients",
        "description": "Find recipes that use as many of the given ingredients as possible and have as little as possible missing ingredients. This is a \"what's in your fridge\" API endpoint.",
        "operationId": "searchRecipesByIngredients",
        "deprecated": false
      }
    },
    "/recipes/findByNutrients": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "minCarbs",
            "description": "The minimum number of carbohydrates in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCarbs",
            "description": "The maximum number of carbohydrates in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minProtein",
            "description": "The minimum number of protein in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxProtein",
            "description": "The maximum number of protein in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCalories",
            "description": "The minimum number of calories the recipe must have.",
            "schema": {
              "type": "number",
              "example": 50
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCalories",
            "description": "The maximum number of calories the recipe can have.",
            "schema": {
              "type": "number",
              "example": 800
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFat",
            "description": "The minimum number of fat in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFat",
            "description": "The maximum number of fat in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minAlcohol",
            "description": "The minimum number of alcohol in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxAlcohol",
            "description": "The maximum number of alcohol in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCaffeine",
            "description": "The minimum number of milligrams of caffeine the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCaffeine",
            "description": "The maximum number of alcohol in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCopper",
            "description": "The minimum number of copper in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCopper",
            "description": "The maximum number of copper in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCalcium",
            "description": "The minimum number of calcium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCalcium",
            "description": "The maximum number of calcium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCholine",
            "description": "The minimum number of choline in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCholine",
            "description": "The maximum number of choline in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCholesterol",
            "description": "The minimum number of cholesterol in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCholesterol",
            "description": "The maximum number of cholesterol in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFluoride",
            "description": "The minimum number of fluoride in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFluoride",
            "description": "The maximum number of fluoride in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSaturatedFat",
            "description": "The minimum number of saturated fat in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSaturatedFat",
            "description": "The maximum number of saturated fat in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminA",
            "description": "The minimum number of Vitamin A in IU the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminA",
            "description": "The maximum number of Vitamin A in IU the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminC",
            "description": "The minimum number of Vitamin C milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminC",
            "description": "The maximum number of Vitamin C in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminD",
            "description": "The minimum number of Vitamin D in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminD",
            "description": "The maximum number of Vitamin D in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminE",
            "description": "The minimum number of Vitamin E in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminE",
            "description": "The maximum number of Vitamin E in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminK",
            "description": "The minimum number of Vitamin K in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminK",
            "description": "The maximum number of Vitamin K in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB1",
            "description": "The minimum number of Vitamin B1 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB1",
            "description": "The maximum number of Vitamin B1 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB2",
            "description": "The minimum number of Vitamin B2 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB2",
            "description": "The maximum number of Vitamin B2 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB5",
            "description": "The minimum number of Vitamin B5 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB5",
            "description": "The maximum number of Vitamin B5 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB3",
            "description": "The minimum number of Vitamin B3 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB3",
            "description": "The maximum number of Vitamin B3 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB6",
            "description": "The minimum number of Vitamin B6 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB6",
            "description": "The maximum number of Vitamin B6 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB12",
            "description": "The minimum number of Vitamin B12 in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB12",
            "description": "The maximum number of Vitamin B12 in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFiber",
            "description": "The minimum number of fiber in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFiber",
            "description": "The maximum number of fiber in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFolate",
            "description": "The minimum number of folate in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFolate",
            "description": "The maximum number of folate in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFolicAcid",
            "description": "The minimum number of folic acid in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFolicAcid",
            "description": "The maximum number of folic acid in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minIodine",
            "description": "The minimum number of Iodine in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxIodine",
            "description": "The maximum number of iodine in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minIron",
            "description": "The minimum number of iron in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxIron",
            "description": "The maximum number of iron in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minMagnesium",
            "description": "The minimum number of magnesium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxMagnesium",
            "description": "The maximum number of magnesium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minManganese",
            "description": "The minimum number of manganese in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxManganese",
            "description": "The maximum number of manganese in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minPhosphorus",
            "description": "The minimum number of phosphorus in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxPhosphorus",
            "description": "The maximum number of phosphorus in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minPotassium",
            "description": "The minimum number of potassium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxPotassium",
            "description": "The maximum number of potassium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSelenium",
            "description": "The minimum number of selenium in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSelenium",
            "description": "The maximum number of selenium in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSodium",
            "description": "The minimum number of sodium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSodium",
            "description": "The maximum number of sodium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSugar",
            "description": "The minimum number of sugar in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSugar",
            "description": "The maximum number of sugar in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minZinc",
            "description": "The minimum number of zinc in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxZinc",
            "description": "The maximum number of zinc in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The offset number for paging (between 0 and 990).",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of expected results (between 1 and 100).",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "random",
            "description": "If true, every request will give you a random set of recipes within the requested limits.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "limitLicense",
            "description": "Whether the recipes should have an open license that allows for displaying with proper attribution.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Search-Recipes-by-Nutrients"
        },
        "summary": "Search Recipes by Nutrients",
        "description": "Find a set of recipes that adhere to the given nutritional limits. All the returned recipes will have macro nutrients within the calories, protein, fat, and carbohydrate limits.",
        "operationId": "searchRecipesByNutrients",
        "deprecated": false
      }
    },
    "/recipes/complexSearch": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The (natural language) recipe search query.",
            "schema": {
              "type": "string",
              "example": "pasta"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "cuisine",
            "description": "The cuisine(s) of the recipes. One or more comma separated (will be iterpreted as 'OR'). See a full list of supported cuisines.",
            "schema": {
              "type": "string",
              "example": "italian"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "excludeCuisine",
            "description": "The cuisine(s) the recipes must not match. One or more comma separated (will be iterpreted as 'AND'). See a full list of supported cuisines.",
            "schema": {
              "type": "string",
              "example": "greek"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "diet",
            "description": "The diet to which the recipes must be compliant. See a full list of supported diets.",
            "schema": {
              "type": "string",
              "example": "vegetarian"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "intolerances",
            "description": "A comma-separated list of intolerances. All found recipes must not have ingredients that could cause problems for people with one of the given tolerances. See a full list of supported intolerances.",
            "schema": {
              "type": "string",
              "example": "gluten"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "equipment",
            "description": "The equipment required. Multiple values will be interpreted as 'or'. For example, value could be \"blender, frying pan, bowl\".",
            "schema": {
              "type": "string",
              "example": "pan"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "includeIngredients",
            "description": "A comma-separated list of ingredients that should/must be contained in the recipe.",
            "schema": {
              "type": "string",
              "example": "tomato,cheese"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "excludeIngredients",
            "description": "A comma-separated list of ingredients or ingredient types that must not be contained in the recipes.",
            "schema": {
              "type": "string",
              "example": "eggs"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "type",
            "description": "The type of the recipes. See a full list of supported meal types.",
            "schema": {
              "type": "string",
              "example": "main course"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "instructionsRequired",
            "description": "Whether the recipes must have instructions.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "fillIngredients",
            "description": "Add information about the used and missing ingredients in each recipe.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "addRecipeInformation",
            "description": "If set to true, you get more information about the recipes returned. This saves the calls to get recipe information.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "author",
            "description": "The username of the recipe author.",
            "schema": {
              "type": "string",
              "example": "coffeebean"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "tags",
            "description": "User defined tags that have to match.",
            "schema": {
              "type": "string",
              "example": "myCustomTag"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "titleMatch",
            "description": "A text that has to match in the title of the recipes.",
            "schema": {
              "type": "string",
              "example": "Crock Pot"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort",
            "description": "The strategy to sort recipes by. See a full list of supported sorting options.",
            "schema": {
              "type": "string",
              "example": "calories"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sortDirection",
            "description": "The direction in which to sort. Must be either 'asc' (ascending) or 'desc' (descending).",
            "schema": {
              "type": "string",
              "example": "asc"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCarbs",
            "description": "The minimum number of carbohydrates in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCarbs",
            "description": "The maximum number of carbohydrates in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minProtein",
            "description": "The minimum number of protein in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxProtein",
            "description": "The maximum number of protein in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCalories",
            "description": "The minimum number of calories the recipe must have.",
            "schema": {
              "type": "number",
              "example": 50
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCalories",
            "description": "The maximum number of calories the recipe can have.",
            "schema": {
              "type": "number",
              "example": 800
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFat",
            "description": "The minimum number of fat in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFat",
            "description": "The maximum number of fat in grams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minAlcohol",
            "description": "The minimum number of alcohol in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxAlcohol",
            "description": "The maximum number of alcohol in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCaffeine",
            "description": "The minimum number of milligrams of caffeine the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCaffeine",
            "description": "The maximum number of alcohol in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCopper",
            "description": "The minimum number of copper in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCopper",
            "description": "The maximum number of copper in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCalcium",
            "description": "The minimum number of calcium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCalcium",
            "description": "The maximum number of calcium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCholine",
            "description": "The minimum number of choline in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCholine",
            "description": "The maximum number of choline in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minCholesterol",
            "description": "The minimum number of cholesterol in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxCholesterol",
            "description": "The maximum number of cholesterol in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFluoride",
            "description": "The minimum number of fluoride in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFluoride",
            "description": "The maximum number of fluoride in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSaturatedFat",
            "description": "The minimum number of saturated fat in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSaturatedFat",
            "description": "The maximum number of saturated fat in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminA",
            "description": "The minimum number of Vitamin A in IU the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminA",
            "description": "The maximum number of Vitamin A in IU the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminC",
            "description": "The minimum number of Vitamin C milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminC",
            "description": "The maximum number of Vitamin C in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminD",
            "description": "The minimum number of Vitamin D in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminD",
            "description": "The maximum number of Vitamin D in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminE",
            "description": "The minimum number of Vitamin E in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminE",
            "description": "The maximum number of Vitamin E in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminK",
            "description": "The minimum number of Vitamin K in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminK",
            "description": "The maximum number of Vitamin K in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB1",
            "description": "The minimum number of Vitamin B1 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB1",
            "description": "The maximum number of Vitamin B1 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB2",
            "description": "The minimum number of Vitamin B2 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB2",
            "description": "The maximum number of Vitamin B2 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB5",
            "description": "The minimum number of Vitamin B5 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB5",
            "description": "The maximum number of Vitamin B5 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB3",
            "description": "The minimum number of Vitamin B3 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB3",
            "description": "The maximum number of Vitamin B3 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB6",
            "description": "The minimum number of Vitamin B6 in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB6",
            "description": "The maximum number of Vitamin B6 in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minVitaminB12",
            "description": "The minimum number of Vitamin B12 in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxVitaminB12",
            "description": "The maximum number of Vitamin B12 in micrograms the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFiber",
            "description": "The minimum number of fiber in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFiber",
            "description": "The maximum number of fiber in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFolate",
            "description": "The minimum number of folate in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFolate",
            "description": "The maximum number of folate in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minFolicAcid",
            "description": "The minimum number of folic acid in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxFolicAcid",
            "description": "The maximum number of folic acid in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minIodine",
            "description": "The minimum number of Iodine in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxIodine",
            "description": "The maximum number of iodine in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minIron",
            "description": "The minimum number of iron in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxIron",
            "description": "The maximum number of iron in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minMagnesium",
            "description": "The minimum number of magnesium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxMagnesium",
            "description": "The maximum number of magnesium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minManganese",
            "description": "The minimum number of manganese in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxManganese",
            "description": "The maximum number of manganese in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minPhosphorus",
            "description": "The minimum number of phosphorus in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxPhosphorus",
            "description": "The maximum number of phosphorus in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minPotassium",
            "description": "The minimum number of potassium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxPotassium",
            "description": "The maximum number of potassium in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSelenium",
            "description": "The minimum number of selenium in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSelenium",
            "description": "The maximum number of selenium in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSodium",
            "description": "The minimum number of sodium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSodium",
            "description": "The maximum number of sodium in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minSugar",
            "description": "The minimum number of sugar in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxSugar",
            "description": "The maximum number of sugar in grams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "minZinc",
            "description": "The minimum number of zinc in milligrams the recipe must have.",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "maxZinc",
            "description": "The maximum number of zinc in milligrams the recipe can have.",
            "schema": {
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The offset number for paging (between 0 and 990).",
            "schema": {
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of expected results (between 1 and 10).",
            "schema": {
              "type": "number",
              "example": 5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "limitLicense",
            "description": "Whether the recipes should have an open license that allows for displaying with proper attribution.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Search-Recipes-Complex"
        },
        "summary": "Search Recipes Complex",
        "description": "Search through hundreds of thousands of recipes using advanced filtering and ranking. NOTE: Since this method combines searching by query, by ingredients, and by nutrients in one endpoint.",
        "operationId": "searchRecipesComplex",
        "deprecated": false
      }
    },
    "/recipes/{id}/information": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The id of the recipe.",
            "schema": {
              "type": "number",
              "example": 716429
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "includeNutrition",
            "description": "Include nutrition data to the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Information"
        },
        "summary": "Get Recipe Information",
        "description": "Get information about a recipe.",
        "operationId": "getRecipeInformation",
        "deprecated": false
      }
    },
    "/recipes/informationBulk": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "ids",
            "description": "A comma-separated list of recipe ids.",
            "schema": {
              "type": "string",
              "example": "715538,716429"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "includeNutrition",
            "description": "Include nutrition data to the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Information-Bulk"
        },
        "summary": "Get Recipe Information Bulk",
        "description": "Get information about multiple recipes at once. That is equivalent of calling the Get Recipe Information endpoint multiple times but is faster.",
        "operationId": "getRecipeInformationBulk",
        "deprecated": false
      }
    },
    "/recipes/{id}/similar": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The id of the source recipe to which similar recipes should be found.",
            "schema": {
              "type": "number",
              "example": 715538
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "number",
            "description": "The number of random recipes to be returned (between 1 and 100).",
            "schema": {
              "type": "number",
              "example": 1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Similar-Recipes"
        },
        "summary": "Get Similar Recipes",
        "description": "Find recipes which are similar to the given one.",
        "operationId": "getSimilarRecipes",
        "deprecated": false
      }
    },
    "/recipes/random": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "limitLicense",
            "description": "Whether the recipes should have an open license that allows for displaying with proper attribution.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "tags",
            "description": "The tags (can be diets, meal types, cuisines, or intolerances) that the recipe must adhere to.",
            "schema": {
              "type": "string",
              "example": "vegetarian, dessert"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of random recipes to be returned (between 1 and 100).",
            "schema": {
              "type": "number",
              "example": 1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Random-Recipes"
        },
        "summary": "Get Random Recipes",
        "description": "Find random (popular) recipes.",
        "operationId": "getRandomRecipes",
        "deprecated": false
      }
    },
    "/recipes/autocomplete": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The query to be autocompleted.",
            "schema": {
              "type": "string",
              "example": "burger"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of results to return (between 1 and 25).",
            "schema": {
              "type": "number",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Autocomplete-Recipe-Search"
        },
        "summary": "Autocomplete Recipe Search",
        "description": "Autocomplete a partial input to possible recipe names.",
        "operationId": "autocompleteRecipeSearch",
        "deprecated": false
      }
    },
    "/recipes/{id}/equipmentWidget.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 1003464
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Equipment-by-ID"
        },
        "summary": "Get Recipe Equipment by ID",
        "description": "Get a recipe's equipment list.",
        "operationId": "getRecipeEquipmentByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/priceBreakdownWidget.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 1003464
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Price-Breakdown-by-ID"
        },
        "summary": "Get Recipe Price Breakdown by ID",
        "description": "Get a recipe's price breakdown data.",
        "operationId": "getRecipePriceBreakdownByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/ingredientWidget.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 1003464
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Ingredients-by-ID"
        },
        "summary": "Get Recipe Ingredients by ID",
        "description": "Get a recipe's ingredient list.",
        "operationId": "getRecipeIngredientsByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/nutritionWidget.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 1003464
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Nutrition-by-ID"
        },
        "summary": "Get Recipe Nutrition by ID",
        "description": "Get a recipe's nutrition widget data.",
        "operationId": "getRecipeNutritionByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/analyzedInstructions": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 324694
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "stepBreakdown",
            "description": "Whether to break down the recipe steps even more.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Analyzed-Recipe-Instructions"
        },
        "summary": "Get Analyzed Recipe Instructions",
        "description": "Get an analyzed breakdown of a recipe's instructions. Each step is enriched with the ingredients and the equipment that is used.",
        "operationId": "getAnalyzedRecipeInstructions",
        "deprecated": false
      }
    },
    "/recipes/extract": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "url",
            "description": "The URL of the recipe page.",
            "schema": {
              "type": "string",
              "example": "https://foodista.com/recipe/ZHK4KPB6/chocolate-crinkle-cookies"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "forceExtraction",
            "description": "If true, the extraction will be triggered no matter whether we know the recipe already. Use that only if information is missing as this operation is slower.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Extract-Recipe-from-Website"
        },
        "summary": "Extract Recipe from Website",
        "description": "Get an analyzed breakdown of a recipe's instructions. Each step is enriched with the ingredients and the equipment that is used.",
        "operationId": "extractRecipeFromWebsite",
        "deprecated": false
      }
    },
    "/recipes/{id}/ingredientWidget": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 1082038
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "defaultCss",
            "description": "Whether the default CSS should be added to the response.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Visualize-Recipe-Ingredients-by-ID"
        },
        "summary": "Visualize Recipe Ingredients by ID",
        "description": "Visualize a recipe's ingredient list.",
        "operationId": "visualizeRecipeIngredientsByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/equipmentWidget": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 44860
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "defaultCss",
            "description": "Whether the default CSS should be added to the response.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Visualize-Recipe-Equipment-by-ID"
        },
        "summary": "Visualize Recipe Equipment by ID",
        "description": "Visualize a recipe's equipment list.",
        "operationId": "visualizeRecipeEquipmentByID",
        "deprecated": false
      }
    },
    "/recipes/{id}/priceBreakdownWidget": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The recipe id.",
            "schema": {
              "type": "number",
              "example": 1082038
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "defaultCss",
            "description": "Whether the default CSS should be added to the response.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Visualize-Recipe-Price-Breakdown-by-ID"
        },
        "summary": "Visualize Recipe Price Breakdown by ID",
        "description": "Visualize a recipe's price breakdown.",
        "operationId": "visualizeRecipePriceBreakdownByID",
        "deprecated": false
      }
    },
    "/recipes/visualizeNutrition": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
[...]
