# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule com.spoonacular.client.Api.Products do
  @moduledoc """
  API calls for all endpoints tagged `Products`.
  """

  alias com.spoonacular.client.Connection
  import com.spoonacular.client.RequestBuilder


  @doc """
  Autocomplete Product Search
  Generate suggestions for grocery products based on a (partial) query. The matches will be found by looking in the title only.

  ## Parameters

  - connection (com.spoonacular.client.Connection): Connection to server
  - query (String.t): The (partial) search query.
  - opts (KeywordList): [optional] Optional parameters
    - :number (integer()): The number of results to return (between 1 and 25).
  ## Returns

  {:ok, %com.spoonacular.client.Model.InlineResponse20032{}} on success
  {:error, info} on failure
  """
  @spec autocomplete_product_search(Tesla.Env.client, String.t, keyword()) :: {:ok, com.spoonacular.client.Model.InlineResponse20032.t} | {:error, Tesla.Env.t}
  def autocomplete_product_search(connection, query, opts \\ []) do
    optional_params = %{
      :"number" => :query
    }
    %{}
    |> method(:get)
    |> url("/food/products/suggest")
    |> add_param(:query, :"query", query)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %com.spoonacular.client.Model.InlineResponse20032{}},
      { 401, false},
      { 403, false},
      { 404, false}
    ])
  end

  @doc """
  Classify Grocery Product
  This endpoint allows you to match a packaged food to a basic category, e.g. a specific brand of milk to the category milk.

  ## Parameters

  - connection (com.spoonacular.client.Connection): Connection to server
  - inline_object1 (InlineObject1): 
  - opts (KeywordList): [optional] Optional parameters
    - :locale (String.t): The display name of the returned category, supported is en_US (for American English) and en_GB (for British English).
  ## Returns

  {:ok, %com.spoonacular.client.Model.InlineResponse20033{}} on success
  {:error, info} on failure
  """
  @spec classify_grocery_product(Tesla.Env.client, com.spoonacular.client.Model.InlineObject1.t, keyword()) :: {:ok, com.spoonacular.client.Model.InlineResponse20033.t} | {:error, Tesla.Env.t}
  def classify_grocery_product(connection, inline_object1, opts \\ []) do
    optional_params = %{
      :"locale" => :query
    }
    %{}
    |> method(:post)
    |> url("/food/products/classify")
    |> add_param(:body, :body, inline_object1)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %com.spoonacular.client.Model.InlineResponse20033{}},
      { 401, false},
      { 403, false},
      { 404, false}
    ])
  end

  @doc """
  Classify Grocery Product Bulk
  Provide a set of product jsons, get back classified products.

  ## Parameters

  - connection (com.spoonacular.client.Connection): Connection to server
  - inline_object ([InlineObject]): 
  - opts (KeywordList): [optional] Optional parameters
    - :locale (String.t): The display name of the returned category, supported is en_US (for American English) and en_GB (for British English).
  ## Returns

  {:ok, [%InlineResponse20033{}, ...]} on success
  {:error, info} on failure
  """
  @spec classify_grocery_product_bulk(Tesla.Env.client, list(com.spoonacular.client.Model.InlineObject.t), keyword()) :: {:ok, list(com.spoonacular.client.Model.InlineResponse20033.t)} | {:error, Tesla.Env.t}
  def classify_grocery_product_bulk(connection, inline_object, opts \\ []) do
    optional_params = %{
      :"locale" => :query
    }
    %{}
    |> method(:post)
    |> url("/food/products/classifyBatch")
    |> add_param(:body, :body, inline_object)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, [%com.spoonacular.client.Model.InlineResponse20033{}]},
      { 401, false},
      { 403, false},
      { 404, false}
    ])
  end

  @doc """
  Get Comparable Products
  Find comparable products to the given one.

  ## Parameters

  - connection (com.spoonacular.client.Connection): Connection to server
  - upc (float()): The UPC of the product for which you want to find comparable products.
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %com.spoonacular.client.Model.InlineResponse20031{}} on success
  {:error, info} on failure
  """
  @spec get_comparable_products(Tesla.Env.client, float(), keyword()) :: {:ok, com.spoonacular.client.Model.InlineResponse20031.t} | {:error, Tesla.Env.t}
  def get_comparable_products(connection, upc, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/food/products/upc/#{upc}/comparable")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %com.spoonacular.client.Model.InlineResponse20031{}},
      { 401, false},
      { 403, false},
      { 404, false}
    ])
  end

  @doc """
  Get Product Information
  Use a product id to get full information about a product, such as ingredients, nutrition, etc. The nutritional information is per serving.

  ## Parameters

  - connection (com.spoonacular.client.Connection): Connection to server
  - id (integer()): The item's id.
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %com.spoonacular.client.Model.InlineResponse20030{}} on success
  {:error, info} on failure
  """
  @spec get_product_information(Tesla.Env.client, integer(), keyword()) :: {:ok, com.spoonacular.client.Model.InlineResponse20030.t} | {:error, Tesla.Env.t}
  def get_product_information(connection, id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/food/products/#{id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %com.spoonacular.client.Model.InlineResponse20030{}},
      { 401, false},
      { 403, false},
      { 404, false}
    ])
  end

  @doc """
  Product Nutrition by ID Image
  Visualize a product's nutritional information as an image.

  ## Parameters

  - connection (com.spoonacular.client.Connection): Connection to server
  - id (float()): The id of the product.
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %com.spoonacular.client.Model.Map{}} on success
  {:error, info} on failure
  """
  @spec product_nutrition_by_id_image(Tesla.Env.client, float(), keyword()) :: {:ok, Map.t} | {:error, Tesla.Env.t}
  def product_nutrition_by_id_image(connection, id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/food/products/#{id}/nutritionWidget.png")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, false},
      { 401, false},
      { 403, false},
      { 404, false}
    ])
  end

  @doc """
  Product Nutrition Label Image
  Get a product's nutrition label as an image.

  ## Parameters

  - connection (com.spoonacular.client.Connection): Connection to server
  - id (float()): The product id.
  - opts (KeywordList): [optional] Optional parameters
    - :show_optional_nutrients (boolean()): Whether to show optional nutrients.
    - :show_zero_values (boolean()): Whether to show zero values.
    - :show_ingredients (boolean()): Whether to show a list of ingredients.
  ## Returns

  {:ok, %com.spoonacular.client.Model.Map{}} on success
  {:error, info} on failure
  """
  @spec product_nutrition_label_image(Tesla.Env.client, float(), keyword()) :: {:ok, Map.t} | {:error, Tesla.Env.t}
  def product_nutrition_label_image(connection, id, opts \\ []) do
    optional_params = %{
      :"showOptionalNutrients" => :query,
      :"showZeroValues" => :query,
      :"showIngredients" => :query
    }
    %{}
    |> method(:get)
    |> url("/food/products/#{id}/nutritionLabel.png")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, false},
      { 401, false},
      { 403, false},
      { 404, false}
    ])
  end

  @doc """
  Product Nutrition Label Widget
  Get a product's nutrition label as an HTML widget.

  ## Parameters

  - connection (com.spoonacular.client.Connection): Connection to server
  - id (float()): The product id.
  - opts (KeywordList): [optional] Optional parameters
    - :default_css (boolean()): Whether the default CSS should be added to the response.
    - :show_optional_nutrients (boolean()): Whether to show optional nutrients.
    - :show_zero_values (boolean()): Whether to show zero values.
    - :show_ingredients (boolean()): Whether to show a list of ingredients.
  ## Returns

  {:ok, %com.spoonacular.client.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec product_nutrition_label_widget(Tesla.Env.client, float(), keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def product_nutrition_label_widget(connection, id, opts \\ []) do
    optional_params = %{
      :"defaultCss" => :query,
      :"showOptionalNutrients" => :query,
      :"showZeroValues" => :query,
      :"showIngredients" => :query
    }
    %{}
    |> method(:get)
    |> url("/food/products/#{id}/nutritionLabel")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, false},
      { 401, false},
      { 403, false},
      { 404, false}
    ])
  end

  @doc """
  Search Grocery Products
  Search packaged food products, such as frozen pizza or Greek yogurt.

  ## Parameters

  - connection (com.spoonacular.client.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :query (String.t): The (natural language) search query.
    - :min_calories (float()): The minimum amount of calories the product must have.
    - :max_calories (float()): The maximum amount of calories the product can have.
    - :min_carbs (float()): The minimum amount of carbohydrates in grams the product must have.
    - :max_carbs (float()): The maximum amount of carbohydrates in grams the product can have.
    - :min_protein (float()): The minimum amount of protein in grams the product must have.
    - :max_protein (float()): The maximum amount of protein in grams the product can have.
    - :min_fat (float()): The minimum amount of fat in grams the product must have.
    - :max_fat (float()): The maximum amount of fat in grams the product can have.
    - :offset (integer()): The number of results to skip (between 0 and 900).
    - :number (integer()): The maximum number of items to return (between 1 and 100). Defaults to 10.
  ## Returns

  {:ok, %com.spoonacular.client.Model.InlineResponse20027{}} on success
  {:error, info} on failure
  """
  @spec search_grocery_products(Tesla.Env.client, keyword()) :: {:ok, com.spoonacular.client.Model.InlineResponse20027.t} | {:error, Tesla.Env.t}
  def search_grocery_products(connection, opts \\ []) do
    optional_params = %{
      :"query" => :query,
      :"minCalories" => :query,
      :"maxCalories" => :query,
      :"minCarbs" => :query,
      :"maxCarbs" => :query,
      :"minProtein" => :query,
      :"maxProtein" => :query,
      :"minFat" => :query,
      :"maxFat" => :query,
      :"offset" => :query,
      :"number" => :query
    }
    %{}
    |> method(:get)
    |> url("/food/products/search")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %com.spoonacular.client.Model.InlineResponse20027{}},
      { 401, false},
      { 403, false},
      { 404, false}
    ])
  end

  @doc """
  Search Grocery Products by UPC
  Get information about a packaged food using its UPC.

  ## Parameters

  - connection (com.spoonacular.client.Connection): Connection to server
  - upc (float()): The product's UPC.
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %com.spoonacular.client.Model.InlineResponse20028{}} on success
  {:error, info} on failure
  """
  @spec search_grocery_products_by_upc(Tesla.Env.client, float(), keyword()) :: {:ok, com.spoonacular.client.Model.InlineResponse20028.t} | {:error, Tesla.Env.t}
  def search_grocery_products_by_upc(connection, upc, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/food/products/upc/#{upc}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %com.spoonacular.client.Model.InlineResponse20028{}},
      { 401, false},
      { 403, false},
      { 404, false}
    ])
  end

  @doc """
  Product Nutrition by ID Widget
  Visualize a product's nutritional information as HTML including CSS.

  ## Parameters

  - connection (com.spoonacular.client.Connection): Connection to server
  - id (integer()): The item's id.
  - opts (KeywordList): [optional] Optional parameters
    - :default_css (boolean()): Whether the default CSS should be added to the response.
    - :accept (String.t): Accept header.
  ## Returns

  {:ok, %com.spoonacular.client.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec visualize_product_nutrition_by_id(Tesla.Env.client, integer(), keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def visualize_product_nutrition_by_id(connection, id, opts \\ []) do
    optional_params = %{
      :"defaultCss" => :query,
      :"Accept" => :headers
    }
    %{}
    |> method(:get)
    |> url("/food/products/#{id}/nutritionWidget")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, false},
      { 401, false},
      { 403, false},
      { 404, false}
    ])
  end
end
