/*
 * spoonacular API
 *
 * The spoonacular Nutrition, Recipe, and Food API allows you to access over 380,000 recipes, thousands of ingredients, 800,000 food products, and 100,000 menu items. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as \"gluten free brownies without sugar\" or \"low fat vegan cupcakes.\" You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what's in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.  Special diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.
 *
 * The version of the OpenAPI document: 1.0
 * Contact: mail@spoonacular.com
 * Generated by: https://openapi-generator.tech
 */

use std::rc::Rc;
use std::borrow::Borrow;

use hyper;
use serde_json;
use futures::Future;

use super::{Error, configuration};
use super::request as __internal_request;

pub struct MenuItemsApiClient<C: hyper::client::Connect> {
    configuration: Rc<configuration::Configuration<C>>,
}

impl<C: hyper::client::Connect> MenuItemsApiClient<C> {
    pub fn new(configuration: Rc<configuration::Configuration<C>>) -> MenuItemsApiClient<C> {
        MenuItemsApiClient {
            configuration: configuration,
        }
    }
}

pub trait MenuItemsApi {
    fn autocomplete_menu_item_search(&self, query: &str, number: f32) -> Box<Future<Item = ::models::InlineResponse20032, Error = Error<serde_json::Value>>>;
    fn get_menu_item_information(&self, id: i32) -> Box<Future<Item = ::models::InlineResponse20036, Error = Error<serde_json::Value>>>;
    fn menu_item_nutrition_by_id_image(&self, id: f32) -> Box<Future<Item = Value, Error = Error<serde_json::Value>>>;
    fn menu_item_nutrition_label_image(&self, id: f32, show_optional_nutrients: bool, show_zero_values: bool, show_ingredients: bool) -> Box<Future<Item = Value, Error = Error<serde_json::Value>>>;
    fn menu_item_nutrition_label_widget(&self, id: f32, default_css: bool, show_optional_nutrients: bool, show_zero_values: bool, show_ingredients: bool) -> Box<Future<Item = String, Error = Error<serde_json::Value>>>;
    fn search_menu_items(&self, query: &str, min_calories: f32, max_calories: f32, min_carbs: f32, max_carbs: f32, min_protein: f32, max_protein: f32, min_fat: f32, max_fat: f32, offset: i32, number: i32) -> Box<Future<Item = ::models::InlineResponse20035, Error = Error<serde_json::Value>>>;
    fn visualize_menu_item_nutrition_by_id(&self, id: i32, default_css: bool, accept: &str) -> Box<Future<Item = String, Error = Error<serde_json::Value>>>;
}


impl<C: hyper::client::Connect>MenuItemsApi for MenuItemsApiClient<C> {
    fn autocomplete_menu_item_search(&self, query: &str, number: f32) -> Box<Future<Item = ::models::InlineResponse20032, Error = Error<serde_json::Value>>> {
        __internal_request::Request::new(hyper::Method::Get, "/food/menuItems/suggest".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: false,
                in_query: true,
                param_name: "apiKey".to_owned(),
            }))
            .with_query_param("query".to_string(), query.to_string())
            .with_query_param("number".to_string(), number.to_string())
            .execute(self.configuration.borrow())
    }

    fn get_menu_item_information(&self, id: i32) -> Box<Future<Item = ::models::InlineResponse20036, Error = Error<serde_json::Value>>> {
        __internal_request::Request::new(hyper::Method::Get, "/food/menuItems/{id}".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: false,
                in_query: true,
                param_name: "apiKey".to_owned(),
            }))
            .with_path_param("id".to_string(), id.to_string())
            .execute(self.configuration.borrow())
    }

    fn menu_item_nutrition_by_id_image(&self, id: f32) -> Box<Future<Item = Value, Error = Error<serde_json::Value>>> {
        __internal_request::Request::new(hyper::Method::Get, "/food/menuItems/{id}/nutritionWidget.png".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: false,
                in_query: true,
                param_name: "apiKey".to_owned(),
            }))
            .with_path_param("id".to_string(), id.to_string())
            .execute(self.configuration.borrow())
    }

    fn menu_item_nutrition_label_image(&self, id: f32, show_optional_nutrients: bool, show_zero_values: bool, show_ingredients: bool) -> Box<Future<Item = Value, Error = Error<serde_json::Value>>> {
        __internal_request::Request::new(hyper::Method::Get, "/food/menuItems/{id}/nutritionLabel.png".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: false,
                in_query: true,
                param_name: "apiKey".to_owned(),
            }))
            .with_query_param("showOptionalNutrients".to_string(), show_optional_nutrients.to_string())
            .with_query_param("showZeroValues".to_string(), show_zero_values.to_string())
            .with_query_param("showIngredients".to_string(), show_ingredients.to_string())
            .with_path_param("id".to_string(), id.to_string())
            .execute(self.configuration.borrow())
    }

    fn menu_item_nutrition_label_widget(&self, id: f32, default_css: bool, show_optional_nutrients: bool, show_zero_values: bool, show_ingredients: bool) -> Box<Future<Item = String, Error = Error<serde_json::Value>>> {
        __internal_request::Request::new(hyper::Method::Get, "/food/menuItems/{id}/nutritionLabel".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: false,
                in_query: true,
                param_name: "apiKey".to_owned(),
            }))
            .with_query_param("defaultCss".to_string(), default_css.to_string())
            .with_query_param("showOptionalNutrients".to_string(), show_optional_nutrients.to_string())
            .with_query_param("showZeroValues".to_string(), show_zero_values.to_string())
            .with_query_param("showIngredients".to_string(), show_ingredients.to_string())
            .with_path_param("id".to_string(), id.to_string())
            .execute(self.configuration.borrow())
    }

    fn search_menu_items(&self, query: &str, min_calories: f32, max_calories: f32, min_carbs: f32, max_carbs: f32, min_protein: f32, max_protein: f32, min_fat: f32, max_fat: f32, offset: i32, number: i32) -> Box<Future<Item = ::models::InlineResponse20035, Error = Error<serde_json::Value>>> {
        __internal_request::Request::new(hyper::Method::Get, "/food/menuItems/search".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: false,
                in_query: true,
                param_name: "apiKey".to_owned(),
            }))
            .with_query_param("query".to_string(), query.to_string())
            .with_query_param("minCalories".to_string(), min_calories.to_string())
            .with_query_param("maxCalories".to_string(), max_calories.to_string())
            .with_query_param("minCarbs".to_string(), min_carbs.to_string())
            .with_query_param("maxCarbs".to_string(), max_carbs.to_string())
            .with_query_param("minProtein".to_string(), min_protein.to_string())
            .with_query_param("maxProtein".to_string(), max_protein.to_string())
            .with_query_param("minFat".to_string(), min_fat.to_string())
            .with_query_param("maxFat".to_string(), max_fat.to_string())
            .with_query_param("offset".to_string(), offset.to_string())
            .with_query_param("number".to_string(), number.to_string())
            .execute(self.configuration.borrow())
    }

    fn visualize_menu_item_nutrition_by_id(&self, id: i32, default_css: bool, accept: &str) -> Box<Future<Item = String, Error = Error<serde_json::Value>>> {
        __internal_request::Request::new(hyper::Method::Get, "/food/menuItems/{id}/nutritionWidget".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: false,
                in_query: true,
                param_name: "apiKey".to_owned(),
            }))
            .with_query_param("defaultCss".to_string(), default_css.to_string())
            .with_path_param("id".to_string(), id.to_string())
            .with_header_param("Accept".to_string(), accept.to_string())
            .execute(self.configuration.borrow())
    }

}
