/**
 * spoonacular API
 * The spoonacular Nutrition, Recipe, and Food API allows you to access over 380,000 recipes, thousands of ingredients, 80,000 food products, and 100,000 menu items. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as \"gluten free brownies without sugar\" or \"low fat vegan cupcakes.\" You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what's in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.  Special diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.
 *
 * The version of the OpenAPI document: 1.0
 * Contact: david@spoonacular.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.spoonacular;

import com.spoonacular.client.ApiException;
import com.spoonacular.client.ApiInvoker;
import com.spoonacular.client.Pair;

import com.spoonacular.client.model.*;

import java.util.*;

import java.math.BigDecimal;
import java.io.File;
import com.spoonacular.client.model.InlineObject10;
import com.spoonacular.client.model.InlineObject11;
import com.spoonacular.client.model.InlineObject12;
import com.spoonacular.client.model.InlineObject13;
import com.spoonacular.client.model.InlineObject14;
import com.spoonacular.client.model.InlineObject15;
import com.spoonacular.client.model.InlineObject9;

import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.Map;
import java.util.HashMap;
import java.io.File;

public class DefaultApi {
  String basePath = "https://api.spoonacular.com";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
   * Add to Meal Plan
   * Add an item to the user&#39;s meal plan.
   * @param username The username.
   * @param hash The private hash for the username.
   * @param inlineObject11 
   * @return Object
   */
  public Object  addToMealPlan (String username, String hash, InlineObject11 inlineObject11) throws ApiException {
    Object localVarPostBody = inlineObject11;
    // verify the required parameter 'username' is set
    if (username == null) {
       throw new ApiException(400, "Missing the required parameter 'username' when calling addToMealPlan");
    }
    // verify the required parameter 'hash' is set
    if (hash == null) {
       throw new ApiException(400, "Missing the required parameter 'hash' when calling addToMealPlan");
    }
    // verify the required parameter 'inlineObject11' is set
    if (inlineObject11 == null) {
       throw new ApiException(400, "Missing the required parameter 'inlineObject11' when calling addToMealPlan");
    }

    // create path and map variables
    String localVarPath = "/mealplanner/{username}/items".replaceAll("\\{format\\}","json").replaceAll("\\{" + "username" + "\\}", apiInvoker.escapeString(username.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "hash", hash));


    String[] localVarContentTypes = {
      ""
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Add to Shopping List
   * Add an item to the current shopping list of a user.
   * @param username The username.
   * @param hash The private hash for the username.
   * @param inlineObject14 
   * @return Object
   */
  public Object  addToShoppingList (String username, String hash, InlineObject14 inlineObject14) throws ApiException {
    Object localVarPostBody = inlineObject14;
    // verify the required parameter 'username' is set
    if (username == null) {
       throw new ApiException(400, "Missing the required parameter 'username' when calling addToShoppingList");
    }
    // verify the required parameter 'hash' is set
    if (hash == null) {
       throw new ApiException(400, "Missing the required parameter 'hash' when calling addToShoppingList");
    }
    // verify the required parameter 'inlineObject14' is set
    if (inlineObject14 == null) {
       throw new ApiException(400, "Missing the required parameter 'inlineObject14' when calling addToShoppingList");
    }

    // create path and map variables
    String localVarPath = "/mealplanner/{username}/shopping-list/items".replaceAll("\\{format\\}","json").replaceAll("\\{" + "username" + "\\}", apiInvoker.escapeString(username.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "hash", hash));


    String[] localVarContentTypes = {
      ""
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Analyze a Recipe Search Query
   * Parse a recipe search query to find out its intention.
   * @param q The recipe search query.
   * @return Object
   */
  public Object  analyzeARecipeSearchQuery (String q) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'q' is set
    if (q == null) {
       throw new ApiException(400, "Missing the required parameter 'q' when calling analyzeARecipeSearchQuery");
    }

    // create path and map variables
    String localVarPath = "/recipes/queries/analyze".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Analyze Recipe Instructions
   * This endpoint allows you to break down instructions into atomic steps. Furthermore, each step will contain the ingredients and equipment required. Additionally, all ingredients and equipment from the recipe&#39;s instructions will be extracted independently of the step they&#39;re used in.
   * @param instructions The instructions to be analyzed.
   * @return Object
   */
  public Object  analyzeRecipeInstructions (String instructions) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'instructions' is set
    if (instructions == null) {
       throw new ApiException(400, "Missing the required parameter 'instructions' when calling analyzeRecipeInstructions");
    }

    // create path and map variables
    String localVarPath = "/recipes/analyzeInstructions".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      "application/x-www-form-urlencoded"
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      
      if (instructions != null) {
        localVarBuilder.addTextBody("instructions", ApiInvoker.parameterToString(instructions), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
      localVarFormParams.put("instructions", ApiInvoker.parameterToString(instructions));
    }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Autocomplete Ingredient Search
   * Autocomplete the entry of an ingredient.
   * @param query The partial or full ingredient name.
   * @param number The number of results to return (between 1 and 100).
   * @param metaInformation Whether to return more meta information about the ingredients.
   * @param intolerances A comma-separated list of intolerances. All recipes returned must not contain ingredients that are not suitable for people with the intolerances entered. See a full list of supported intolerances.
   * @return Object
   */
  public Object  autocompleteIngredientSearch (String query, BigDecimal number, Boolean metaInformation, String intolerances) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'query' is set
    if (query == null) {
       throw new ApiException(400, "Missing the required parameter 'query' when calling autocompleteIngredientSearch");
    }

    // create path and map variables
    String localVarPath = "/food/ingredients/autocomplete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "query", query));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "number", number));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "metaInformation", metaInformation));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "intolerances", intolerances));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Autocomplete Menu Item Search
   * Generate suggestions for menu items based on a (partial) query. The matches will be found by looking in the title only.
   * @param query The (partial) search query.
   * @param number The number of results to return (between 1 and 25).
   * @return Object
   */
  public Object  autocompleteMenuItemSearch (String query, BigDecimal number) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'query' is set
    if (query == null) {
       throw new ApiException(400, "Missing the required parameter 'query' when calling autocompleteMenuItemSearch");
    }

    // create path and map variables
    String localVarPath = "/food/menuItems/suggest".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "query", query));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "number", number));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Autocomplete Product Search
   * Generate suggestions for grocery products based on a (partial) query. The matches will be found by looking in the title only.
   * @param query The (partial) search query.
   * @param number The number of results to return (between 1 and 25).
   * @return Object
   */
  public Object  autocompleteProductSearch (String query, BigDecimal number) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'query' is set
    if (query == null) {
       throw new ApiException(400, "Missing the required parameter 'query' when calling autocompleteProductSearch");
    }

    // create path and map variables
    String localVarPath = "/food/products/suggest".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "query", query));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "number", number));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Autocomplete Recipe Search
   * Autocomplete a partial input to suggest possible recipe names.
   * @param query The query to be autocompleted.
   * @param number The number of results to return (between 1 and 25).
   * @return Object
   */
  public Object  autocompleteRecipeSearch (String query, BigDecimal number) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'query' is set
    if (query == null) {
       throw new ApiException(400, "Missing the required parameter 'query' when calling autocompleteRecipeSearch");
    }

    // create path and map variables
    String localVarPath = "/recipes/autocomplete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "query", query));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "number", number));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Classify Cuisine
   * Classify the recipe&#39;s cuisine.
   * @param title The title of the recipe.
   * @param ingredientList The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n).
   * @return Object
   */
  public Object  classifyCuisine (String title, String ingredientList) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'title' is set
    if (title == null) {
       throw new ApiException(400, "Missing the required parameter 'title' when calling classifyCuisine");
    }
    // verify the required parameter 'ingredientList' is set
    if (ingredientList == null) {
       throw new ApiException(400, "Missing the required parameter 'ingredientList' when calling classifyCuisine");
    }

    // create path and map variables
    String localVarPath = "/recipes/cuisine".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      "application/x-www-form-urlencoded"
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      
      if (title != null) {
        localVarBuilder.addTextBody("title", ApiInvoker.parameterToString(title), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (ingredientList != null) {
        localVarBuilder.addTextBody("ingredientList", ApiInvoker.parameterToString(ingredientList), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
      localVarFormParams.put("title", ApiInvoker.parameterToString(title));
localVarFormParams.put("ingredientList", ApiInvoker.parameterToString(ingredientList));
    }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Classify Grocery Product
   * This endpoint allows you to match a packaged food to a basic category, e.g. a specific brand of milk to the category milk.
   * @param inlineObject9 
   * @param locale The display name of the returned category, supported is en_US (for American English) and en_GB (for British English).
   * @return Object
   */
  public Object  classifyGroceryProduct (InlineObject9 inlineObject9, String locale) throws ApiException {
    Object localVarPostBody = inlineObject9;
    // verify the required parameter 'inlineObject9' is set
    if (inlineObject9 == null) {
       throw new ApiException(400, "Missing the required parameter 'inlineObject9' when calling classifyGroceryProduct");
    }

    // create path and map variables
    String localVarPath = "/food/products/classify".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "locale", locale));


    String[] localVarContentTypes = {
      "application/json"
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Classify Grocery Product Bulk
   * Provide a set of product jsons, get back classified products.
   * @param body 
   * @param locale The display name of the returned category, supported is en_US (for American English) and en_GB (for British English).
   * @return Object
   */
  public Object  classifyGroceryProductBulk (Object body, String locale) throws ApiException {
    Object localVarPostBody = body;
    // verify the required parameter 'body' is set
    if (body == null) {
       throw new ApiException(400, "Missing the required parameter 'body' when calling classifyGroceryProductBulk");
    }

    // create path and map variables
    String localVarPath = "/food/products/classifyBatch".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "locale", locale));


    String[] localVarContentTypes = {
      "application/json"
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Clear Meal Plan Day
   * Delete all planned items from the user&#39;s meal plan for a specific day.
   * @param username The username.
   * @param date The date in the format yyyy-mm-dd.
   * @param hash The private hash for the username.
   * @param inlineObject10 
   * @return Object
   */
  public Object  clearMealPlanDay (String username, String date, String hash, InlineObject10 inlineObject10) throws ApiException {
    Object localVarPostBody = inlineObject10;
    // verify the required parameter 'username' is set
    if (username == null) {
       throw new ApiException(400, "Missing the required parameter 'username' when calling clearMealPlanDay");
    }
    // verify the required parameter 'date' is set
    if (date == null) {
       throw new ApiException(400, "Missing the required parameter 'date' when calling clearMealPlanDay");
    }
    // verify the required parameter 'hash' is set
    if (hash == null) {
       throw new ApiException(400, "Missing the required parameter 'hash' when calling clearMealPlanDay");
    }
    // verify the required parameter 'inlineObject10' is set
    if (inlineObject10 == null) {
       throw new ApiException(400, "Missing the required parameter 'inlineObject10' when calling clearMealPlanDay");
    }

    // create path and map variables
    String localVarPath = "/mealplanner/{username}/day/{date}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "username" + "\\}", apiInvoker.escapeString(username.toString())).replaceAll("\\{" + "date" + "\\}", apiInvoker.escapeString(date.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "hash", hash));


    String[] localVarContentTypes = {
      ""
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Compute Glycemic Load
   * Retrieve the glycemic index for a list of ingredients and compute the individual and total glycemic load.
   * @param body 
   * @return Object
   */
  public Object  computeGlycemicLoad (Object body) throws ApiException {
    Object localVarPostBody = body;
    // verify the required parameter 'body' is set
    if (body == null) {
       throw new ApiException(400, "Missing the required parameter 'body' when calling computeGlycemicLoad");
    }

    // create path and map variables
    String localVarPath = "/food/ingredients/glycemicLoad".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      "application/json"
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Connect User
   * In order to call user-specific endpoints, you need to connect your app&#39;s users to spoonacular users.
   * @param body 
   * @return Object
   */
  public Object  connectUser (Object body) throws ApiException {
    Object localVarPostBody = body;
    // verify the required parameter 'body' is set
    if (body == null) {
       throw new ApiException(400, "Missing the required parameter 'body' when calling connectUser");
    }

    // create path and map variables
    String localVarPath = "/users/connect".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      ""
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Convert Amounts
   * Convert amounts like \&quot;2 cups of flour to grams\&quot;.
   * @param ingredientName The ingredient which you want to convert.
   * @param sourceAmount The amount from which you want to convert, e.g. the 2.5 in \&quot;2.5 cups of flour to grams\&quot;.
   * @param sourceUnit The unit from which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
   * @param targetUnit The unit to which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
   * @return Object
   */
  public Object  convertAmounts (String ingredientName, BigDecimal sourceAmount, String sourceUnit, String targetUnit) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'ingredientName' is set
    if (ingredientName == null) {
       throw new ApiException(400, "Missing the required parameter 'ingredientName' when calling convertAmounts");
    }
    // verify the required parameter 'sourceAmount' is set
    if (sourceAmount == null) {
       throw new ApiException(400, "Missing the required parameter 'sourceAmount' when calling convertAmounts");
    }
    // verify the required parameter 'sourceUnit' is set
    if (sourceUnit == null) {
       throw new ApiException(400, "Missing the required parameter 'sourceUnit' when calling convertAmounts");
    }
    // verify the required parameter 'targetUnit' is set
    if (targetUnit == null) {
       throw new ApiException(400, "Missing the required parameter 'targetUnit' when calling convertAmounts");
    }

    // create path and map variables
    String localVarPath = "/recipes/convert".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "ingredientName", ingredientName));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "sourceAmount", sourceAmount));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "sourceUnit", sourceUnit));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "targetUnit", targetUnit));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Create Recipe Card
   * Generate a recipe card for a recipe.
   * @param title The title of the recipe.
   * @param image The binary image of the recipe as jpg.
   * @param ingredients The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n).
   * @param instructions The instructions to make the recipe. One step per line (separate lines with \\\\n).
   * @param readyInMinutes The number of minutes it takes to get the recipe on the table.
   * @param servings The number of servings the recipe makes.
   * @param mask The mask to put over the recipe image (\\\&quot;ellipseMask\\\&quot;, \\\&quot;diamondMask\\\&quot;, \\\&quot;starMask\\\&quot;, \\\&quot;heartMask\\\&quot;, \\\&quot;potMask\\\&quot;, \\\&quot;fishMask\\\&quot;).
   * @param backgroundImage The background image (\\\&quot;none\\\&quot;,\\\&quot;background1\\\&quot;, or \\\&quot;background2\\\&quot;).
   * @param author The author of the recipe.
   * @param backgroundColor The background color for the recipe card as a hex-string.
   * @param fontColor The font color for the recipe card as a hex-string.
   * @param source The source of the recipe.
   * @return Object
   */
  public Object  createRecipeCard (String title, File image, String ingredients, String instructions, BigDecimal readyInMinutes, BigDecimal servings, String mask, String backgroundImage, String author, String backgroundColor, String fontColor, String source) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'title' is set
    if (title == null) {
       throw new ApiException(400, "Missing the required parameter 'title' when calling createRecipeCard");
    }
    // verify the required parameter 'image' is set
    if (image == null) {
       throw new ApiException(400, "Missing the required parameter 'image' when calling createRecipeCard");
    }
    // verify the required parameter 'ingredients' is set
    if (ingredients == null) {
       throw new ApiException(400, "Missing the required parameter 'ingredients' when calling createRecipeCard");
    }
    // verify the required parameter 'instructions' is set
    if (instructions == null) {
       throw new ApiException(400, "Missing the required parameter 'instructions' when calling createRecipeCard");
    }
    // verify the required parameter 'readyInMinutes' is set
    if (readyInMinutes == null) {
       throw new ApiException(400, "Missing the required parameter 'readyInMinutes' when calling createRecipeCard");
    }
    // verify the required parameter 'servings' is set
    if (servings == null) {
       throw new ApiException(400, "Missing the required parameter 'servings' when calling createRecipeCard");
    }
    // verify the required parameter 'mask' is set
    if (mask == null) {
       throw new ApiException(400, "Missing the required parameter 'mask' when calling createRecipeCard");
    }
    // verify the required parameter 'backgroundImage' is set
    if (backgroundImage == null) {
       throw new ApiException(400, "Missing the required parameter 'backgroundImage' when calling createRecipeCard");
    }

    // create path and map variables
    String localVarPath = "/recipes/visualizeRecipe".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      "multipart/form-data"
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      
      if (title != null) {
        localVarBuilder.addTextBody("title", ApiInvoker.parameterToString(title), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (image != null) {
        localVarBuilder.addBinaryBody("image", image);
      }
      
      if (ingredients != null) {
        localVarBuilder.addTextBody("ingredients", ApiInvoker.parameterToString(ingredients), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (instructions != null) {
        localVarBuilder.addTextBody("instructions", ApiInvoker.parameterToString(instructions), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (readyInMinutes != null) {
        localVarBuilder.addTextBody("readyInMinutes", ApiInvoker.parameterToString(readyInMinutes), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (servings != null) {
        localVarBuilder.addTextBody("servings", ApiInvoker.parameterToString(servings), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (mask != null) {
        localVarBuilder.addTextBody("mask", ApiInvoker.parameterToString(mask), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (backgroundImage != null) {
        localVarBuilder.addTextBody("backgroundImage", ApiInvoker.parameterToString(backgroundImage), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (author != null) {
        localVarBuilder.addTextBody("author", ApiInvoker.parameterToString(author), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (backgroundColor != null) {
        localVarBuilder.addTextBody("backgroundColor", ApiInvoker.parameterToString(backgroundColor), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (fontColor != null) {
        localVarBuilder.addTextBody("fontColor", ApiInvoker.parameterToString(fontColor), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (source != null) {
        localVarBuilder.addTextBody("source", ApiInvoker.parameterToString(source), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
      localVarFormParams.put("title", ApiInvoker.parameterToString(title));

localVarFormParams.put("ingredients", ApiInvoker.parameterToString(ingredients));
localVarFormParams.put("instructions", ApiInvoker.parameterToString(instructions));
localVarFormParams.put("readyInMinutes", ApiInvoker.parameterToString(readyInMinutes));
localVarFormParams.put("servings", ApiInvoker.parameterToString(servings));
localVarFormParams.put("mask", ApiInvoker.parameterToString(mask));
localVarFormParams.put("backgroundImage", ApiInvoker.parameterToString(backgroundImage));
localVarFormParams.put("author", ApiInvoker.parameterToString(author));
localVarFormParams.put("backgroundColor", ApiInvoker.parameterToString(backgroundColor));
localVarFormParams.put("fontColor", ApiInvoker.parameterToString(fontColor));
localVarFormParams.put("source", ApiInvoker.parameterToString(source));
    }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Delete from Meal Plan
   * Delete an item from the user&#39;s meal plan.
   * @param username The username.
   * @param id The shopping list item id.
   * @param hash The private hash for the username.
   * @param inlineObject12 
   * @return Object
   */
  public Object  deleteFromMealPlan (String username, BigDecimal id, String hash, InlineObject12 inlineObject12) throws ApiException {
    Object localVarPostBody = inlineObject12;
    // verify the required parameter 'username' is set
    if (username == null) {
       throw new ApiException(400, "Missing the required parameter 'username' when calling deleteFromMealPlan");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling deleteFromMealPlan");
    }
    // verify the required parameter 'hash' is set
    if (hash == null) {
       throw new ApiException(400, "Missing the required parameter 'hash' when calling deleteFromMealPlan");
    }
    // verify the required parameter 'inlineObject12' is set
    if (inlineObject12 == null) {
       throw new ApiException(400, "Missing the required parameter 'inlineObject12' when calling deleteFromMealPlan");
    }

    // create path and map variables
    String localVarPath = "/mealplanner/{username}/items/{id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "username" + "\\}", apiInvoker.escapeString(username.toString())).replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "hash", hash));


    String[] localVarContentTypes = {
      ""
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Delete from Shopping List
   * Delete an item from the current shopping list of the user.
   * @param username The username.
   * @param id The shopping list item id.
   * @param hash The private hash for the username.
   * @param inlineObject15 
   * @return Object
   */
  public Object  deleteFromShoppingList (String username, BigDecimal id, String hash, InlineObject15 inlineObject15) throws ApiException {
    Object localVarPostBody = inlineObject15;
    // verify the required parameter 'username' is set
    if (username == null) {
       throw new ApiException(400, "Missing the required parameter 'username' when calling deleteFromShoppingList");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling deleteFromShoppingList");
    }
    // verify the required parameter 'hash' is set
    if (hash == null) {
       throw new ApiException(400, "Missing the required parameter 'hash' when calling deleteFromShoppingList");
    }
    // verify the required parameter 'inlineObject15' is set
    if (inlineObject15 == null) {
       throw new ApiException(400, "Missing the required parameter 'inlineObject15' when calling deleteFromShoppingList");
    }

    // create path and map variables
    String localVarPath = "/mealplanner/{username}/shopping-list/items/{id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "username" + "\\}", apiInvoker.escapeString(username.toString())).replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "hash", hash));


    String[] localVarContentTypes = {
      ""
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Detect Food in Text
   * Take any text and find all mentions of food contained within it. This task is also called Named Entity Recognition (NER). In this case, the entities are foods. Either dishes, such as pizza or cheeseburger, or ingredients, such as cucumber or almonds.
   * @param text The text in which food items, such as dish names and ingredients, should be detected in.
   * @return Object
   */
  public Object  detectFoodInText (String text) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'text' is set
    if (text == null) {
       throw new ApiException(400, "Missing the required parameter 'text' when calling detectFoodInText");
    }

    // create path and map variables
    String localVarPath = "/food/detect".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      "application/x-www-form-urlencoded"
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      
      if (text != null) {
        localVarBuilder.addTextBody("text", ApiInvoker.parameterToString(text), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
      localVarFormParams.put("text", ApiInvoker.parameterToString(text));
    }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Extract Recipe from Website
   * This endpoint lets you extract recipe data such as title, ingredients, and instructions from any properly formatted Website.
   * @param url The URL of the recipe page.
   * @param forceExtraction If true, the extraction will be triggered whether we already know the recipe or not. Use this only if information is missing as this operation is slower.
   * @param analyze If true, the recipe will be analyzed and classified resolving in more data such as cuisines, dish types, and more.
   * @return Object
   */
  public Object  extractRecipeFromWebsite (String url, Boolean forceExtraction, Boolean analyze) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'url' is set
    if (url == null) {
       throw new ApiException(400, "Missing the required parameter 'url' when calling extractRecipeFromWebsite");
    }

    // create path and map variables
    String localVarPath = "/recipes/extract".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "url", url));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "forceExtraction", forceExtraction));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "analyze", analyze));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Generate Meal Plan
   * Generate a meal plan with three meals per day (breakfast, lunch, and dinner).
   * @param timeFrame Either for one \&quot;day\&quot; or an entire \&quot;week\&quot;.
   * @param targetCalories What is the caloric target for one day? The meal plan generator will try to get as close as possible to that goal.
   * @param diet Enter a diet that the meal plan has to adhere to. See a full list of supported diets.
   * @param exclude A comma-separated list of allergens or ingredients that must be excluded.
   * @return Object
   */
  public Object  generateMealPlan (String timeFrame, BigDecimal targetCalories, String diet, String exclude) throws ApiException {
    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/mealplanner/generate".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "timeFrame", timeFrame));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "targetCalories", targetCalories));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "diet", diet));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "exclude", exclude));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Generate Shopping List
   * Generate the shopping list for a user from the meal planner in a given time frame.
   * @param username The username.
   * @param startDate The start date in the format yyyy-mm-dd.
   * @param endDate The end date in the format yyyy-mm-dd.
   * @param hash The private hash for the username.
   * @param inlineObject13 
   * @return Object
   */
  public Object  generateShoppingList (String username, String startDate, String endDate, String hash, InlineObject13 inlineObject13) throws ApiException {
    Object localVarPostBody = inlineObject13;
    // verify the required parameter 'username' is set
    if (username == null) {
       throw new ApiException(400, "Missing the required parameter 'username' when calling generateShoppingList");
    }
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
       throw new ApiException(400, "Missing the required parameter 'startDate' when calling generateShoppingList");
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
       throw new ApiException(400, "Missing the required parameter 'endDate' when calling generateShoppingList");
    }
    // verify the required parameter 'hash' is set
    if (hash == null) {
       throw new ApiException(400, "Missing the required parameter 'hash' when calling generateShoppingList");
    }
    // verify the required parameter 'inlineObject13' is set
    if (inlineObject13 == null) {
       throw new ApiException(400, "Missing the required parameter 'inlineObject13' when calling generateShoppingList");
    }

    // create path and map variables
    String localVarPath = "/mealplanner/{username}/shopping-list/{start-date}/{end-date}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "username" + "\\}", apiInvoker.escapeString(username.toString())).replaceAll("\\{" + "start-date" + "\\}", apiInvoker.escapeString(startDate.toString())).replaceAll("\\{" + "end-date" + "\\}", apiInvoker.escapeString(endDate.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "hash", hash));


    String[] localVarContentTypes = {
      ""
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get a Random Food Joke
   * Get a random joke that is related to food. Caution: this is an endpoint for adults!
   * @return Object
   */
  public Object  getARandomFoodJoke () throws ApiException {
    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/food/jokes/random".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Analyzed Recipe Instructions
   * Get an analyzed breakdown of a recipe&#39;s instructions. Each step is enriched with the ingredients and equipment required.
   * @param id The recipe id.
   * @param stepBreakdown Whether to break down the recipe steps even more.
   * @return Object
   */
  public Object  getAnalyzedRecipeInstructions (BigDecimal id, Boolean stepBreakdown) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling getAnalyzedRecipeInstructions");
    }

    // create path and map variables
    String localVarPath = "/recipes/{id}/analyzedInstructions".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "stepBreakdown", stepBreakdown));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Comparable Products
   * Find comparable products to the given one.
   * @param upc The UPC of the product for which you want to find comparable products.
   * @return Object
   */
  public Object  getComparableProducts (BigDecimal upc) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'upc' is set
    if (upc == null) {
       throw new ApiException(400, "Missing the required parameter 'upc' when calling getComparableProducts");
    }

    // create path and map variables
    String localVarPath = "/food/products/upc/{upc}/comparable".replaceAll("\\{format\\}","json").replaceAll("\\{" + "upc" + "\\}", apiInvoker.escapeString(upc.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Conversation Suggests
   * This endpoint returns suggestions for things the user can say or ask the chatbot.
   * @param query A (partial) query from the user. The endpoint will return if it matches topics it can talk about.
   * @param number The number of suggestions to return (between 1 and 25).
   * @return Object
   */
  public Object  getConversationSuggests (String query, BigDecimal number) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'query' is set
    if (query == null) {
       throw new ApiException(400, "Missing the required parameter 'query' when calling getConversationSuggests");
    }

    // create path and map variables
    String localVarPath = "/food/converse/suggest".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "query", query));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "number", number));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Dish Pairing for Wine
   * Find a dish that goes well with a given wine.
   * @param wine The type of wine that should be paired, e.g. \&quot;merlot\&quot;, \&quot;riesling\&quot;, or \&quot;malbec\&quot;.
   * @return Object
   */
  public Object  getDishPairingForWine (String wine) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'wine' is set
    if (wine == null) {
       throw new ApiException(400, "Missing the required parameter 'wine' when calling getDishPairingForWine");
    }

    // create path and map variables
    String localVarPath = "/food/wine/dishes".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "wine", wine));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Ingredient Information
   * Use an ingredient id to get all available information about an ingredient, such as its image and supermarket aisle.
   * @param id The ingredient id.
   * @param amount The amount of this ingredient.
   * @param unit The unit for the given amount.
   * @return Object
   */
  public Object  getIngredientInformation (BigDecimal id, BigDecimal amount, String unit) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling getIngredientInformation");
    }

    // create path and map variables
    String localVarPath = "/food/ingredients/{id}/information".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "amount", amount));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "unit", unit));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Ingredient Substitutes
   * Search for substitutes for a given ingredient.
   * @param ingredientName The name of the ingredient you want to replace.
   * @return Object
   */
  public Object  getIngredientSubstitutes (String ingredientName) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'ingredientName' is set
    if (ingredientName == null) {
       throw new ApiException(400, "Missing the required parameter 'ingredientName' when calling getIngredientSubstitutes");
    }

    // create path and map variables
    String localVarPath = "/food/ingredients/substitutes".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "ingredientName", ingredientName));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Ingredient Substitutes by ID
   * Search for substitutes for a given ingredient.
   * @param id The id of the ingredient you want substitutes for.
   * @return Object
   */
  public Object  getIngredientSubstitutesByID (BigDecimal id) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling getIngredientSubstitutesByID");
    }

    // create path and map variables
    String localVarPath = "/food/ingredients/{id}/substitutes".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Meal Plan Template
   * Get information about a meal plan template.
   * @param username The username.
   * @param id The shopping list item id.
   * @param hash The private hash for the username.
   * @return Object
   */
  public Object  getMealPlanTemplate (String username, BigDecimal id, String hash) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'username' is set
    if (username == null) {
       throw new ApiException(400, "Missing the required parameter 'username' when calling getMealPlanTemplate");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling getMealPlanTemplate");
    }
    // verify the required parameter 'hash' is set
    if (hash == null) {
       throw new ApiException(400, "Missing the required parameter 'hash' when calling getMealPlanTemplate");
    }

    // create path and map variables
    String localVarPath = "/mealplanner/{username}/templates/{id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "username" + "\\}", apiInvoker.escapeString(username.toString())).replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "hash", hash));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Meal Plan Templates
   * Get meal plan templates from user or public ones.
   * @param username The username.
   * @param hash The private hash for the username.
   * @return Object
   */
  public Object  getMealPlanTemplates (String username, String hash) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'username' is set
    if (username == null) {
       throw new ApiException(400, "Missing the required parameter 'username' when calling getMealPlanTemplates");
    }
    // verify the required parameter 'hash' is set
    if (hash == null) {
       throw new ApiException(400, "Missing the required parameter 'hash' when calling getMealPlanTemplates");
    }

    // create path and map variables
    String localVarPath = "/mealplanner/{username}/templates".replaceAll("\\{format\\}","json").replaceAll("\\{" + "username" + "\\}", apiInvoker.escapeString(username.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "hash", hash));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Meal Plan Week
   * Retrieve a meal planned week for the given user. The username must be a spoonacular user and the hash must the the user&#39;s hash that can be found in his/her account.
   * @param username The username.
   * @param startDate The start date of the meal planned week in the format yyyy-mm-dd.
   * @param hash The private hash for the username.
   * @return Object
   */
  public Object  getMealPlanWeek (String username, String startDate, String hash) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'username' is set
    if (username == null) {
       throw new ApiException(400, "Missing the required parameter 'username' when calling getMealPlanWeek");
    }
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
       throw new ApiException(400, "Missing the required parameter 'startDate' when calling getMealPlanWeek");
    }
    // verify the required parameter 'hash' is set
    if (hash == null) {
       throw new ApiException(400, "Missing the required parameter 'hash' when calling getMealPlanWeek");
    }

    // create path and map variables
    String localVarPath = "/mealplanner/{username}/week/{start-date}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "username" + "\\}", apiInvoker.escapeString(username.toString())).replaceAll("\\{" + "start-date" + "\\}", apiInvoker.escapeString(startDate.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "hash", hash));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Menu Item Information
   * Use a menu item id to get all available information about a menu item, such as nutrition.
   * @param id The menu item id.
   * @return Object
   */
  public Object  getMenuItemInformation (BigDecimal id) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling getMenuItemInformation");
    }

    // create path and map variables
    String localVarPath = "/food/menuItems/{id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Product Information
   * Use a product id to get full information about a product, such as ingredients, nutrition, etc. The nutritional information is per serving.
   * @param id The id of the packaged food.
   * @return Object
   */
  public Object  getProductInformation (BigDecimal id) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling getProductInformation");
    }

    // create path and map variables
    String localVarPath = "/food/products/{id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Random Food Trivia
   * Returns random food trivia.
   * @return Object
   */
  public Object  getRandomFoodTrivia () throws ApiException {
    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/food/trivia/random".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Random Recipes
   * Find random (popular) recipes. If you need to filter recipes by diet, nutrition etc. you might want to consider using the complex recipe search endpoint and set the sort request parameter to random.
   * @param limitLicense Whether the recipes should have an open license that allows display with proper attribution.
   * @param tags The tags (can be diets, meal types, cuisines, or intolerances) that the recipe must have.
   * @param number The number of random recipes to be returned (between 1 and 100).
   * @return Object
   */
  public Object  getRandomRecipes (Boolean limitLicense, String tags, BigDecimal number) throws ApiException {
    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/recipes/random".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "limitLicense", limitLicense));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "number", number));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Recipe Equipment by ID
   * Get a recipe&#39;s equipment list.
   * @param id The recipe id.
   * @return Object
   */
  public Object  getRecipeEquipmentByID (BigDecimal id) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling getRecipeEquipmentByID");
    }

    // create path and map variables
    String localVarPath = "/recipes/{id}/equipmentWidget.json".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Recipe Information
   * Use a recipe id to get full information about a recipe, such as ingredients, nutrition, diet and allergen information, etc.
   * @param id The id of the recipe.
   * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.
   * @return Object
   */
  public Object  getRecipeInformation (BigDecimal id, Boolean includeNutrition) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling getRecipeInformation");
    }

    // create path and map variables
    String localVarPath = "/recipes/{id}/information".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "includeNutrition", includeNutrition));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Recipe Information Bulk
   * Get information about multiple recipes at once. This is equivalent to calling the Get Recipe Information endpoint multiple times, but faster.
   * @param ids A comma-separated list of recipe ids.
   * @param includeNutrition Include nutrition data to the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.
   * @return Object
   */
  public Object  getRecipeInformationBulk (String ids, Boolean includeNutrition) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'ids' is set
    if (ids == null) {
       throw new ApiException(400, "Missing the required parameter 'ids' when calling getRecipeInformationBulk");
    }

    // create path and map variables
    String localVarPath = "/recipes/informationBulk".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();

    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "ids", ids));
    localVarQueryParams.addAll(ApiInvoker.parameterToPairs("", "includeNutrition", includeNutrition));


    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Recipe Ingredients by ID
   * Get a recipe&#39;s ingredient list.
   * @param id The recipe id.
   * @return Object
   */
  public Object  getRecipeIngredientsByID (BigDecimal id) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling getRecipeIngredientsByID");
    }

    // create path and map variables
    String localVarPath = "/recipes/{id}/ingredientWidget.json".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Recipe Nutrition Widget by ID
   * Get a recipe&#39;s nutrition widget data.
   * @param id The recipe id.
   * @return Object
   */
  public Object  getRecipeNutritionWidgetByID (BigDecimal id) throws ApiException {
    Object localVarPostBody = null;
    // verify the required parameter 'id' is set
    if (id == null) {
       throw new ApiException(400, "Missing the required parameter 'id' when calling getRecipeNutritionWidgetByID");
    }

    // create path and map variables
    String localVarPath = "/recipes/{id}/nutritionWidget.json".replaceAll("\\{format\\}","json").replaceAll("\\{" + "id" + "\\}", apiInvoker.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    // form params
    Map<String, String> localVarFormParams = new HashMap<String, String>();



    String[] localVarContentTypes = {
      
    };
    String localVarContentType = localVarContentTypes.length > 0 ? localVarContentTypes[0] : "application/json";

    if (localVarContentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      localVarPostBody = localVarBuilder.build();
    } else {
      // normal form params
          }

    try {
      String localVarResponse = apiInvoker.invokeAPI(basePath, localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarContentType);
      if(localVarResponse != null){
        return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
      }
      else {
        return null;
      }
    } catch (ApiException ex) {
      throw ex;
    }
  }
  /**
   * Get Recipe Price Breakdown by ID
[...]
