# coding: utf-8

"""
    spoonacular API

    The spoonacular Nutrition, Recipe, and Food API allows you to access over 380,000 recipes, thousands of ingredients, 80,000 food products, and 100,000 menu items. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as \"gluten free brownies without sugar\" or \"low fat vegan cupcakes.\" You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what's in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.  Special diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.  # noqa: E501

    The version of the OpenAPI document: 1.0
    Contact: david@spoonacular.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from spoonacular.api_client import ApiClient
from spoonacular.exceptions import (
    ApiTypeError,
    ApiValueError
)


class DefaultApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def analyze_a_recipe_search_query(self, q, **kwargs):  # noqa: E501
        """Analyze a Recipe Search Query  # noqa: E501

        Parse a recipe search query to find out its intention.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analyze_a_recipe_search_query(q, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q: The recipe search query. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analyze_a_recipe_search_query_with_http_info(q, **kwargs)  # noqa: E501
        else:
            (data) = self.analyze_a_recipe_search_query_with_http_info(q, **kwargs)  # noqa: E501
            return data

    def analyze_a_recipe_search_query_with_http_info(self, q, **kwargs):  # noqa: E501
        """Analyze a Recipe Search Query  # noqa: E501

        Parse a recipe search query to find out its intention.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analyze_a_recipe_search_query_with_http_info(q, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q: The recipe search query. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['q']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analyze_a_recipe_search_query" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'q' is set
        if ('q' not in local_var_params or
                local_var_params['q'] is None):
            raise ApiValueError("Missing the required parameter `q` when calling `analyze_a_recipe_search_query`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'q' in local_var_params:
            query_params.append(('q', local_var_params['q']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/recipes/queries/analyze', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analyze_recipe_instructions(self, instructions, **kwargs):  # noqa: E501
        """Analyze Recipe Instructions  # noqa: E501

        Extract ingredients and equipment from the recipe instruction steps.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analyze_recipe_instructions(instructions, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str instructions: The instructions text. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analyze_recipe_instructions_with_http_info(instructions, **kwargs)  # noqa: E501
        else:
            (data) = self.analyze_recipe_instructions_with_http_info(instructions, **kwargs)  # noqa: E501
            return data

    def analyze_recipe_instructions_with_http_info(self, instructions, **kwargs):  # noqa: E501
        """Analyze Recipe Instructions  # noqa: E501

        Extract ingredients and equipment from the recipe instruction steps.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analyze_recipe_instructions_with_http_info(instructions, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str instructions: The instructions text. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['instructions']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analyze_recipe_instructions" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'instructions' is set
        if ('instructions' not in local_var_params or
                local_var_params['instructions'] is None):
            raise ApiValueError("Missing the required parameter `instructions` when calling `analyze_recipe_instructions`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'instructions' in local_var_params:
            form_params.append(('instructions', local_var_params['instructions']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/recipes/analyzeInstructions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def autocomplete_ingredient_search(self, query, **kwargs):  # noqa: E501
        """Autocomplete Ingredient Search  # noqa: E501

        Autocomplete a search for an ingredient.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.autocomplete_ingredient_search(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: The query - a partial or full ingredient name. (required)
        :param float number: The number of results to return (between 1 and 100).
        :param bool meta_information: Whether to return more meta information about the ingredients.
        :param bool intolerances: A comma-separated list of intolerances. All found ingredients must not cause problems for people with one of the given tolerances. See a full list of supported intolerances.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.autocomplete_ingredient_search_with_http_info(query, **kwargs)  # noqa: E501
        else:
            (data) = self.autocomplete_ingredient_search_with_http_info(query, **kwargs)  # noqa: E501
            return data

    def autocomplete_ingredient_search_with_http_info(self, query, **kwargs):  # noqa: E501
        """Autocomplete Ingredient Search  # noqa: E501

        Autocomplete a search for an ingredient.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.autocomplete_ingredient_search_with_http_info(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: The query - a partial or full ingredient name. (required)
        :param float number: The number of results to return (between 1 and 100).
        :param bool meta_information: Whether to return more meta information about the ingredients.
        :param bool intolerances: A comma-separated list of intolerances. All found ingredients must not cause problems for people with one of the given tolerances. See a full list of supported intolerances.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['query', 'number', 'meta_information', 'intolerances']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method autocomplete_ingredient_search" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'query' is set
        if ('query' not in local_var_params or
                local_var_params['query'] is None):
            raise ApiValueError("Missing the required parameter `query` when calling `autocomplete_ingredient_search`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'query' in local_var_params:
            query_params.append(('query', local_var_params['query']))  # noqa: E501
        if 'number' in local_var_params:
            query_params.append(('number', local_var_params['number']))  # noqa: E501
        if 'meta_information' in local_var_params:
            query_params.append(('metaInformation', local_var_params['meta_information']))  # noqa: E501
        if 'intolerances' in local_var_params:
            query_params.append(('intolerances', local_var_params['intolerances']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/food/ingredients/autocomplete', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def autocomplete_menu_item_search(self, query, **kwargs):  # noqa: E501
        """Autocomplete Menu Item Search  # noqa: E501

        Generate suggestions for menu items based on a (partial) query. The matches will be found by looking in the title only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.autocomplete_menu_item_search(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: The (partial) search query. (required)
        :param float number: The number of results to return (between 1 and 25).
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.autocomplete_menu_item_search_with_http_info(query, **kwargs)  # noqa: E501
        else:
            (data) = self.autocomplete_menu_item_search_with_http_info(query, **kwargs)  # noqa: E501
            return data

    def autocomplete_menu_item_search_with_http_info(self, query, **kwargs):  # noqa: E501
        """Autocomplete Menu Item Search  # noqa: E501

        Generate suggestions for menu items based on a (partial) query. The matches will be found by looking in the title only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.autocomplete_menu_item_search_with_http_info(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: The (partial) search query. (required)
        :param float number: The number of results to return (between 1 and 25).
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['query', 'number']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method autocomplete_menu_item_search" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'query' is set
        if ('query' not in local_var_params or
                local_var_params['query'] is None):
            raise ApiValueError("Missing the required parameter `query` when calling `autocomplete_menu_item_search`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'query' in local_var_params:
            query_params.append(('query', local_var_params['query']))  # noqa: E501
        if 'number' in local_var_params:
            query_params.append(('number', local_var_params['number']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/food/menuItems/suggest', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def autocomplete_product_search(self, query, **kwargs):  # noqa: E501
        """Autocomplete Product Search  # noqa: E501

        Generate suggestions for grocery products based on a (partial) query. The matches will be found by looking in the title only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.autocomplete_product_search(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: The (partial) search query. (required)
        :param float number: The number of results to return (between 1 and 25).
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.autocomplete_product_search_with_http_info(query, **kwargs)  # noqa: E501
        else:
            (data) = self.autocomplete_product_search_with_http_info(query, **kwargs)  # noqa: E501
            return data

    def autocomplete_product_search_with_http_info(self, query, **kwargs):  # noqa: E501
        """Autocomplete Product Search  # noqa: E501

        Generate suggestions for grocery products based on a (partial) query. The matches will be found by looking in the title only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.autocomplete_product_search_with_http_info(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: The (partial) search query. (required)
        :param float number: The number of results to return (between 1 and 25).
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['query', 'number']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method autocomplete_product_search" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'query' is set
        if ('query' not in local_var_params or
                local_var_params['query'] is None):
            raise ApiValueError("Missing the required parameter `query` when calling `autocomplete_product_search`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'query' in local_var_params:
            query_params.append(('query', local_var_params['query']))  # noqa: E501
        if 'number' in local_var_params:
            query_params.append(('number', local_var_params['number']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/food/products/suggest', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def autocomplete_recipe_search(self, query, **kwargs):  # noqa: E501
        """Autocomplete Recipe Search  # noqa: E501

        Autocomplete a partial input to possible recipe names.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.autocomplete_recipe_search(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: The query to be autocompleted. (required)
        :param float number: The number of results to return (between 1 and 25).
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.autocomplete_recipe_search_with_http_info(query, **kwargs)  # noqa: E501
        else:
            (data) = self.autocomplete_recipe_search_with_http_info(query, **kwargs)  # noqa: E501
            return data

    def autocomplete_recipe_search_with_http_info(self, query, **kwargs):  # noqa: E501
        """Autocomplete Recipe Search  # noqa: E501

        Autocomplete a partial input to possible recipe names.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.autocomplete_recipe_search_with_http_info(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: The query to be autocompleted. (required)
        :param float number: The number of results to return (between 1 and 25).
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['query', 'number']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method autocomplete_recipe_search" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'query' is set
        if ('query' not in local_var_params or
                local_var_params['query'] is None):
            raise ApiValueError("Missing the required parameter `query` when calling `autocomplete_recipe_search`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'query' in local_var_params:
            query_params.append(('query', local_var_params['query']))  # noqa: E501
        if 'number' in local_var_params:
            query_params.append(('number', local_var_params['number']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/recipes/autocomplete', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def classify_cuisine(self, title, ingredient_list, **kwargs):  # noqa: E501
        """Classify Cuisine  # noqa: E501

        Classify the recipe's cuisine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.classify_cuisine(title, ingredient_list, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title: The title of the recipe. (required)
        :param str ingredient_list: The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n). (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.classify_cuisine_with_http_info(title, ingredient_list, **kwargs)  # noqa: E501
        else:
            (data) = self.classify_cuisine_with_http_info(title, ingredient_list, **kwargs)  # noqa: E501
            return data

    def classify_cuisine_with_http_info(self, title, ingredient_list, **kwargs):  # noqa: E501
        """Classify Cuisine  # noqa: E501

        Classify the recipe's cuisine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.classify_cuisine_with_http_info(title, ingredient_list, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title: The title of the recipe. (required)
        :param str ingredient_list: The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n). (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['title', 'ingredient_list']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method classify_cuisine" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'title' is set
        if ('title' not in local_var_params or
                local_var_params['title'] is None):
            raise ApiValueError("Missing the required parameter `title` when calling `classify_cuisine`")  # noqa: E501
        # verify the required parameter 'ingredient_list' is set
        if ('ingredient_list' not in local_var_params or
                local_var_params['ingredient_list'] is None):
            raise ApiValueError("Missing the required parameter `ingredient_list` when calling `classify_cuisine`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'title' in local_var_params:
            form_params.append(('title', local_var_params['title']))  # noqa: E501
        if 'ingredient_list' in local_var_params:
            form_params.append(('ingredientList', local_var_params['ingredient_list']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/recipes/cuisine', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def classify_grocery_product(self, inline_object8, **kwargs):  # noqa: E501
        """Classify Grocery Product  # noqa: E501

        Given a grocery product title, this endpoint allows you to detect what basic ingredient it is.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.classify_grocery_product(inline_object8, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param InlineObject8 inline_object8: (required)
        :param str locale: The locale of the returned category, supported is en_US and en_GB.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.classify_grocery_product_with_http_info(inline_object8, **kwargs)  # noqa: E501
        else:
            (data) = self.classify_grocery_product_with_http_info(inline_object8, **kwargs)  # noqa: E501
            return data

    def classify_grocery_product_with_http_info(self, inline_object8, **kwargs):  # noqa: E501
        """Classify Grocery Product  # noqa: E501

        Given a grocery product title, this endpoint allows you to detect what basic ingredient it is.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.classify_grocery_product_with_http_info(inline_object8, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param InlineObject8 inline_object8: (required)
        :param str locale: The locale of the returned category, supported is en_US and en_GB.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['inline_object8', 'locale']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method classify_grocery_product" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'inline_object8' is set
        if ('inline_object8' not in local_var_params or
                local_var_params['inline_object8'] is None):
            raise ApiValueError("Missing the required parameter `inline_object8` when calling `classify_grocery_product`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'locale' in local_var_params:
            query_params.append(('locale', local_var_params['locale']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'inline_object8' in local_var_params:
            body_params = local_var_params['inline_object8']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/food/products/classify', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def classify_grocery_product_bulk(self, body, **kwargs):  # noqa: E501
        """Classify Grocery Product Bulk  # noqa: E501

        Given a set of product jsons, get back classified products.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.classify_grocery_product_bulk(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object body: (required)
        :param str locale: The locale of the returned category, supported is en_US and en_GB.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.classify_grocery_product_bulk_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.classify_grocery_product_bulk_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def classify_grocery_product_bulk_with_http_info(self, body, **kwargs):  # noqa: E501
        """Classify Grocery Product Bulk  # noqa: E501

        Given a set of product jsons, get back classified products.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.classify_grocery_product_bulk_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object body: (required)
        :param str locale: The locale of the returned category, supported is en_US and en_GB.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['body', 'locale']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method classify_grocery_product_bulk" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in local_var_params or
                local_var_params['body'] is None):
            raise ApiValueError("Missing the required parameter `body` when calling `classify_grocery_product_bulk`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'locale' in local_var_params:
            query_params.append(('locale', local_var_params['locale']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in local_var_params:
            body_params = local_var_params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/food/products/classifyBatch', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def convert_amounts(self, ingredient_name, source_amount, source_unit, target_unit, **kwargs):  # noqa: E501
        """Convert Amounts  # noqa: E501

        Convert amounts like \"2 cups of flour to grams\".  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.convert_amounts(ingredient_name, source_amount, source_unit, target_unit, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ingredient_name: The ingredient which you want to convert. (required)
        :param float source_amount: The amount from which you want to convert, e.g. the 2.5 in \"2.5 cups of flour to grams\". (required)
        :param str source_unit: The unit from which you want to convert, e.g. the grams in \"2.5 cups of flour to grams\". You can also use \"piece\", e.g. \"3.4 oz tomatoes to piece\" (required)
        :param str target_unit: The unit to which you want to convert, e.g. the grams in \"2.5 cups of flour to grams\". You can also use \"piece\", e.g. \"3.4 oz tomatoes to piece\" (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.convert_amounts_with_http_info(ingredient_name, source_amount, source_unit, target_unit, **kwargs)  # noqa: E501
        else:
            (data) = self.convert_amounts_with_http_info(ingredient_name, source_amount, source_unit, target_unit, **kwargs)  # noqa: E501
            return data

    def convert_amounts_with_http_info(self, ingredient_name, source_amount, source_unit, target_unit, **kwargs):  # noqa: E501
        """Convert Amounts  # noqa: E501

        Convert amounts like \"2 cups of flour to grams\".  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.convert_amounts_with_http_info(ingredient_name, source_amount, source_unit, target_unit, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ingredient_name: The ingredient which you want to convert. (required)
        :param float source_amount: The amount from which you want to convert, e.g. the 2.5 in \"2.5 cups of flour to grams\". (required)
        :param str source_unit: The unit from which you want to convert, e.g. the grams in \"2.5 cups of flour to grams\". You can also use \"piece\", e.g. \"3.4 oz tomatoes to piece\" (required)
        :param str target_unit: The unit to which you want to convert, e.g. the grams in \"2.5 cups of flour to grams\". You can also use \"piece\", e.g. \"3.4 oz tomatoes to piece\" (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['ingredient_name', 'source_amount', 'source_unit', 'target_unit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method convert_amounts" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'ingredient_name' is set
        if ('ingredient_name' not in local_var_params or
                local_var_params['ingredient_name'] is None):
            raise ApiValueError("Missing the required parameter `ingredient_name` when calling `convert_amounts`")  # noqa: E501
        # verify the required parameter 'source_amount' is set
        if ('source_amount' not in local_var_params or
                local_var_params['source_amount'] is None):
            raise ApiValueError("Missing the required parameter `source_amount` when calling `convert_amounts`")  # noqa: E501
        # verify the required parameter 'source_unit' is set
        if ('source_unit' not in local_var_params or
                local_var_params['source_unit'] is None):
            raise ApiValueError("Missing the required parameter `source_unit` when calling `convert_amounts`")  # noqa: E501
        # verify the required parameter 'target_unit' is set
        if ('target_unit' not in local_var_params or
                local_var_params['target_unit'] is None):
            raise ApiValueError("Missing the required parameter `target_unit` when calling `convert_amounts`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ingredient_name' in local_var_params:
            query_params.append(('ingredientName', local_var_params['ingredient_name']))  # noqa: E501
        if 'source_amount' in local_var_params:
            query_params.append(('sourceAmount', local_var_params['source_amount']))  # noqa: E501
        if 'source_unit' in local_var_params:
            query_params.append(('sourceUnit', local_var_params['source_unit']))  # noqa: E501
        if 'target_unit' in local_var_params:
            query_params.append(('targetUnit', local_var_params['target_unit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/recipes/convert', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_recipe_card(self, title, image, ingredients, instructions, ready_in_minutes, servings, mask, background_image, **kwargs):  # noqa: E501
        """Create Recipe Card  # noqa: E501

        Create Recipe Card.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_recipe_card(title, image, ingredients, instructions, ready_in_minutes, servings, mask, background_image, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title: The title of the recipe. (required)
        :param file image: The binary image of the recipe as jpg. (required)
        :param str ingredients: The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n). (required)
        :param str instructions: The instructions to make the recipe. One step per line (separate lines with \\\\n). (required)
        :param float ready_in_minutes: The number of minutes it takes to get the recipe on the table. (required)
        :param float servings: The number of servings that you can make from the ingredients. (required)
        :param str mask: The mask to put over the recipe image (\\\"ellipseMask\\\", \\\"diamondMask\\\", \\\"diamondMask\\\", \\\"starMask\\\", \\\"heartMask\\\", \\\"potMask\\\", \\\"fishMask\\\"). (required)
        :param str background_image: The background image (\\\"none\\\",\\\"background1\\\", or \\\"background2\\\"). (required)
        :param str author: The author of the recipe.
        :param str background_color: The background color on the recipe card as a hex-string.
        :param str font_color: The font color on the recipe card as a hex-string.
        :param str source: The source of the recipe.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_recipe_card_with_http_info(title, image, ingredients, instructions, ready_in_minutes, servings, mask, background_image, **kwargs)  # noqa: E501
        else:
            (data) = self.create_recipe_card_with_http_info(title, image, ingredients, instructions, ready_in_minutes, servings, mask, background_image, **kwargs)  # noqa: E501
            return data

    def create_recipe_card_with_http_info(self, title, image, ingredients, instructions, ready_in_minutes, servings, mask, background_image, **kwargs):  # noqa: E501
        """Create Recipe Card  # noqa: E501

        Create Recipe Card.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_recipe_card_with_http_info(title, image, ingredients, instructions, ready_in_minutes, servings, mask, background_image, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title: The title of the recipe. (required)
        :param file image: The binary image of the recipe as jpg. (required)
        :param str ingredients: The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n). (required)
        :param str instructions: The instructions to make the recipe. One step per line (separate lines with \\\\n). (required)
        :param float ready_in_minutes: The number of minutes it takes to get the recipe on the table. (required)
        :param float servings: The number of servings that you can make from the ingredients. (required)
        :param str mask: The mask to put over the recipe image (\\\"ellipseMask\\\", \\\"diamondMask\\\", \\\"diamondMask\\\", \\\"starMask\\\", \\\"heartMask\\\", \\\"potMask\\\", \\\"fishMask\\\"). (required)
        :param str background_image: The background image (\\\"none\\\",\\\"background1\\\", or \\\"background2\\\"). (required)
        :param str author: The author of the recipe.
        :param str background_color: The background color on the recipe card as a hex-string.
        :param str font_color: The font color on the recipe card as a hex-string.
        :param str source: The source of the recipe.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['title', 'image', 'ingredients', 'instructions', 'ready_in_minutes', 'servings', 'mask', 'background_image', 'author', 'background_color', 'font_color', 'source']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_recipe_card" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'title' is set
        if ('title' not in local_var_params or
                local_var_params['title'] is None):
            raise ApiValueError("Missing the required parameter `title` when calling `create_recipe_card`")  # noqa: E501
        # verify the required parameter 'image' is set
        if ('image' not in local_var_params or
                local_var_params['image'] is None):
            raise ApiValueError("Missing the required parameter `image` when calling `create_recipe_card`")  # noqa: E501
        # verify the required parameter 'ingredients' is set
        if ('ingredients' not in local_var_params or
                local_var_params['ingredients'] is None):
            raise ApiValueError("Missing the required parameter `ingredients` when calling `create_recipe_card`")  # noqa: E501
        # verify the required parameter 'instructions' is set
        if ('instructions' not in local_var_params or
                local_var_params['instructions'] is None):
            raise ApiValueError("Missing the required parameter `instructions` when calling `create_recipe_card`")  # noqa: E501
        # verify the required parameter 'ready_in_minutes' is set
        if ('ready_in_minutes' not in local_var_params or
                local_var_params['ready_in_minutes'] is None):
            raise ApiValueError("Missing the required parameter `ready_in_minutes` when calling `create_recipe_card`")  # noqa: E501
        # verify the required parameter 'servings' is set
        if ('servings' not in local_var_params or
                local_var_params['servings'] is None):
            raise ApiValueError("Missing the required parameter `servings` when calling `create_recipe_card`")  # noqa: E501
        # verify the required parameter 'mask' is set
        if ('mask' not in local_var_params or
                local_var_params['mask'] is None):
            raise ApiValueError("Missing the required parameter `mask` when calling `create_recipe_card`")  # noqa: E501
        # verify the required parameter 'background_image' is set
        if ('background_image' not in local_var_params or
                local_var_params['background_image'] is None):
            raise ApiValueError("Missing the required parameter `background_image` when calling `create_recipe_card`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'title' in local_var_params:
            form_params.append(('title', local_var_params['title']))  # noqa: E501
        if 'image' in local_var_params:
            local_var_files['image'] = local_var_params['image']  # noqa: E501
        if 'ingredients' in local_var_params:
            form_params.append(('ingredients', local_var_params['ingredients']))  # noqa: E501
        if 'instructions' in local_var_params:
            form_params.append(('instructions', local_var_params['instructions']))  # noqa: E501
        if 'ready_in_minutes' in local_var_params:
            form_params.append(('readyInMinutes', local_var_params['ready_in_minutes']))  # noqa: E501
        if 'servings' in local_var_params:
            form_params.append(('servings', local_var_params['servings']))  # noqa: E501
        if 'mask' in local_var_params:
            form_params.append(('mask', local_var_params['mask']))  # noqa: E501
        if 'background_image' in local_var_params:
            form_params.append(('backgroundImage', local_var_params['background_image']))  # noqa: E501
        if 'author' in local_var_params:
            form_params.append(('author', local_var_params['author']))  # noqa: E501
        if 'background_color' in local_var_params:
            form_params.append(('backgroundColor', local_var_params['background_color']))  # noqa: E501
        if 'font_color' in local_var_params:
            form_params.append(('fontColor', local_var_params['font_color']))  # noqa: E501
        if 'source' in local_var_params:
            form_params.append(('source', local_var_params['source']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/recipes/visualizeRecipe', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def detect_food_in_text(self, text, **kwargs):  # noqa: E501
        """Detect Food in Text  # noqa: E501

        Detect ingredients and dishes in texts. This task is also called Named Entity Recognition (NER). In our case the entities are foods. Either dishes, such as pizza and cheeseburger or ingredients, such as cucumber and almonds.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.detect_food_in_text(text, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str text: The text in which food items such as dish names and ingredients should be detected in. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.detect_food_in_text_with_http_info(text, **kwargs)  # noqa: E501
        else:
            (data) = self.detect_food_in_text_with_http_info(text, **kwargs)  # noqa: E501
            return data

    def detect_food_in_text_with_http_info(self, text, **kwargs):  # noqa: E501
        """Detect Food in Text  # noqa: E501

        Detect ingredients and dishes in texts. This task is also called Named Entity Recognition (NER). In our case the entities are foods. Either dishes, such as pizza and cheeseburger or ingredients, such as cucumber and almonds.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.detect_food_in_text_with_http_info(text, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str text: The text in which food items such as dish names and ingredients should be detected in. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['text']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method detect_food_in_text" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'text' is set
        if ('text' not in local_var_params or
                local_var_params['text'] is None):
            raise ApiValueError("Missing the required parameter `text` when calling `detect_food_in_text`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'text' in local_var_params:
            form_params.append(('text', local_var_params['text']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/food/detect', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def extract_recipe_from_website(self, url, **kwargs):  # noqa: E501
        """Extract Recipe from Website  # noqa: E501

        Get an analyzed breakdown of a recipe's instructions. Each step is enriched with the ingredients and the equipment that is used.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.extract_recipe_from_website(url, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str url: The URL of the recipe page. (required)
        :param bool force_extraction: If true, the extraction will be triggered no matter whether we know the recipe already. Use that only if information is missing as this operation is slower.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.extract_recipe_from_website_with_http_info(url, **kwargs)  # noqa: E501
        else:
            (data) = self.extract_recipe_from_website_with_http_info(url, **kwargs)  # noqa: E501
            return data

    def extract_recipe_from_website_with_http_info(self, url, **kwargs):  # noqa: E501
        """Extract Recipe from Website  # noqa: E501

        Get an analyzed breakdown of a recipe's instructions. Each step is enriched with the ingredients and the equipment that is used.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.extract_recipe_from_website_with_http_info(url, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str url: The URL of the recipe page. (required)
        :param bool force_extraction: If true, the extraction will be triggered no matter whether we know the recipe already. Use that only if information is missing as this operation is slower.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['url', 'force_extraction']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method extract_recipe_from_website" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'url' is set
        if ('url' not in local_var_params or
                local_var_params['url'] is None):
            raise ApiValueError("Missing the required parameter `url` when calling `extract_recipe_from_website`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'url' in local_var_params:
            query_params.append(('url', local_var_params['url']))  # noqa: E501
        if 'force_extraction' in local_var_params:
            query_params.append(('forceExtraction', local_var_params['force_extraction']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/recipes/extract', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def generate_meal_plan(self, **kwargs):  # noqa: E501
        """Generate Meal Plan  # noqa: E501

        Generate a meal plan with three meals per day (breakfast, lunch, and dinner).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_meal_plan(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str time_frame: Either for one \"day\" or an entire \"week\".
        :param float target_calories: What is the caloric target for one day? The meal plan generator will try to get as close as possible to that goal.
        :param str diet: Enter a diet that the meal plan has to adhere to. See a full list of supported diets.
        :param str exclude: A comma-separated list of allergens or ingredients that must be excluded.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.generate_meal_plan_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.generate_meal_plan_with_http_info(**kwargs)  # noqa: E501
            return data

    def generate_meal_plan_with_http_info(self, **kwargs):  # noqa: E501
        """Generate Meal Plan  # noqa: E501

        Generate a meal plan with three meals per day (breakfast, lunch, and dinner).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_meal_plan_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str time_frame: Either for one \"day\" or an entire \"week\".
        :param float target_calories: What is the caloric target for one day? The meal plan generator will try to get as close as possible to that goal.
        :param str diet: Enter a diet that the meal plan has to adhere to. See a full list of supported diets.
        :param str exclude: A comma-separated list of allergens or ingredients that must be excluded.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['time_frame', 'target_calories', 'diet', 'exclude']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method generate_meal_plan" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'time_frame' in local_var_params:
            query_params.append(('timeFrame', local_var_params['time_frame']))  # noqa: E501
        if 'target_calories' in local_var_params:
            query_params.append(('targetCalories', local_var_params['target_calories']))  # noqa: E501
        if 'diet' in local_var_params:
            query_params.append(('diet', local_var_params['diet']))  # noqa: E501
        if 'exclude' in local_var_params:
            query_params.append(('exclude', local_var_params['exclude']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/recipes/mealplans/generate', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_a_random_food_joke(self, **kwargs):  # noqa: E501
        """Get a Random Food Joke  # noqa: E501

        Get a random joke that includes or is about food.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_a_random_food_joke(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_a_random_food_joke_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_a_random_food_joke_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_a_random_food_joke_with_http_info(self, **kwargs):  # noqa: E501
        """Get a Random Food Joke  # noqa: E501

        Get a random joke that includes or is about food.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_a_random_food_joke_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_a_random_food_joke" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/food/jokes/random', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_analyzed_recipe_instructions(self, id, **kwargs):  # noqa: E501
        """Get Analyzed Recipe Instructions  # noqa: E501

        Get an analyzed breakdown of a recipe's instructions. Each step is enriched with the ingredients and the equipment that is used.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_analyzed_recipe_instructions(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float id: The recipe id. (required)
        :param bool step_breakdown: Whether to break down the recipe steps even more.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_analyzed_recipe_instructions_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_analyzed_recipe_instructions_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_analyzed_recipe_instructions_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get Analyzed Recipe Instructions  # noqa: E501

        Get an analyzed breakdown of a recipe's instructions. Each step is enriched with the ingredients and the equipment that is used.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_analyzed_recipe_instructions_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float id: The recipe id. (required)
        :param bool step_breakdown: Whether to break down the recipe steps even more.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['id', 'step_breakdown']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_analyzed_recipe_instructions" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in local_var_params or
                local_var_params['id'] is None):
            raise ApiValueError("Missing the required parameter `id` when calling `get_analyzed_recipe_instructions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []
        if 'step_breakdown' in local_var_params:
            query_params.append(('stepBreakdown', local_var_params['step_breakdown']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/recipes/{id}/analyzedInstructions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_comparable_products(self, upc, **kwargs):  # noqa: E501
        """Get Comparable Products  # noqa: E501

        Find comparable products to the given one.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_comparable_products(upc, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float upc: The UPC of the product for that you want to find comparable products. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_comparable_products_with_http_info(upc, **kwargs)  # noqa: E501
        else:
            (data) = self.get_comparable_products_with_http_info(upc, **kwargs)  # noqa: E501
            return data

    def get_comparable_products_with_http_info(self, upc, **kwargs):  # noqa: E501
        """Get Comparable Products  # noqa: E501

        Find comparable products to the given one.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_comparable_products_with_http_info(upc, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float upc: The UPC of the product for that you want to find comparable products. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['upc']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_comparable_products" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'upc' is set
        if ('upc' not in local_var_params or
                local_var_params['upc'] is None):
            raise ApiValueError("Missing the required parameter `upc` when calling `get_comparable_products`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'upc' in local_var_params:
            path_params['upc'] = local_var_params['upc']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/food/products/upc/{upc}/comparable', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversation_suggests(self, query, **kwargs):  # noqa: E501
        """Get Conversation Suggests  # noqa: E501

        This endpoint returns suggestions for things the user can say or ask the chat bot.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_suggests(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: A (partial) query from the user. The endpoint will return if it matches topics it can talk about. (required)
        :param float number: The number of suggestions to return (between 1 and 25).
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversation_suggests_with_http_info(query, **kwargs)  # noqa: E501
        else:
            (data) = self.get_conversation_suggests_with_http_info(query, **kwargs)  # noqa: E501
            return data

    def get_conversation_suggests_with_http_info(self, query, **kwargs):  # noqa: E501
        """Get Conversation Suggests  # noqa: E501

        This endpoint returns suggestions for things the user can say or ask the chat bot.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_suggests_with_http_info(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: A (partial) query from the user. The endpoint will return if it matches topics it can talk about. (required)
        :param float number: The number of suggestions to return (between 1 and 25).
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['query', 'number']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversation_suggests" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'query' is set
        if ('query' not in local_var_params or
                local_var_params['query'] is None):
            raise ApiValueError("Missing the required parameter `query` when calling `get_conversation_suggests`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'query' in local_var_params:
            query_params.append(('query', local_var_params['query']))  # noqa: E501
        if 'number' in local_var_params:
            query_params.append(('number', local_var_params['number']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/food/converse/suggest', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_dish_pairing_for_wine(self, wine, **kwargs):  # noqa: E501
        """Get Dish Pairing for Wine  # noqa: E501

        Get a dish that goes well with a given wine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_dish_pairing_for_wine(wine, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str wine: The name of the wine that should be paired, e.g. \"merlot\", \"riesling\", or \"malbec\". (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_dish_pairing_for_wine_with_http_info(wine, **kwargs)  # noqa: E501
        else:
            (data) = self.get_dish_pairing_for_wine_with_http_info(wine, **kwargs)  # noqa: E501
            return data

    def get_dish_pairing_for_wine_with_http_info(self, wine, **kwargs):  # noqa: E501
        """Get Dish Pairing for Wine  # noqa: E501

        Get a dish that goes well with a given wine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_dish_pairing_for_wine_with_http_info(wine, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str wine: The name of the wine that should be paired, e.g. \"merlot\", \"riesling\", or \"malbec\". (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['wine']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_dish_pairing_for_wine" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'wine' is set
        if ('wine' not in local_var_params or
                local_var_params['wine'] is None):
            raise ApiValueError("Missing the required parameter `wine` when calling `get_dish_pairing_for_wine`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'wine' in local_var_params:
            query_params.append(('wine', local_var_params['wine']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/food/wine/dishes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_food_information(self, id, **kwargs):  # noqa: E501
        """Get Food Information  # noqa: E501

        Get information about a certain food (ingredient).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_food_information(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float id: The id of the food / ingredient. (required)
        :param float amount: The amount of that food.
        :param str unit: The unit for the given amount.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_food_information_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_food_information_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_food_information_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get Food Information  # noqa: E501

        Get information about a certain food (ingredient).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_food_information_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float id: The id of the food / ingredient. (required)
        :param float amount: The amount of that food.
        :param str unit: The unit for the given amount.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['id', 'amount', 'unit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_food_information" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in local_var_params or
                local_var_params['id'] is None):
            raise ApiValueError("Missing the required parameter `id` when calling `get_food_information`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []
        if 'amount' in local_var_params:
            query_params.append(('amount', local_var_params['amount']))  # noqa: E501
        if 'unit' in local_var_params:
            query_params.append(('unit', local_var_params['unit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/food/ingredients/{id}/information', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_ingredient_substitutes(self, ingredient_name, **kwargs):  # noqa: E501
        """Get Ingredient Substitutes  # noqa: E501

        Search for substitutes for a given ingredient.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ingredient_substitutes(ingredient_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ingredient_name: The name of the ingredient you want to replace. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_ingredient_substitutes_with_http_info(ingredient_name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_ingredient_substitutes_with_http_info(ingredient_name, **kwargs)  # noqa: E501
            return data

    def get_ingredient_substitutes_with_http_info(self, ingredient_name, **kwargs):  # noqa: E501
        """Get Ingredient Substitutes  # noqa: E501

        Search for substitutes for a given ingredient.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ingredient_substitutes_with_http_info(ingredient_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ingredient_name: The name of the ingredient you want to replace. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['ingredient_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ingredient_substitutes" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'ingredient_name' is set
        if ('ingredient_name' not in local_var_params or
                local_var_params['ingredient_name'] is None):
            raise ApiValueError("Missing the required parameter `ingredient_name` when calling `get_ingredient_substitutes`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ingredient_name' in local_var_params:
            query_params.append(('ingredientName', local_var_params['ingredient_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
[...]
