/*
spoonacular API

The spoonacular Nutrition, Recipe, and Food API allows you to access over thousands of recipes, thousands of ingredients, 800,000 food products, over 100,000 menu items, and restaurants. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as \"gluten free brownies without sugar\" or \"low fat vegan cupcakes.\" You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what's in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.  Special diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.

API version: 1.1
Contact: mail@spoonacular.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package spoonacular

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// RecipesAPIService RecipesAPI service
type RecipesAPIService service

type ApiAnalyzeARecipeSearchQueryRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	q *string
}

// The recipe search query.
func (r ApiAnalyzeARecipeSearchQueryRequest) Q(q string) ApiAnalyzeARecipeSearchQueryRequest {
	r.q = &q
	return r
}

func (r ApiAnalyzeARecipeSearchQueryRequest) Execute() (*AnalyzeARecipeSearchQuery200Response, *http.Response, error) {
	return r.ApiService.AnalyzeARecipeSearchQueryExecute(r)
}

/*
AnalyzeARecipeSearchQuery Analyze a Recipe Search Query

Parse a recipe search query to find out its intention.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyzeARecipeSearchQueryRequest
*/
func (a *RecipesAPIService) AnalyzeARecipeSearchQuery(ctx context.Context) ApiAnalyzeARecipeSearchQueryRequest {
	return ApiAnalyzeARecipeSearchQueryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AnalyzeARecipeSearchQuery200Response
func (a *RecipesAPIService) AnalyzeARecipeSearchQueryExecute(r ApiAnalyzeARecipeSearchQueryRequest) (*AnalyzeARecipeSearchQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnalyzeARecipeSearchQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.AnalyzeARecipeSearchQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/queries/analyze"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyzeRecipeInstructionsRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	instructions *string
}

// The recipe&#39;s instructions.
func (r ApiAnalyzeRecipeInstructionsRequest) Instructions(instructions string) ApiAnalyzeRecipeInstructionsRequest {
	r.instructions = &instructions
	return r
}

func (r ApiAnalyzeRecipeInstructionsRequest) Execute() (*AnalyzeRecipeInstructions200Response, *http.Response, error) {
	return r.ApiService.AnalyzeRecipeInstructionsExecute(r)
}

/*
AnalyzeRecipeInstructions Analyze Recipe Instructions

This endpoint allows you to break down instructions into atomic steps. Furthermore, each step will contain the ingredients and equipment required. Additionally, all ingredients and equipment from the recipe's instructions will be extracted independently of the step they're used in.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyzeRecipeInstructionsRequest
*/
func (a *RecipesAPIService) AnalyzeRecipeInstructions(ctx context.Context) ApiAnalyzeRecipeInstructionsRequest {
	return ApiAnalyzeRecipeInstructionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AnalyzeRecipeInstructions200Response
func (a *RecipesAPIService) AnalyzeRecipeInstructionsExecute(r ApiAnalyzeRecipeInstructionsRequest) (*AnalyzeRecipeInstructions200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnalyzeRecipeInstructions200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.AnalyzeRecipeInstructions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/analyzeInstructions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.instructions == nil {
		return localVarReturnValue, nil, reportError("instructions is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "instructions", r.instructions, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAutocompleteRecipeSearchRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	query *string
	number *int32
}

// The (natural language) search query.
func (r ApiAutocompleteRecipeSearchRequest) Query(query string) ApiAutocompleteRecipeSearchRequest {
	r.query = &query
	return r
}

// The maximum number of items to return (between 1 and 100). Defaults to 10.
func (r ApiAutocompleteRecipeSearchRequest) Number(number int32) ApiAutocompleteRecipeSearchRequest {
	r.number = &number
	return r
}

func (r ApiAutocompleteRecipeSearchRequest) Execute() ([]AutocompleteRecipeSearch200ResponseInner, *http.Response, error) {
	return r.ApiService.AutocompleteRecipeSearchExecute(r)
}

/*
AutocompleteRecipeSearch Autocomplete Recipe Search

Autocomplete a partial input to suggest possible recipe names.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAutocompleteRecipeSearchRequest
*/
func (a *RecipesAPIService) AutocompleteRecipeSearch(ctx context.Context) ApiAutocompleteRecipeSearchRequest {
	return ApiAutocompleteRecipeSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AutocompleteRecipeSearch200ResponseInner
func (a *RecipesAPIService) AutocompleteRecipeSearchExecute(r ApiAutocompleteRecipeSearchRequest) ([]AutocompleteRecipeSearch200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AutocompleteRecipeSearch200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.AutocompleteRecipeSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/autocomplete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "")
	}
	if r.number != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "number", r.number, "")
	} else {
		var defaultValue int32 = 10
		r.number = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiClassifyCuisineRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	title *string
	ingredientList *string
	language *string
}

// The title of the recipe.
func (r ApiClassifyCuisineRequest) Title(title string) ApiClassifyCuisineRequest {
	r.title = &title
	return r
}

// The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n).
func (r ApiClassifyCuisineRequest) IngredientList(ingredientList string) ApiClassifyCuisineRequest {
	r.ingredientList = &ingredientList
	return r
}

// The language of the input. Either &#39;en&#39; or &#39;de&#39;.
func (r ApiClassifyCuisineRequest) Language(language string) ApiClassifyCuisineRequest {
	r.language = &language
	return r
}

func (r ApiClassifyCuisineRequest) Execute() (*ClassifyCuisine200Response, *http.Response, error) {
	return r.ApiService.ClassifyCuisineExecute(r)
}

/*
ClassifyCuisine Classify Cuisine

Classify the recipe's cuisine.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiClassifyCuisineRequest
*/
func (a *RecipesAPIService) ClassifyCuisine(ctx context.Context) ApiClassifyCuisineRequest {
	return ApiClassifyCuisineRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ClassifyCuisine200Response
func (a *RecipesAPIService) ClassifyCuisineExecute(r ApiClassifyCuisineRequest) (*ClassifyCuisine200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ClassifyCuisine200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.ClassifyCuisine")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/cuisine"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.title == nil {
		return localVarReturnValue, nil, reportError("title is required and must be specified")
	}
	if r.ingredientList == nil {
		return localVarReturnValue, nil, reportError("ingredientList is required and must be specified")
	}

	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "title", r.title, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "ingredientList", r.ingredientList, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiComputeGlycemicLoadRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	computeGlycemicLoadRequest *ComputeGlycemicLoadRequest
	language *string
}

func (r ApiComputeGlycemicLoadRequest) ComputeGlycemicLoadRequest(computeGlycemicLoadRequest ComputeGlycemicLoadRequest) ApiComputeGlycemicLoadRequest {
	r.computeGlycemicLoadRequest = &computeGlycemicLoadRequest
	return r
}

// The language of the input. Either &#39;en&#39; or &#39;de&#39;.
func (r ApiComputeGlycemicLoadRequest) Language(language string) ApiComputeGlycemicLoadRequest {
	r.language = &language
	return r
}

func (r ApiComputeGlycemicLoadRequest) Execute() (*ComputeGlycemicLoad200Response, *http.Response, error) {
	return r.ApiService.ComputeGlycemicLoadExecute(r)
}

/*
ComputeGlycemicLoad Compute Glycemic Load

Retrieve the glycemic index for a list of ingredients and compute the individual and total glycemic load.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiComputeGlycemicLoadRequest
*/
func (a *RecipesAPIService) ComputeGlycemicLoad(ctx context.Context) ApiComputeGlycemicLoadRequest {
	return ApiComputeGlycemicLoadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ComputeGlycemicLoad200Response
func (a *RecipesAPIService) ComputeGlycemicLoadExecute(r ApiComputeGlycemicLoadRequest) (*ComputeGlycemicLoad200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComputeGlycemicLoad200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.ComputeGlycemicLoad")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/food/ingredients/glycemicLoad"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.computeGlycemicLoadRequest == nil {
		return localVarReturnValue, nil, reportError("computeGlycemicLoadRequest is required and must be specified")
	}

	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.computeGlycemicLoadRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConvertAmountsRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	ingredientName *string
	sourceAmount *float32
	sourceUnit *string
	targetUnit *string
}

// The ingredient which you want to convert.
func (r ApiConvertAmountsRequest) IngredientName(ingredientName string) ApiConvertAmountsRequest {
	r.ingredientName = &ingredientName
	return r
}

// The amount from which you want to convert, e.g. the 2.5 in \&quot;2.5 cups of flour to grams\&quot;.
func (r ApiConvertAmountsRequest) SourceAmount(sourceAmount float32) ApiConvertAmountsRequest {
	r.sourceAmount = &sourceAmount
	return r
}

// The unit from which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
func (r ApiConvertAmountsRequest) SourceUnit(sourceUnit string) ApiConvertAmountsRequest {
	r.sourceUnit = &sourceUnit
	return r
}

// The unit to which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
func (r ApiConvertAmountsRequest) TargetUnit(targetUnit string) ApiConvertAmountsRequest {
	r.targetUnit = &targetUnit
	return r
}

func (r ApiConvertAmountsRequest) Execute() (*ConvertAmounts200Response, *http.Response, error) {
	return r.ApiService.ConvertAmountsExecute(r)
}

/*
ConvertAmounts Convert Amounts

Convert amounts like "2 cups of flour to grams".

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConvertAmountsRequest
*/
func (a *RecipesAPIService) ConvertAmounts(ctx context.Context) ApiConvertAmountsRequest {
	return ApiConvertAmountsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ConvertAmounts200Response
func (a *RecipesAPIService) ConvertAmountsExecute(r ApiConvertAmountsRequest) (*ConvertAmounts200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConvertAmounts200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.ConvertAmounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/convert"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ingredientName == nil {
		return localVarReturnValue, nil, reportError("ingredientName is required and must be specified")
	}
	if r.sourceAmount == nil {
		return localVarReturnValue, nil, reportError("sourceAmount is required and must be specified")
	}
	if r.sourceUnit == nil {
		return localVarReturnValue, nil, reportError("sourceUnit is required and must be specified")
	}
	if r.targetUnit == nil {
		return localVarReturnValue, nil, reportError("targetUnit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ingredientName", r.ingredientName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "sourceAmount", r.sourceAmount, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "sourceUnit", r.sourceUnit, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "targetUnit", r.targetUnit, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateRecipeCardRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	title *string
	ingredients *string
	instructions *string
	readyInMinutes *float32
	servings *float32
	mask *string
	backgroundImage *string
	image *os.File
	imageUrl *string
	author *string
	backgroundColor *string
	fontColor *string
	source *string
}

// The title of the recipe.
func (r ApiCreateRecipeCardRequest) Title(title string) ApiCreateRecipeCardRequest {
	r.title = &title
	return r
}

// The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n).
func (r ApiCreateRecipeCardRequest) Ingredients(ingredients string) ApiCreateRecipeCardRequest {
	r.ingredients = &ingredients
	return r
}

// The instructions to make the recipe. One step per line (separate lines with \\\\n).
func (r ApiCreateRecipeCardRequest) Instructions(instructions string) ApiCreateRecipeCardRequest {
	r.instructions = &instructions
	return r
}

// The number of minutes it takes to get the recipe on the table.
func (r ApiCreateRecipeCardRequest) ReadyInMinutes(readyInMinutes float32) ApiCreateRecipeCardRequest {
	r.readyInMinutes = &readyInMinutes
	return r
}

// The number of servings the recipe makes.
func (r ApiCreateRecipeCardRequest) Servings(servings float32) ApiCreateRecipeCardRequest {
	r.servings = &servings
	return r
}

// The mask to put over the recipe image (&#39;ellipseMask&#39;, &#39;diamondMask&#39;, &#39;starMask&#39;, &#39;heartMask&#39;, &#39;potMask&#39;, &#39;fishMask&#39;).
func (r ApiCreateRecipeCardRequest) Mask(mask string) ApiCreateRecipeCardRequest {
	r.mask = &mask
	return r
}

// The background image (&#39;none&#39;, &#39;background1&#39;, or &#39;background2&#39;).
func (r ApiCreateRecipeCardRequest) BackgroundImage(backgroundImage string) ApiCreateRecipeCardRequest {
	r.backgroundImage = &backgroundImage
	return r
}

// The binary image of the recipe as jpg.
func (r ApiCreateRecipeCardRequest) Image(image *os.File) ApiCreateRecipeCardRequest {
	r.image = image
	return r
}

// If you do not sent a binary image you can also pass the image URL.
func (r ApiCreateRecipeCardRequest) ImageUrl(imageUrl string) ApiCreateRecipeCardRequest {
	r.imageUrl = &imageUrl
	return r
}

// The author of the recipe.
func (r ApiCreateRecipeCardRequest) Author(author string) ApiCreateRecipeCardRequest {
	r.author = &author
	return r
}

// The background color for the recipe card as a hex-string.
func (r ApiCreateRecipeCardRequest) BackgroundColor(backgroundColor string) ApiCreateRecipeCardRequest {
	r.backgroundColor = &backgroundColor
	return r
}

// The font color for the recipe card as a hex-string.
func (r ApiCreateRecipeCardRequest) FontColor(fontColor string) ApiCreateRecipeCardRequest {
	r.fontColor = &fontColor
	return r
}

// The source of the recipe.
func (r ApiCreateRecipeCardRequest) Source(source string) ApiCreateRecipeCardRequest {
	r.source = &source
	return r
}

func (r ApiCreateRecipeCardRequest) Execute() (*CreateRecipeCard200Response, *http.Response, error) {
	return r.ApiService.CreateRecipeCardExecute(r)
}

/*
CreateRecipeCard Create Recipe Card

Generate a recipe card for a recipe.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateRecipeCardRequest
*/
func (a *RecipesAPIService) CreateRecipeCard(ctx context.Context) ApiCreateRecipeCardRequest {
	return ApiCreateRecipeCardRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateRecipeCard200Response
func (a *RecipesAPIService) CreateRecipeCardExecute(r ApiCreateRecipeCardRequest) (*CreateRecipeCard200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateRecipeCard200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.CreateRecipeCard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/visualizeRecipe"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.title == nil {
		return localVarReturnValue, nil, reportError("title is required and must be specified")
	}
	if r.ingredients == nil {
		return localVarReturnValue, nil, reportError("ingredients is required and must be specified")
	}
	if r.instructions == nil {
		return localVarReturnValue, nil, reportError("instructions is required and must be specified")
	}
	if r.readyInMinutes == nil {
		return localVarReturnValue, nil, reportError("readyInMinutes is required and must be specified")
	}
	if r.servings == nil {
		return localVarReturnValue, nil, reportError("servings is required and must be specified")
	}
	if r.mask == nil {
		return localVarReturnValue, nil, reportError("mask is required and must be specified")
	}
	if r.backgroundImage == nil {
		return localVarReturnValue, nil, reportError("backgroundImage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "title", r.title, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "ingredients", r.ingredients, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "instructions", r.instructions, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "readyInMinutes", r.readyInMinutes, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "servings", r.servings, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "mask", r.mask, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "backgroundImage", r.backgroundImage, "")
	var imageLocalVarFormFileName string
	var imageLocalVarFileName     string
	var imageLocalVarFileBytes    []byte

	imageLocalVarFormFileName = "image"
	imageLocalVarFile := r.image

	if imageLocalVarFile != nil {
		fbs, _ := io.ReadAll(imageLocalVarFile)

		imageLocalVarFileBytes = fbs
		imageLocalVarFileName = imageLocalVarFile.Name()
		imageLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: imageLocalVarFileBytes, fileName: imageLocalVarFileName, formFileName: imageLocalVarFormFileName})
	}
	if r.imageUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "imageUrl", r.imageUrl, "")
	}
	if r.author != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "author", r.author, "")
	}
	if r.backgroundColor != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "backgroundColor", r.backgroundColor, "")
	}
	if r.fontColor != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "fontColor", r.fontColor, "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "source", r.source, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEquipmentByIDImageRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	id float32
}

func (r ApiEquipmentByIDImageRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.EquipmentByIDImageExecute(r)
}

/*
EquipmentByIDImage Equipment by ID Image

Visualize a recipe's equipment list as an image.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The recipe id.
 @return ApiEquipmentByIDImageRequest
*/
func (a *RecipesAPIService) EquipmentByIDImage(ctx context.Context, id float32) ApiEquipmentByIDImageRequest {
	return ApiEquipmentByIDImageRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return *os.File
func (a *RecipesAPIService) EquipmentByIDImageExecute(r ApiEquipmentByIDImageRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.EquipmentByIDImage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/{id}/equipmentWidget.png"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"image/png"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExtractRecipeFromWebsiteRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	url *string
	forceExtraction *bool
	analyze *bool
	includeNutrition *bool
	includeTaste *bool
}

// The URL of the recipe page.
func (r ApiExtractRecipeFromWebsiteRequest) Url(url string) ApiExtractRecipeFromWebsiteRequest {
	r.url = &url
	return r
}

// If true, the extraction will be triggered whether we already know the recipe or not. Use this only if information is missing as this operation is slower.
func (r ApiExtractRecipeFromWebsiteRequest) ForceExtraction(forceExtraction bool) ApiExtractRecipeFromWebsiteRequest {
	r.forceExtraction = &forceExtraction
	return r
}

// If true, the recipe will be analyzed and classified resolving in more data such as cuisines, dish types, and more.
func (r ApiExtractRecipeFromWebsiteRequest) Analyze(analyze bool) ApiExtractRecipeFromWebsiteRequest {
	r.analyze = &analyze
	return r
}

// Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.
func (r ApiExtractRecipeFromWebsiteRequest) IncludeNutrition(includeNutrition bool) ApiExtractRecipeFromWebsiteRequest {
	r.includeNutrition = &includeNutrition
	return r
}

// Whether taste data should be added to correctly parsed ingredients.
func (r ApiExtractRecipeFromWebsiteRequest) IncludeTaste(includeTaste bool) ApiExtractRecipeFromWebsiteRequest {
	r.includeTaste = &includeTaste
	return r
}

func (r ApiExtractRecipeFromWebsiteRequest) Execute() (*GetRecipeInformation200Response, *http.Response, error) {
	return r.ApiService.ExtractRecipeFromWebsiteExecute(r)
}

/*
ExtractRecipeFromWebsite Extract Recipe from Website

This endpoint lets you extract recipe data such as title, ingredients, and instructions from any properly formatted Website.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExtractRecipeFromWebsiteRequest
*/
func (a *RecipesAPIService) ExtractRecipeFromWebsite(ctx context.Context) ApiExtractRecipeFromWebsiteRequest {
	return ApiExtractRecipeFromWebsiteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetRecipeInformation200Response
func (a *RecipesAPIService) ExtractRecipeFromWebsiteExecute(r ApiExtractRecipeFromWebsiteRequest) (*GetRecipeInformation200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRecipeInformation200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.ExtractRecipeFromWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/extract"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.url == nil {
		return localVarReturnValue, nil, reportError("url is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "")
	if r.forceExtraction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "forceExtraction", r.forceExtraction, "")
	}
	if r.analyze != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "analyze", r.analyze, "")
	}
	if r.includeNutrition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeNutrition", r.includeNutrition, "")
	} else {
		var defaultValue bool = false
		r.includeNutrition = &defaultValue
	}
	if r.includeTaste != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeTaste", r.includeTaste, "")
	} else {
		var defaultValue bool = false
		r.includeTaste = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAnalyzedRecipeInstructionsRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	id int32
	stepBreakdown *bool
}

// Whether to break down the recipe steps even more.
func (r ApiGetAnalyzedRecipeInstructionsRequest) StepBreakdown(stepBreakdown bool) ApiGetAnalyzedRecipeInstructionsRequest {
	r.stepBreakdown = &stepBreakdown
	return r
}

func (r ApiGetAnalyzedRecipeInstructionsRequest) Execute() (*GetAnalyzedRecipeInstructions200Response, *http.Response, error) {
	return r.ApiService.GetAnalyzedRecipeInstructionsExecute(r)
}

/*
GetAnalyzedRecipeInstructions Get Analyzed Recipe Instructions

Get an analyzed breakdown of a recipe's instructions. Each step is enriched with the ingredients and equipment required.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The item's id.
 @return ApiGetAnalyzedRecipeInstructionsRequest
*/
func (a *RecipesAPIService) GetAnalyzedRecipeInstructions(ctx context.Context, id int32) ApiGetAnalyzedRecipeInstructionsRequest {
	return ApiGetAnalyzedRecipeInstructionsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetAnalyzedRecipeInstructions200Response
func (a *RecipesAPIService) GetAnalyzedRecipeInstructionsExecute(r ApiGetAnalyzedRecipeInstructionsRequest) (*GetAnalyzedRecipeInstructions200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAnalyzedRecipeInstructions200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.GetAnalyzedRecipeInstructions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/{id}/analyzedInstructions"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.stepBreakdown != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stepBreakdown", r.stepBreakdown, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRandomRecipesRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	limitLicense *bool
	includeNutrition *bool
	includeTags *string
	excludeTags *string
	number *int32
}

// Whether the recipes should have an open license that allows display with proper attribution.
func (r ApiGetRandomRecipesRequest) LimitLicense(limitLicense bool) ApiGetRandomRecipesRequest {
	r.limitLicense = &limitLicense
	return r
}

// Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.
func (r ApiGetRandomRecipesRequest) IncludeNutrition(includeNutrition bool) ApiGetRandomRecipesRequest {
	r.includeNutrition = &includeNutrition
	return r
}

// A comma-separated list of tags that the random recipe(s) must adhere to.
func (r ApiGetRandomRecipesRequest) IncludeTags(includeTags string) ApiGetRandomRecipesRequest {
	r.includeTags = &includeTags
	return r
}

// A comma-separated list of tags that the random recipe(s) must not adhere to.
func (r ApiGetRandomRecipesRequest) ExcludeTags(excludeTags string) ApiGetRandomRecipesRequest {
	r.excludeTags = &excludeTags
	return r
}

// The maximum number of items to return (between 1 and 100). Defaults to 10.
func (r ApiGetRandomRecipesRequest) Number(number int32) ApiGetRandomRecipesRequest {
	r.number = &number
	return r
}

func (r ApiGetRandomRecipesRequest) Execute() (*GetRandomRecipes200Response, *http.Response, error) {
	return r.ApiService.GetRandomRecipesExecute(r)
}

/*
GetRandomRecipes Get Random Recipes

Find random (popular) recipes. If you need to filter recipes by diet, nutrition etc. you might want to consider using the complex recipe search endpoint and set the sort request parameter to random.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetRandomRecipesRequest
*/
func (a *RecipesAPIService) GetRandomRecipes(ctx context.Context) ApiGetRandomRecipesRequest {
	return ApiGetRandomRecipesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetRandomRecipes200Response
func (a *RecipesAPIService) GetRandomRecipesExecute(r ApiGetRandomRecipesRequest) (*GetRandomRecipes200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRandomRecipes200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.GetRandomRecipes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/random"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limitLicense != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limitLicense", r.limitLicense, "")
	} else {
		var defaultValue bool = true
		r.limitLicense = &defaultValue
	}
	if r.includeNutrition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeNutrition", r.includeNutrition, "")
	} else {
		var defaultValue bool = false
		r.includeNutrition = &defaultValue
	}
	if r.includeTags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include-tags", r.includeTags, "")
	}
	if r.excludeTags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude-tags", r.excludeTags, "")
	}
	if r.number != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "number", r.number, "")
	} else {
		var defaultValue int32 = 10
		r.number = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRecipeEquipmentByIDRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	id int32
}

func (r ApiGetRecipeEquipmentByIDRequest) Execute() (*GetRecipeEquipmentByID200Response, *http.Response, error) {
	return r.ApiService.GetRecipeEquipmentByIDExecute(r)
}

/*
GetRecipeEquipmentByID Equipment by ID

Get a recipe's equipment list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The item's id.
 @return ApiGetRecipeEquipmentByIDRequest
*/
func (a *RecipesAPIService) GetRecipeEquipmentByID(ctx context.Context, id int32) ApiGetRecipeEquipmentByIDRequest {
	return ApiGetRecipeEquipmentByIDRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetRecipeEquipmentByID200Response
func (a *RecipesAPIService) GetRecipeEquipmentByIDExecute(r ApiGetRecipeEquipmentByIDRequest) (*GetRecipeEquipmentByID200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRecipeEquipmentByID200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.GetRecipeEquipmentByID")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/{id}/equipmentWidget.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRecipeInformationRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	id int32
	includeNutrition *bool
}

// Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.
func (r ApiGetRecipeInformationRequest) IncludeNutrition(includeNutrition bool) ApiGetRecipeInformationRequest {
	r.includeNutrition = &includeNutrition
	return r
}

func (r ApiGetRecipeInformationRequest) Execute() (*GetRecipeInformation200Response, *http.Response, error) {
	return r.ApiService.GetRecipeInformationExecute(r)
}

/*
GetRecipeInformation Get Recipe Information

Use a recipe id to get full information about a recipe, such as ingredients, nutrition, diet and allergen information, etc.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The item's id.
 @return ApiGetRecipeInformationRequest
*/
func (a *RecipesAPIService) GetRecipeInformation(ctx context.Context, id int32) ApiGetRecipeInformationRequest {
	return ApiGetRecipeInformationRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetRecipeInformation200Response
func (a *RecipesAPIService) GetRecipeInformationExecute(r ApiGetRecipeInformationRequest) (*GetRecipeInformation200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRecipeInformation200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.GetRecipeInformation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/{id}/information"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeNutrition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeNutrition", r.includeNutrition, "")
	} else {
		var defaultValue bool = false
		r.includeNutrition = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRecipeInformationBulkRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	ids *string
	includeNutrition *bool
}

// A comma-separated list of recipe ids.
func (r ApiGetRecipeInformationBulkRequest) Ids(ids string) ApiGetRecipeInformationBulkRequest {
	r.ids = &ids
	return r
}

// Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.
func (r ApiGetRecipeInformationBulkRequest) IncludeNutrition(includeNutrition bool) ApiGetRecipeInformationBulkRequest {
	r.includeNutrition = &includeNutrition
	return r
}

func (r ApiGetRecipeInformationBulkRequest) Execute() ([]GetRecipeInformationBulk200ResponseInner, *http.Response, error) {
	return r.ApiService.GetRecipeInformationBulkExecute(r)
}

/*
GetRecipeInformationBulk Get Recipe Information Bulk

Get information about multiple recipes at once. This is equivalent to calling the Get Recipe Information endpoint multiple times, but faster.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetRecipeInformationBulkRequest
*/
func (a *RecipesAPIService) GetRecipeInformationBulk(ctx context.Context) ApiGetRecipeInformationBulkRequest {
	return ApiGetRecipeInformationBulkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []GetRecipeInformationBulk200ResponseInner
func (a *RecipesAPIService) GetRecipeInformationBulkExecute(r ApiGetRecipeInformationBulkRequest) ([]GetRecipeInformationBulk200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GetRecipeInformationBulk200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.GetRecipeInformationBulk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/informationBulk"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ids == nil {
		return localVarReturnValue, nil, reportError("ids is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "")
	if r.includeNutrition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeNutrition", r.includeNutrition, "")
	} else {
		var defaultValue bool = false
		r.includeNutrition = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRecipeIngredientsByIDRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	id int32
}

func (r ApiGetRecipeIngredientsByIDRequest) Execute() (*GetRecipeIngredientsByID200Response, *http.Response, error) {
	return r.ApiService.GetRecipeIngredientsByIDExecute(r)
}

/*
GetRecipeIngredientsByID Ingredients by ID

Get a recipe's ingredient list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The item's id.
 @return ApiGetRecipeIngredientsByIDRequest
*/
func (a *RecipesAPIService) GetRecipeIngredientsByID(ctx context.Context, id int32) ApiGetRecipeIngredientsByIDRequest {
	return ApiGetRecipeIngredientsByIDRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetRecipeIngredientsByID200Response
func (a *RecipesAPIService) GetRecipeIngredientsByIDExecute(r ApiGetRecipeIngredientsByIDRequest) (*GetRecipeIngredientsByID200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRecipeIngredientsByID200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.GetRecipeIngredientsByID")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/{id}/ingredientWidget.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRecipeNutritionWidgetByIDRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	id int32
}

func (r ApiGetRecipeNutritionWidgetByIDRequest) Execute() (*GetRecipeNutritionWidgetByID200Response, *http.Response, error) {
	return r.ApiService.GetRecipeNutritionWidgetByIDExecute(r)
}

/*
GetRecipeNutritionWidgetByID Nutrition by ID

Get a recipe's nutrition data.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The item's id.
 @return ApiGetRecipeNutritionWidgetByIDRequest
*/
func (a *RecipesAPIService) GetRecipeNutritionWidgetByID(ctx context.Context, id int32) ApiGetRecipeNutritionWidgetByIDRequest {
	return ApiGetRecipeNutritionWidgetByIDRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetRecipeNutritionWidgetByID200Response
func (a *RecipesAPIService) GetRecipeNutritionWidgetByIDExecute(r ApiGetRecipeNutritionWidgetByIDRequest) (*GetRecipeNutritionWidgetByID200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRecipeNutritionWidgetByID200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.GetRecipeNutritionWidgetByID")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/{id}/nutritionWidget.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRecipePriceBreakdownByIDRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	id int32
}

func (r ApiGetRecipePriceBreakdownByIDRequest) Execute() (*GetRecipePriceBreakdownByID200Response, *http.Response, error) {
	return r.ApiService.GetRecipePriceBreakdownByIDExecute(r)
}

/*
GetRecipePriceBreakdownByID Price Breakdown by ID

Get a recipe's price breakdown data.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The item's id.
 @return ApiGetRecipePriceBreakdownByIDRequest
*/
func (a *RecipesAPIService) GetRecipePriceBreakdownByID(ctx context.Context, id int32) ApiGetRecipePriceBreakdownByIDRequest {
	return ApiGetRecipePriceBreakdownByIDRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetRecipePriceBreakdownByID200Response
func (a *RecipesAPIService) GetRecipePriceBreakdownByIDExecute(r ApiGetRecipePriceBreakdownByIDRequest) (*GetRecipePriceBreakdownByID200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRecipePriceBreakdownByID200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.GetRecipePriceBreakdownByID")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/{id}/priceBreakdownWidget.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRecipeTasteByIDRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	id int32
	normalize *bool
}

// Normalize to the strongest taste.
func (r ApiGetRecipeTasteByIDRequest) Normalize(normalize bool) ApiGetRecipeTasteByIDRequest {
	r.normalize = &normalize
	return r
}

func (r ApiGetRecipeTasteByIDRequest) Execute() (*GetRecipeTasteByID200Response, *http.Response, error) {
	return r.ApiService.GetRecipeTasteByIDExecute(r)
}

/*
GetRecipeTasteByID Taste by ID

Get a recipe's taste. The tastes supported are sweet, salty, sour, bitter, savory, and fatty.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The item's id.
 @return ApiGetRecipeTasteByIDRequest
*/
func (a *RecipesAPIService) GetRecipeTasteByID(ctx context.Context, id int32) ApiGetRecipeTasteByIDRequest {
	return ApiGetRecipeTasteByIDRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetRecipeTasteByID200Response
func (a *RecipesAPIService) GetRecipeTasteByIDExecute(r ApiGetRecipeTasteByIDRequest) (*GetRecipeTasteByID200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRecipeTasteByID200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.GetRecipeTasteByID")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/{id}/tasteWidget.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.normalize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "normalize", r.normalize, "")
	} else {
		var defaultValue bool = true
		r.normalize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSimilarRecipesRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	id int32
	number *int32
	limitLicense *bool
}

// The maximum number of items to return (between 1 and 100). Defaults to 10.
func (r ApiGetSimilarRecipesRequest) Number(number int32) ApiGetSimilarRecipesRequest {
	r.number = &number
	return r
}

// Whether the recipes should have an open license that allows display with proper attribution.
func (r ApiGetSimilarRecipesRequest) LimitLicense(limitLicense bool) ApiGetSimilarRecipesRequest {
	r.limitLicense = &limitLicense
	return r
}

func (r ApiGetSimilarRecipesRequest) Execute() ([]GetSimilarRecipes200ResponseInner, *http.Response, error) {
	return r.ApiService.GetSimilarRecipesExecute(r)
}

/*
GetSimilarRecipes Get Similar Recipes

Find recipes which are similar to the given one.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The item's id.
 @return ApiGetSimilarRecipesRequest
*/
func (a *RecipesAPIService) GetSimilarRecipes(ctx context.Context, id int32) ApiGetSimilarRecipesRequest {
	return ApiGetSimilarRecipesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []GetSimilarRecipes200ResponseInner
func (a *RecipesAPIService) GetSimilarRecipesExecute(r ApiGetSimilarRecipesRequest) ([]GetSimilarRecipes200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GetSimilarRecipes200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.GetSimilarRecipes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/{id}/similar"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.number != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "number", r.number, "")
	} else {
		var defaultValue int32 = 10
		r.number = &defaultValue
	}
	if r.limitLicense != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limitLicense", r.limitLicense, "")
	} else {
		var defaultValue bool = true
		r.limitLicense = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGuessNutritionByDishNameRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	title *string
}

// The title of the dish.
func (r ApiGuessNutritionByDishNameRequest) Title(title string) ApiGuessNutritionByDishNameRequest {
	r.title = &title
	return r
}

func (r ApiGuessNutritionByDishNameRequest) Execute() (*GuessNutritionByDishName200Response, *http.Response, error) {
	return r.ApiService.GuessNutritionByDishNameExecute(r)
}

/*
GuessNutritionByDishName Guess Nutrition by Dish Name

Estimate the macronutrients of a dish based on its title.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGuessNutritionByDishNameRequest
*/
func (a *RecipesAPIService) GuessNutritionByDishName(ctx context.Context) ApiGuessNutritionByDishNameRequest {
	return ApiGuessNutritionByDishNameRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GuessNutritionByDishName200Response
func (a *RecipesAPIService) GuessNutritionByDishNameExecute(r ApiGuessNutritionByDishNameRequest) (*GuessNutritionByDishName200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GuessNutritionByDishName200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.GuessNutritionByDishName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/guessNutrition"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.title == nil {
		return localVarReturnValue, nil, reportError("title is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiParseIngredientsRequest struct {
	ctx context.Context
	ApiService *RecipesAPIService
	ingredientList *string
	servings *float32
	language *string
	includeNutrition *bool
}

// The ingredient list of the recipe, one ingredient per line.
func (r ApiParseIngredientsRequest) IngredientList(ingredientList string) ApiParseIngredientsRequest {
	r.ingredientList = &ingredientList
	return r
}

// The number of servings that you can make from the ingredients.
func (r ApiParseIngredientsRequest) Servings(servings float32) ApiParseIngredientsRequest {
	r.servings = &servings
	return r
}

// The language of the input. Either &#39;en&#39; or &#39;de&#39;.
func (r ApiParseIngredientsRequest) Language(language string) ApiParseIngredientsRequest {
	r.language = &language
	return r
}

func (r ApiParseIngredientsRequest) IncludeNutrition(includeNutrition bool) ApiParseIngredientsRequest {
	r.includeNutrition = &includeNutrition
	return r
}

func (r ApiParseIngredientsRequest) Execute() ([]ParseIngredients200ResponseInner, *http.Response, error) {
	return r.ApiService.ParseIngredientsExecute(r)
}

/*
ParseIngredients Parse Ingredients

Extract an ingredient from plain text.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiParseIngredientsRequest
*/
func (a *RecipesAPIService) ParseIngredients(ctx context.Context) ApiParseIngredientsRequest {
	return ApiParseIngredientsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ParseIngredients200ResponseInner
func (a *RecipesAPIService) ParseIngredientsExecute(r ApiParseIngredientsRequest) ([]ParseIngredients200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ParseIngredients200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RecipesAPIService.ParseIngredients")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/recipes/parseIngredients"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ingredientList == nil {
		return localVarReturnValue, nil, reportError("ingredientList is required and must be specified")
	}
	if r.servings == nil {
		return localVarReturnValue, nil, reportError("servings is required and must be specified")
	}

	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "ingredientList", r.ingredientList, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "servings", r.servings, "")
	if r.includeNutrition != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "includeNutrition", r.includeNutrition, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyScheme"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
[...]
