/**
* spoonacular API
* The spoonacular Nutrition, Recipe, and Food API allows you to access over 380,000 recipes, thousands of ingredients, 80,000 food products, and 100,000 menu items. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as \"gluten free brownies without sugar\" or \"low fat vegan cupcakes.\" You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what's in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.  Special diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.
*
* The version of the OpenAPI document: 1.0
* Contact: david@spoonacular.com
*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package com.spoonacular

import com.spoonacular.client.model.InlineObject8

import spoonacular.infrastructure.ApiClient
import spoonacular.infrastructure.ClientException
import spoonacular.infrastructure.ClientError
import spoonacular.infrastructure.ServerException
import spoonacular.infrastructure.ServerError
import spoonacular.infrastructure.MultiValueMap
import spoonacular.infrastructure.RequestConfig
import spoonacular.infrastructure.RequestMethod
import spoonacular.infrastructure.ResponseType
import spoonacular.infrastructure.Success
import spoonacular.infrastructure.toMultiValue

class DefaultApi(basePath: kotlin.String = "https://api.spoonacular.com") : ApiClient(basePath) {

    /**
    * Analyze a Recipe Search Query
    * Parse a recipe search query to find out its intention.
    * @param q The recipe search query. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun analyzeARecipeSearchQuery(q: kotlin.String) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("q" to listOf("$q"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/queries/analyze",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Analyze Recipe Instructions
    * Extract ingredients and equipment from the recipe instruction steps.
    * @param instructions The instructions text. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun analyzeRecipeInstructions(instructions: kotlin.String) : kotlin.Any {
        val localVariableBody: kotlin.Any? = mapOf("instructions" to "$instructions")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/recipes/analyzeInstructions",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Autocomplete Ingredient Search
    * Autocomplete a search for an ingredient.
    * @param query The query - a partial or full ingredient name. 
    * @param number The number of results to return (between 1 and 100). (optional)
    * @param metaInformation Whether to return more meta information about the ingredients. (optional)
    * @param intolerances A comma-separated list of intolerances. All found ingredients must not cause problems for people with one of the given tolerances. See a full list of supported intolerances. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun autocompleteIngredientSearch(query: kotlin.String, number: java.math.BigDecimal?, metaInformation: kotlin.Boolean?, intolerances: kotlin.Boolean?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("query" to listOf("$query"), "number" to listOf("$number"), "metaInformation" to listOf("$metaInformation"), "intolerances" to listOf("$intolerances"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/ingredients/autocomplete",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Autocomplete Menu Item Search
    * Generate suggestions for menu items based on a (partial) query. The matches will be found by looking in the title only.
    * @param query The (partial) search query. 
    * @param number The number of results to return (between 1 and 25). (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun autocompleteMenuItemSearch(query: kotlin.String, number: java.math.BigDecimal?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("query" to listOf("$query"), "number" to listOf("$number"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/menuItems/suggest",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Autocomplete Product Search
    * Generate suggestions for grocery products based on a (partial) query. The matches will be found by looking in the title only.
    * @param query The (partial) search query. 
    * @param number The number of results to return (between 1 and 25). (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun autocompleteProductSearch(query: kotlin.String, number: java.math.BigDecimal?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("query" to listOf("$query"), "number" to listOf("$number"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/products/suggest",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Autocomplete Recipe Search
    * Autocomplete a partial input to possible recipe names.
    * @param query The query to be autocompleted. 
    * @param number The number of results to return (between 1 and 25). (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun autocompleteRecipeSearch(query: kotlin.String, number: java.math.BigDecimal?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("query" to listOf("$query"), "number" to listOf("$number"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/autocomplete",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Classify Cuisine
    * Classify the recipe&#39;s cuisine.
    * @param title The title of the recipe. 
    * @param ingredientList The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n). 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun classifyCuisine(title: kotlin.String, ingredientList: kotlin.String) : kotlin.Any {
        val localVariableBody: kotlin.Any? = mapOf("title" to "$title", "ingredientList" to "$ingredientList")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/recipes/cuisine",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Classify Grocery Product
    * Given a grocery product title, this endpoint allows you to detect what basic ingredient it is.
    * @param inlineObject8  
    * @param locale The locale of the returned category, supported is en_US and en_GB. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun classifyGroceryProduct(inlineObject8: InlineObject8, locale: kotlin.String?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = inlineObject8
        val localVariableQuery: MultiValueMap = mapOf("locale" to listOf("$locale"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/food/products/classify",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Classify Grocery Product Bulk
    * Given a set of product jsons, get back classified products.
    * @param body  
    * @param locale The locale of the returned category, supported is en_US and en_GB. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun classifyGroceryProductBulk(body: kotlin.Any, locale: kotlin.String?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mapOf("locale" to listOf("$locale"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/food/products/classifyBatch",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Convert Amounts
    * Convert amounts like \&quot;2 cups of flour to grams\&quot;.
    * @param ingredientName The ingredient which you want to convert. 
    * @param sourceAmount The amount from which you want to convert, e.g. the 2.5 in \&quot;2.5 cups of flour to grams\&quot;. 
    * @param sourceUnit The unit from which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot; 
    * @param targetUnit The unit to which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot; 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun convertAmounts(ingredientName: kotlin.String, sourceAmount: java.math.BigDecimal, sourceUnit: kotlin.String, targetUnit: kotlin.String) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("ingredientName" to listOf("$ingredientName"), "sourceAmount" to listOf("$sourceAmount"), "sourceUnit" to listOf("$sourceUnit"), "targetUnit" to listOf("$targetUnit"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/convert",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Create Recipe Card
    * Create Recipe Card.
    * @param title The title of the recipe. 
    * @param image The binary image of the recipe as jpg. 
    * @param ingredients The ingredient list of the recipe, one ingredient per line (separate lines with \\\\n). 
    * @param instructions The instructions to make the recipe. One step per line (separate lines with \\\\n). 
    * @param readyInMinutes The number of minutes it takes to get the recipe on the table. 
    * @param servings The number of servings that you can make from the ingredients. 
    * @param mask The mask to put over the recipe image (\\\&quot;ellipseMask\\\&quot;, \\\&quot;diamondMask\\\&quot;, \\\&quot;diamondMask\\\&quot;, \\\&quot;starMask\\\&quot;, \\\&quot;heartMask\\\&quot;, \\\&quot;potMask\\\&quot;, \\\&quot;fishMask\\\&quot;). 
    * @param backgroundImage The background image (\\\&quot;none\\\&quot;,\\\&quot;background1\\\&quot;, or \\\&quot;background2\\\&quot;). 
    * @param author The author of the recipe. (optional)
    * @param backgroundColor The background color on the recipe card as a hex-string. (optional)
    * @param fontColor The font color on the recipe card as a hex-string. (optional)
    * @param source The source of the recipe. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun createRecipeCard(title: kotlin.String, image: java.io.File, ingredients: kotlin.String, instructions: kotlin.String, readyInMinutes: java.math.BigDecimal, servings: java.math.BigDecimal, mask: kotlin.String, backgroundImage: kotlin.String, author: kotlin.String?, backgroundColor: kotlin.String?, fontColor: kotlin.String?, source: kotlin.String?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = mapOf("title" to "$title", "image" to "$image", "ingredients" to "$ingredients", "instructions" to "$instructions", "readyInMinutes" to "$readyInMinutes", "servings" to "$servings", "mask" to "$mask", "backgroundImage" to "$backgroundImage", "author" to "$author", "backgroundColor" to "$backgroundColor", "fontColor" to "$fontColor", "source" to "$source")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/recipes/visualizeRecipe",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Detect Food in Text
    * Detect ingredients and dishes in texts. This task is also called Named Entity Recognition (NER). In our case the entities are foods. Either dishes, such as pizza and cheeseburger or ingredients, such as cucumber and almonds.
    * @param text The text in which food items such as dish names and ingredients should be detected in. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun detectFoodInText(text: kotlin.String) : kotlin.Any {
        val localVariableBody: kotlin.Any? = mapOf("text" to "$text")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/food/detect",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Extract Recipe from Website
    * Get an analyzed breakdown of a recipe&#39;s instructions. Each step is enriched with the ingredients and the equipment that is used.
    * @param url The URL of the recipe page. 
    * @param forceExtraction If true, the extraction will be triggered no matter whether we know the recipe already. Use that only if information is missing as this operation is slower. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun extractRecipeFromWebsite(url: kotlin.String, forceExtraction: kotlin.Boolean?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("url" to listOf("$url"), "forceExtraction" to listOf("$forceExtraction"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/extract",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Generate Meal Plan
    * Generate a meal plan with three meals per day (breakfast, lunch, and dinner).
    * @param timeFrame Either for one \&quot;day\&quot; or an entire \&quot;week\&quot;. (optional)
    * @param targetCalories What is the caloric target for one day? The meal plan generator will try to get as close as possible to that goal. (optional)
    * @param diet Enter a diet that the meal plan has to adhere to. See a full list of supported diets. (optional)
    * @param exclude A comma-separated list of allergens or ingredients that must be excluded. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun generateMealPlan(timeFrame: kotlin.String?, targetCalories: java.math.BigDecimal?, diet: kotlin.String?, exclude: kotlin.String?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("timeFrame" to listOf("$timeFrame"), "targetCalories" to listOf("$targetCalories"), "diet" to listOf("$diet"), "exclude" to listOf("$exclude"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/mealplans/generate",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get a Random Food Joke
    * Get a random joke that includes or is about food.
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getARandomFoodJoke() : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/jokes/random",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Analyzed Recipe Instructions
    * Get an analyzed breakdown of a recipe&#39;s instructions. Each step is enriched with the ingredients and the equipment that is used.
    * @param id The recipe id. 
    * @param stepBreakdown Whether to break down the recipe steps even more. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getAnalyzedRecipeInstructions(id: java.math.BigDecimal, stepBreakdown: kotlin.Boolean?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("stepBreakdown" to listOf("$stepBreakdown"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/{id}/analyzedInstructions".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Comparable Products
    * Find comparable products to the given one.
    * @param upc The UPC of the product for that you want to find comparable products. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getComparableProducts(upc: java.math.BigDecimal) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/products/upc/{upc}/comparable".replace("{"+"upc"+"}", "$upc"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Conversation Suggests
    * This endpoint returns suggestions for things the user can say or ask the chat bot.
    * @param query A (partial) query from the user. The endpoint will return if it matches topics it can talk about. 
    * @param number The number of suggestions to return (between 1 and 25). (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getConversationSuggests(query: kotlin.String, number: java.math.BigDecimal?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("query" to listOf("$query"), "number" to listOf("$number"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/converse/suggest",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Dish Pairing for Wine
    * Get a dish that goes well with a given wine.
    * @param wine The name of the wine that should be paired, e.g. \&quot;merlot\&quot;, \&quot;riesling\&quot;, or \&quot;malbec\&quot;. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getDishPairingForWine(wine: kotlin.String) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("wine" to listOf("$wine"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/wine/dishes",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Food Information
    * Get information about a certain food (ingredient).
    * @param id The id of the food / ingredient. 
    * @param amount The amount of that food. (optional)
    * @param unit The unit for the given amount. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getFoodInformation(id: java.math.BigDecimal, amount: java.math.BigDecimal?, unit: kotlin.String?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("amount" to listOf("$amount"), "unit" to listOf("$unit"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/ingredients/{id}/information".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Ingredient Substitutes
    * Search for substitutes for a given ingredient.
    * @param ingredientName The name of the ingredient you want to replace. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getIngredientSubstitutes(ingredientName: kotlin.String) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("ingredientName" to listOf("$ingredientName"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/ingredients/substitutes",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Ingredient Substitutes by ID
    * Search for substitutes for a given ingredient.
    * @param id The id of the ingredient you want substitutes for. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getIngredientSubstitutesByID(id: java.math.BigDecimal) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/ingredients/{id}/substitutes".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Menu Item Information
    * Get information about a certain menu item.
    * @param id The menu item id. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getMenuItemInformation(id: java.math.BigDecimal) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/menuItems/{id}".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Product Information
    * Get information about a packaged food product.
    * @param id The id of the packaged food product. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getProductInformation(id: java.math.BigDecimal) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/products/{id}".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Random Food Trivia
    * Returns random food trivia.
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getRandomFoodTrivia() : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/trivia/random",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Random Recipes
    * Find random (popular) recipes.
    * @param limitLicense Whether the recipes should have an open license that allows for displaying with proper attribution. (optional)
    * @param tags The tags (can be diets, meal types, cuisines, or intolerances) that the recipe must adhere to. (optional)
    * @param number The number of random recipes to be returned (between 1 and 100). (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getRandomRecipes(limitLicense: kotlin.Boolean?, tags: kotlin.String?, number: java.math.BigDecimal?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("limitLicense" to listOf("$limitLicense"), "tags" to listOf("$tags"), "number" to listOf("$number"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/random",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Recipe Equipment by ID
    * Get a recipe&#39;s equipment list.
    * @param id The recipe id. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getRecipeEquipmentByID(id: java.math.BigDecimal) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/{id}/equipmentWidget.json".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Recipe Information
    * Get information about a recipe.
    * @param id The id of the recipe. 
    * @param includeNutrition Include nutrition data to the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getRecipeInformation(id: java.math.BigDecimal, includeNutrition: kotlin.Boolean?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("includeNutrition" to listOf("$includeNutrition"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/{id}/information".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Recipe Information Bulk
    * Get information about multiple recipes at once. That is equivalent of calling the Get Recipe Information endpoint multiple times but is faster.
    * @param ids A comma-separated list of recipe ids. 
    * @param includeNutrition Include nutrition data to the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getRecipeInformationBulk(ids: kotlin.String, includeNutrition: kotlin.Boolean?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("ids" to listOf("$ids"), "includeNutrition" to listOf("$includeNutrition"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/informationBulk",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Recipe Ingredients by ID
    * Get a recipe&#39;s ingredient list.
    * @param id The recipe id. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getRecipeIngredientsByID(id: java.math.BigDecimal) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/{id}/ingredientWidget.json".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Recipe Nutrition by ID
    * Get a recipe&#39;s nutrition widget data.
    * @param id The recipe id. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getRecipeNutritionByID(id: java.math.BigDecimal) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/{id}/nutritionWidget.json".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Recipe Price Breakdown by ID
    * Get a recipe&#39;s price breakdown data.
    * @param id The recipe id. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getRecipePriceBreakdownByID(id: java.math.BigDecimal) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/{id}/priceBreakdownWidget.json".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Similar Recipes
    * Find recipes which are similar to the given one.
    * @param id The id of the source recipe to which similar recipes should be found. 
    * @param number The number of random recipes to be returned (between 1 and 100). (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getSimilarRecipes(id: java.math.BigDecimal, number: java.math.BigDecimal?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("number" to listOf("$number"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/{id}/similar".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Wine Description
    * Get the description of a certain wine, e.g. \&quot;malbec\&quot;, \&quot;riesling\&quot;, or \&quot;merlot\&quot;.
    * @param wine The name of the wine that should be paired, e.g. \&quot;merlot\&quot;, \&quot;riesling\&quot;, or \&quot;malbec\&quot;. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getWineDescription(wine: kotlin.String) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("wine" to listOf("$wine"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/wine/description",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Wine Pairing
    * Find a wine that goes well with a food. Food can be a dish name (\&quot;steak\&quot;), an ingredient name (\&quot;salmon\&quot;), or a cuisine (\&quot;italian\&quot;).
    * @param food The food to get a pairing for. This can be a dish (\&quot;steak\&quot;), an ingredient (\&quot;salmon\&quot;), or a cuisine (\&quot;italian\&quot;). 
    * @param maxPrice The maximum price for the specific wine recommendation in USD. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getWinePairing(food: kotlin.String, maxPrice: java.math.BigDecimal?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("food" to listOf("$food"), "maxPrice" to listOf("$maxPrice"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/wine/pairing",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Get Wine Recommendation
    * Get a specific wine recommendation (concrete product) for a given wine, e.g. \&quot;merlot\&quot;.
    * @param wine The name of the wine to get a specific product recommendation for. 
    * @param maxPrice The maximum price for the specific wine recommendation in USD. (optional)
    * @param minRating The minimum rating of the recommended wine between 0 and 1. For example, 0.8 equals 4 out of 5 stars. (optional)
    * @param number The number of wine recommendations expected (between 1 and 100). (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun getWineRecommendation(wine: kotlin.String, maxPrice: java.math.BigDecimal?, minRating: java.math.BigDecimal?, number: java.math.BigDecimal?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("wine" to listOf("$wine"), "maxPrice" to listOf("$maxPrice"), "minRating" to listOf("$minRating"), "number" to listOf("$number"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/wine/recommendation",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Guess Nutrition by Dish Name
    * Guess the macro nutrients of a dish given its title.
    * @param title The title of the dish. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun guessNutritionByDishName(title: kotlin.String) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("title" to listOf("$title"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/guessNutrition",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Map Ingredients to Grocery Products
    * Map a set of ingredients to products you can buy in the grocery store.
    * @param body  
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun mapIngredientsToGroceryProducts(body: kotlin.Any) : kotlin.Any {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/food/ingredients/map",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Parse Ingredients
    * Extract an ingredient from plain text.
    * @param ingredientList The ingredient list of the recipe, one ingredient per line. 
    * @param servings The number of servings that you can make from the ingredients. 
    * @param includeNutrition Whether nutrition data should be added to correctly parsed ingredients. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun parseIngredients(ingredientList: kotlin.String, servings: java.math.BigDecimal, includeNutrition: kotlin.Boolean?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = mapOf("ingredientList" to "$ingredientList", "servings" to "$servings", "includeNutrition" to "$includeNutrition")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/recipes/parseIngredients",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Quick Answer
    * Answer a nutrition related natural language question.
    * @param q The nutrition-related question. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun quickAnswer(q: kotlin.String) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("q" to listOf("$q"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/quickAnswer",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Search Food Videos
    * Find recipe and other food related videos.
    * @param query The search query. 
    * @param type The type of the recipes. See a full list of supported meal types. (optional)
    * @param cuisine The cuisine(s) of the recipes. One or more comma separated. See a full list of supported cuisines. (optional)
    * @param diet The diet to which the recipes must be compliant. See a full list of supported diets. (optional)
    * @param includeIngredients A comma-separated list of ingredients that should/must be contained in the recipe. (optional)
    * @param excludeIngredients A comma-separated list of ingredients or ingredient types that must not be contained in the recipes. (optional)
    * @param minLength Minimum video length in seconds. (optional)
    * @param maxLength Maximum video length in seconds. (optional)
    * @param offset The number of results to skip (between 0 and 900). (optional)
    * @param number The number of results to return (between 1 and 100). (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun searchFoodVideos(query: kotlin.String, type: kotlin.String?, cuisine: kotlin.String?, diet: kotlin.String?, includeIngredients: kotlin.String?, excludeIngredients: kotlin.String?, minLength: java.math.BigDecimal?, maxLength: java.math.BigDecimal?, offset: java.math.BigDecimal?, number: java.math.BigDecimal?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("query" to listOf("$query"), "type" to listOf("$type"), "cuisine" to listOf("$cuisine"), "diet" to listOf("$diet"), "includeIngredients" to listOf("$includeIngredients"), "excludeIngredients" to listOf("$excludeIngredients"), "minLength" to listOf("$minLength"), "maxLength" to listOf("$maxLength"), "offset" to listOf("$offset"), "number" to listOf("$number"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/videos/search",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Search Grocery Products
    * Search packaged food products such as frozen pizza and snickers bars.
    * @param query The search query. 
    * @param minCalories The minimum number of calories the product must have. (optional)
    * @param maxCalories The maximum number of calories the product can have. (optional)
    * @param minCarbs The minimum number of carbohydrates in grams the product must have. (optional)
    * @param maxCarbs The maximum number of carbohydrates in grams the product can have. (optional)
    * @param minProtein The minimum number of protein in grams the product must have. (optional)
    * @param maxProtein The maximum number of protein in grams the product can have. (optional)
    * @param minFat The minimum number of fat in grams the product must have. (optional)
    * @param maxFat The maximum number of fat in grams the product can have. (optional)
    * @param offset The offset number for paging (between 0 and 990). (optional)
    * @param number The number of expected results (between 1 and 100). (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun searchGroceryProducts(query: kotlin.String, minCalories: java.math.BigDecimal?, maxCalories: java.math.BigDecimal?, minCarbs: java.math.BigDecimal?, maxCarbs: java.math.BigDecimal?, minProtein: java.math.BigDecimal?, maxProtein: java.math.BigDecimal?, minFat: java.math.BigDecimal?, maxFat: java.math.BigDecimal?, offset: java.math.BigDecimal?, number: java.math.BigDecimal?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("query" to listOf("$query"), "minCalories" to listOf("$minCalories"), "maxCalories" to listOf("$maxCalories"), "minCarbs" to listOf("$minCarbs"), "maxCarbs" to listOf("$maxCarbs"), "minProtein" to listOf("$minProtein"), "maxProtein" to listOf("$maxProtein"), "minFat" to listOf("$minFat"), "maxFat" to listOf("$maxFat"), "offset" to listOf("$offset"), "number" to listOf("$number"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/products/search",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Search Grocery Products by UPC
    * Get information about a food product given its UPC.
    * @param upc The product&#39;s UPC. 
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun searchGroceryProductsByUPC(upc: java.math.BigDecimal) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/products/upc/{upc}".replace("{"+"upc"+"}", "$upc"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Search Menu Items
    * Search over 115,000 menu items from over 800 fast food and chain restaurants such as McDonalds Big Mac or Starbucks Mocha.
    * @param query The search query. 
    * @param minCalories The minimum number of calories the menu item must have. (optional)
    * @param maxCalories The maximum number of calories the menu item can have. (optional)
    * @param minCarbs The minimum number of carbohydrates in grams the menu item must have. (optional)
    * @param maxCarbs The maximum number of carbohydrates in grams the menu item can have. (optional)
    * @param minProtein The minimum number of protein in grams the menu item must have. (optional)
    * @param maxProtein The maximum number of protein in grams the menu item can have. (optional)
    * @param minFat The minimum number of fat in grams the menu item must have. (optional)
    * @param maxFat The maximum number of fat in grams the menu item can have. (optional)
    * @param offset The offset number for paging (between 0 and 990). (optional)
    * @param number The number of expected results (between 1 and 10). (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun searchMenuItems(query: kotlin.String, minCalories: java.math.BigDecimal?, maxCalories: java.math.BigDecimal?, minCarbs: java.math.BigDecimal?, maxCarbs: java.math.BigDecimal?, minProtein: java.math.BigDecimal?, maxProtein: java.math.BigDecimal?, minFat: java.math.BigDecimal?, maxFat: java.math.BigDecimal?, offset: java.math.BigDecimal?, number: java.math.BigDecimal?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("query" to listOf("$query"), "minCalories" to listOf("$minCalories"), "maxCalories" to listOf("$maxCalories"), "minCarbs" to listOf("$minCarbs"), "maxCarbs" to listOf("$maxCarbs"), "minProtein" to listOf("$minProtein"), "maxProtein" to listOf("$maxProtein"), "minFat" to listOf("$minFat"), "maxFat" to listOf("$maxFat"), "offset" to listOf("$offset"), "number" to listOf("$number"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/food/menuItems/search",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Search Recipes
    * Our recipe API includes over 360,000 recipes as well as an open source recipe database. Consider using the \&quot;Search Recipes Complex\&quot; endpoint for much more flexibility.
    * @param query The (natural language) recipe search query. 
    * @param cuisine The cuisine(s) of the recipes. One or more comma separated. See a full list of supported cuisines. (optional)
    * @param diet The diet to which the recipes must be compliant. See a full list of supported diets. (optional)
    * @param excludeIngredients An comma-separated list of ingredients or ingredient types that must not be contained in the recipes. (optional)
    * @param intolerances A comma-separated list of intolerances. All found recipes must not have ingredients that could cause problems for people with one of the given tolerances. See a full list of supported intolerances. (optional)
    * @param offset The number of results to skip (between 0 and 900). (optional)
    * @param number The number of results to return (between 1 and 100). (optional)
    * @param limitLicense Whether the recipes should have an open license that allows for displaying with proper attribution. (optional)
    * @param instructionsRequired Whether the recipes must have instructions. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun searchRecipes(query: kotlin.String, cuisine: kotlin.String?, diet: kotlin.String?, excludeIngredients: kotlin.String?, intolerances: kotlin.String?, offset: java.math.BigDecimal?, number: java.math.BigDecimal?, limitLicense: kotlin.Boolean?, instructionsRequired: kotlin.Boolean?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("query" to listOf("$query"), "cuisine" to listOf("$cuisine"), "diet" to listOf("$diet"), "excludeIngredients" to listOf("$excludeIngredients"), "intolerances" to listOf("$intolerances"), "offset" to listOf("$offset"), "number" to listOf("$number"), "limitLicense" to listOf("$limitLicense"), "instructionsRequired" to listOf("$instructionsRequired"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/search",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Search Recipes by Ingredients
    * Find recipes that use as many of the given ingredients as possible and have as little as possible missing ingredients. This is a \&quot;what&#39;s in your fridge\&quot; API endpoint.
    * @param ingredients A comma-separated list of ingredients that the recipes should contain. 
    * @param number The maximal number of recipes to return (between 1 and 100). Defaults to 10. (optional)
    * @param limitLicense Whether the recipes should have an open license that allows for displaying with proper attribution. (optional)
    * @param ranking Whether to maximize used ingredients (1) or minimize missing ingredients (2) first. (optional)
    * @param ignorePantry Whether to ignore pantry ingredients such as water, salt, flour etc. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun searchRecipesByIngredients(ingredients: kotlin.String, number: java.math.BigDecimal?, limitLicense: kotlin.Boolean?, ranking: java.math.BigDecimal?, ignorePantry: kotlin.Boolean?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("ingredients" to listOf("$ingredients"), "number" to listOf("$number"), "limitLicense" to listOf("$limitLicense"), "ranking" to listOf("$ranking"), "ignorePantry" to listOf("$ignorePantry"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/findByIngredients",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Search Recipes by Nutrients
    * Find a set of recipes that adhere to the given nutritional limits. All the returned recipes will have macro nutrients within the calories, protein, fat, and carbohydrate limits.
    * @param minCarbs The minimum number of carbohydrates in grams the recipe must have. (optional)
    * @param maxCarbs The maximum number of carbohydrates in grams the recipe can have. (optional)
    * @param minProtein The minimum number of protein in grams the recipe must have. (optional)
    * @param maxProtein The maximum number of protein in grams the recipe can have. (optional)
    * @param minCalories The minimum number of calories the recipe must have. (optional)
    * @param maxCalories The maximum number of calories the recipe can have. (optional)
    * @param minFat The minimum number of fat in grams the recipe must have. (optional)
    * @param maxFat The maximum number of fat in grams the recipe can have. (optional)
    * @param minAlcohol The minimum number of alcohol in grams the recipe must have. (optional)
    * @param maxAlcohol The maximum number of alcohol in grams the recipe must have. (optional)
    * @param minCaffeine The minimum number of milligrams of caffeine the recipe must have. (optional)
    * @param maxCaffeine The maximum number of alcohol in grams the recipe must have. (optional)
    * @param minCopper The minimum number of copper in milligrams the recipe must have. (optional)
    * @param maxCopper The maximum number of copper in milligrams the recipe must have. (optional)
    * @param minCalcium The minimum number of calcium in milligrams the recipe must have. (optional)
    * @param maxCalcium The maximum number of calcium in milligrams the recipe must have. (optional)
    * @param minCholine The minimum number of choline in milligrams the recipe must have. (optional)
    * @param maxCholine The maximum number of choline in milligrams the recipe can have. (optional)
    * @param minCholesterol The minimum number of cholesterol in milligrams the recipe must have. (optional)
    * @param maxCholesterol The maximum number of cholesterol in milligrams the recipe must have. (optional)
    * @param minFluoride The minimum number of fluoride in milligrams the recipe must have. (optional)
    * @param maxFluoride The maximum number of fluoride in milligrams the recipe can have. (optional)
    * @param minSaturatedFat The minimum number of saturated fat in grams the recipe must have. (optional)
    * @param maxSaturatedFat The maximum number of saturated fat in grams the recipe must have. (optional)
    * @param minVitaminA The minimum number of Vitamin A in IU the recipe must have. (optional)
    * @param maxVitaminA The maximum number of Vitamin A in IU the recipe must have. (optional)
    * @param minVitaminC The minimum number of Vitamin C milligrams the recipe must have. (optional)
    * @param maxVitaminC The maximum number of Vitamin C in milligrams the recipe can have. (optional)
    * @param minVitaminD The minimum number of Vitamin D in micrograms the recipe must have. (optional)
    * @param maxVitaminD The maximum number of Vitamin D in micrograms the recipe must have. (optional)
    * @param minVitaminE The minimum number of Vitamin E in milligrams the recipe must have. (optional)
    * @param maxVitaminE The maximum number of Vitamin E in milligrams the recipe must have. (optional)
    * @param minVitaminK The minimum number of Vitamin K in micrograms the recipe must have. (optional)
    * @param maxVitaminK The maximum number of Vitamin K in micrograms the recipe must have. (optional)
    * @param minVitaminB1 The minimum number of Vitamin B1 in milligrams the recipe must have. (optional)
    * @param maxVitaminB1 The maximum number of Vitamin B1 in milligrams the recipe must have. (optional)
    * @param minVitaminB2 The minimum number of Vitamin B2 in milligrams the recipe must have. (optional)
    * @param maxVitaminB2 The maximum number of Vitamin B2 in milligrams the recipe must have. (optional)
    * @param minVitaminB5 The minimum number of Vitamin B5 in milligrams the recipe must have. (optional)
    * @param maxVitaminB5 The maximum number of Vitamin B5 in milligrams the recipe can have. (optional)
    * @param minVitaminB3 The minimum number of Vitamin B3 in milligrams the recipe must have. (optional)
    * @param maxVitaminB3 The maximum number of Vitamin B3 in milligrams the recipe can have. (optional)
    * @param minVitaminB6 The minimum number of Vitamin B6 in milligrams the recipe must have. (optional)
    * @param maxVitaminB6 The maximum number of Vitamin B6 in milligrams the recipe can have. (optional)
    * @param minVitaminB12 The minimum number of Vitamin B12 in micrograms the recipe must have. (optional)
    * @param maxVitaminB12 The maximum number of Vitamin B12 in micrograms the recipe must have. (optional)
    * @param minFiber The minimum number of fiber in grams the recipe must have. (optional)
    * @param maxFiber The maximum number of fiber in grams the recipe must have. (optional)
    * @param minFolate The minimum number of folate in grams the recipe must have. (optional)
    * @param maxFolate The maximum number of folate in grams the recipe must have. (optional)
    * @param minFolicAcid The minimum number of folic acid in grams the recipe must have. (optional)
    * @param maxFolicAcid The maximum number of folic acid in grams the recipe must have. (optional)
    * @param minIodine The minimum number of Iodine in grams the recipe must have. (optional)
    * @param maxIodine The maximum number of iodine in grams the recipe must have. (optional)
    * @param minIron The minimum number of iron in milligrams the recipe must have. (optional)
    * @param maxIron The maximum number of iron in milligrams the recipe can have. (optional)
    * @param minMagnesium The minimum number of magnesium in milligrams the recipe must have. (optional)
    * @param maxMagnesium The maximum number of magnesium in milligrams the recipe can have. (optional)
    * @param minManganese The minimum number of manganese in milligrams the recipe must have. (optional)
    * @param maxManganese The maximum number of manganese in milligrams the recipe can have. (optional)
    * @param minPhosphorus The minimum number of phosphorus in milligrams the recipe must have. (optional)
    * @param maxPhosphorus The maximum number of phosphorus in milligrams the recipe can have. (optional)
    * @param minPotassium The minimum number of potassium in milligrams the recipe must have. (optional)
    * @param maxPotassium The maximum number of potassium in milligrams the recipe can have. (optional)
    * @param minSelenium The minimum number of selenium in grams the recipe must have. (optional)
    * @param maxSelenium The maximum number of selenium in grams the recipe must have. (optional)
    * @param minSodium The minimum number of sodium in milligrams the recipe must have. (optional)
    * @param maxSodium The maximum number of sodium in milligrams the recipe must have. (optional)
    * @param minSugar The minimum number of sugar in grams the recipe must have. (optional)
    * @param maxSugar The maximum number of sugar in grams the recipe must have. (optional)
    * @param minZinc The minimum number of zinc in milligrams the recipe must have. (optional)
    * @param maxZinc The maximum number of zinc in milligrams the recipe can have. (optional)
    * @param offset The offset number for paging (between 0 and 990). (optional)
    * @param number The number of expected results (between 1 and 100). (optional)
    * @param random If true, every request will give you a random set of recipes within the requested limits. (optional)
    * @param limitLicense Whether the recipes should have an open license that allows for displaying with proper attribution. (optional)
    * @return kotlin.Any
    */
    @Suppress("UNCHECKED_CAST")
    fun searchRecipesByNutrients(minCarbs: java.math.BigDecimal?, maxCarbs: java.math.BigDecimal?, minProtein: java.math.BigDecimal?, maxProtein: java.math.BigDecimal?, minCalories: java.math.BigDecimal?, maxCalories: java.math.BigDecimal?, minFat: java.math.BigDecimal?, maxFat: java.math.BigDecimal?, minAlcohol: java.math.BigDecimal?, maxAlcohol: java.math.BigDecimal?, minCaffeine: java.math.BigDecimal?, maxCaffeine: java.math.BigDecimal?, minCopper: java.math.BigDecimal?, maxCopper: java.math.BigDecimal?, minCalcium: java.math.BigDecimal?, maxCalcium: java.math.BigDecimal?, minCholine: java.math.BigDecimal?, maxCholine: java.math.BigDecimal?, minCholesterol: java.math.BigDecimal?, maxCholesterol: java.math.BigDecimal?, minFluoride: java.math.BigDecimal?, maxFluoride: java.math.BigDecimal?, minSaturatedFat: java.math.BigDecimal?, maxSaturatedFat: java.math.BigDecimal?, minVitaminA: java.math.BigDecimal?, maxVitaminA: java.math.BigDecimal?, minVitaminC: java.math.BigDecimal?, maxVitaminC: java.math.BigDecimal?, minVitaminD: java.math.BigDecimal?, maxVitaminD: java.math.BigDecimal?, minVitaminE: java.math.BigDecimal?, maxVitaminE: java.math.BigDecimal?, minVitaminK: java.math.BigDecimal?, maxVitaminK: java.math.BigDecimal?, minVitaminB1: java.math.BigDecimal?, maxVitaminB1: java.math.BigDecimal?, minVitaminB2: java.math.BigDecimal?, maxVitaminB2: java.math.BigDecimal?, minVitaminB5: java.math.BigDecimal?, maxVitaminB5: java.math.BigDecimal?, minVitaminB3: java.math.BigDecimal?, maxVitaminB3: java.math.BigDecimal?, minVitaminB6: java.math.BigDecimal?, maxVitaminB6: java.math.BigDecimal?, minVitaminB12: java.math.BigDecimal?, maxVitaminB12: java.math.BigDecimal?, minFiber: java.math.BigDecimal?, maxFiber: java.math.BigDecimal?, minFolate: java.math.BigDecimal?, maxFolate: java.math.BigDecimal?, minFolicAcid: java.math.BigDecimal?, maxFolicAcid: java.math.BigDecimal?, minIodine: java.math.BigDecimal?, maxIodine: java.math.BigDecimal?, minIron: java.math.BigDecimal?, maxIron: java.math.BigDecimal?, minMagnesium: java.math.BigDecimal?, maxMagnesium: java.math.BigDecimal?, minManganese: java.math.BigDecimal?, maxManganese: java.math.BigDecimal?, minPhosphorus: java.math.BigDecimal?, maxPhosphorus: java.math.BigDecimal?, minPotassium: java.math.BigDecimal?, maxPotassium: java.math.BigDecimal?, minSelenium: java.math.BigDecimal?, maxSelenium: java.math.BigDecimal?, minSodium: java.math.BigDecimal?, maxSodium: java.math.BigDecimal?, minSugar: java.math.BigDecimal?, maxSugar: java.math.BigDecimal?, minZinc: java.math.BigDecimal?, maxZinc: java.math.BigDecimal?, offset: java.math.BigDecimal?, number: java.math.BigDecimal?, random: kotlin.Boolean?, limitLicense: kotlin.Boolean?) : kotlin.Any {
        val localVariableBody: kotlin.Any? = null
        val localVariableQuery: MultiValueMap = mapOf("minCarbs" to listOf("$minCarbs"), "maxCarbs" to listOf("$maxCarbs"), "minProtein" to listOf("$minProtein"), "maxProtein" to listOf("$maxProtein"), "minCalories" to listOf("$minCalories"), "maxCalories" to listOf("$maxCalories"), "minFat" to listOf("$minFat"), "maxFat" to listOf("$maxFat"), "minAlcohol" to listOf("$minAlcohol"), "maxAlcohol" to listOf("$maxAlcohol"), "minCaffeine" to listOf("$minCaffeine"), "maxCaffeine" to listOf("$maxCaffeine"), "minCopper" to listOf("$minCopper"), "maxCopper" to listOf("$maxCopper"), "minCalcium" to listOf("$minCalcium"), "maxCalcium" to listOf("$maxCalcium"), "minCholine" to listOf("$minCholine"), "maxCholine" to listOf("$maxCholine"), "minCholesterol" to listOf("$minCholesterol"), "maxCholesterol" to listOf("$maxCholesterol"), "minFluoride" to listOf("$minFluoride"), "maxFluoride" to listOf("$maxFluoride"), "minSaturatedFat" to listOf("$minSaturatedFat"), "maxSaturatedFat" to listOf("$maxSaturatedFat"), "minVitaminA" to listOf("$minVitaminA"), "maxVitaminA" to listOf("$maxVitaminA"), "minVitaminC" to listOf("$minVitaminC"), "maxVitaminC" to listOf("$maxVitaminC"), "minVitaminD" to listOf("$minVitaminD"), "maxVitaminD" to listOf("$maxVitaminD"), "minVitaminE" to listOf("$minVitaminE"), "maxVitaminE" to listOf("$maxVitaminE"), "minVitaminK" to listOf("$minVitaminK"), "maxVitaminK" to listOf("$maxVitaminK"), "minVitaminB1" to listOf("$minVitaminB1"), "maxVitaminB1" to listOf("$maxVitaminB1"), "minVitaminB2" to listOf("$minVitaminB2"), "maxVitaminB2" to listOf("$maxVitaminB2"), "minVitaminB5" to listOf("$minVitaminB5"), "maxVitaminB5" to listOf("$maxVitaminB5"), "minVitaminB3" to listOf("$minVitaminB3"), "maxVitaminB3" to listOf("$maxVitaminB3"), "minVitaminB6" to listOf("$minVitaminB6"), "maxVitaminB6" to listOf("$maxVitaminB6"), "minVitaminB12" to listOf("$minVitaminB12"), "maxVitaminB12" to listOf("$maxVitaminB12"), "minFiber" to listOf("$minFiber"), "maxFiber" to listOf("$maxFiber"), "minFolate" to listOf("$minFolate"), "maxFolate" to listOf("$maxFolate"), "minFolicAcid" to listOf("$minFolicAcid"), "maxFolicAcid" to listOf("$maxFolicAcid"), "minIodine" to listOf("$minIodine"), "maxIodine" to listOf("$maxIodine"), "minIron" to listOf("$minIron"), "maxIron" to listOf("$maxIron"), "minMagnesium" to listOf("$minMagnesium"), "maxMagnesium" to listOf("$maxMagnesium"), "minManganese" to listOf("$minManganese"), "maxManganese" to listOf("$maxManganese"), "minPhosphorus" to listOf("$minPhosphorus"), "maxPhosphorus" to listOf("$maxPhosphorus"), "minPotassium" to listOf("$minPotassium"), "maxPotassium" to listOf("$maxPotassium"), "minSelenium" to listOf("$minSelenium"), "maxSelenium" to listOf("$maxSelenium"), "minSodium" to listOf("$minSodium"), "maxSodium" to listOf("$maxSodium"), "minSugar" to listOf("$minSugar"), "maxSugar" to listOf("$maxSugar"), "minZinc" to listOf("$minZinc"), "maxZinc" to listOf("$maxZinc"), "offset" to listOf("$offset"), "number" to listOf("$number"), "random" to listOf("$random"), "limitLicense" to listOf("$limitLicense"))
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/recipes/findByNutrients",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.Any>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }

    /**
    * Search Recipes Complex
    * Search through hundreds of thousands of recipes using advanced filtering and ranking. NOTE: Since this method combines searching by query, by ingredients, and by nutrients in one endpoint.
    * @param query The (natural language) recipe search query. 
    * @param cuisine The cuisine(s) of the recipes. One or more comma separated (will be iterpreted as &#39;OR&#39;). See a full list of supported cuisines. (optional)
    * @param excludeCuisine The cuisine(s) the recipes must not match. One or more comma separated (will be iterpreted as &#39;AND&#39;). See a full list of supported cuisines. (optional)
    * @param diet The diet to which the recipes must be compliant. See a full list of supported diets. (optional)
    * @param intolerances A comma-separated list of intolerances. All found recipes must not have ingredients that could cause problems for people with one of the given tolerances. See a full list of supported intolerances. (optional)
    * @param equipment The equipment required. Multiple values will be interpreted as &#39;or&#39;. For example, value could be \&quot;blender, frying pan, bowl\&quot;. (optional)
    * @param includeIngredients A comma-separated list of ingredients that should/must be contained in the recipe. (optional)
    * @param excludeIngredients A comma-separated list of ingredients or ingredient types that must not be contained in the recipes. (optional)
    * @param type The type of the recipes. See a full list of supported meal types. (optional)
    * @param instructionsRequired Whether the recipes must have instructions. (optional)
    * @param fillIngredients Add information about the used and missing ingredients in each recipe. (optional)
    * @param addRecipeInformation If set to true, you get more information about the recipes returned. This saves the calls to get recipe information. (optional)
    * @param author The username of the recipe author. (optional)
    * @param tags User defined tags that have to match. (optional)
    * @param titleMatch A text that has to match in the title of the recipes. (optional)
    * @param sort The strategy to sort recipes by. See a full list of supported sorting options. (optional)
    * @param sortDirection The direction in which to sort. Must be either &#39;asc&#39; (ascending) or &#39;desc&#39; (descending). (optional)
    * @param minCarbs The minimum number of carbohydrates in grams the recipe must have. (optional)
    * @param maxCarbs The maximum number of carbohydrates in grams the recipe can have. (optional)
    * @param minProtein The minimum number of protein in grams the recipe must have. (optional)
    * @param maxProtein The maximum number of protein in grams the recipe can have. (optional)
    * @param minCalories The minimum number of calories the recipe must have. (optional)
    * @param maxCalories The maximum number of calories the recipe can have. (optional)
    * @param minFat The minimum number of fat in grams the recipe must have. (optional)
    * @param maxFat The maximum number of fat in grams the recipe can have. (optional)
    * @param minAlcohol The minimum number of alcohol in grams the recipe must have. (optional)
    * @param maxAlcohol The maximum number of alcohol in grams the recipe must have. (optional)
    * @param minCaffeine The minimum number of milligrams of caffeine the recipe must have. (optional)
    * @param maxCaffeine The maximum number of alcohol in grams the recipe must have. (optional)
    * @param minCopper The minimum number of copper in milligrams the recipe must have. (optional)
    * @param maxCopper The maximum number of copper in milligrams the recipe must have. (optional)
    * @param minCalcium The minimum number of calcium in milligrams the recipe must have. (optional)
    * @param maxCalcium The maximum number of calcium in milligrams the recipe must have. (optional)
    * @param minCholine The minimum number of choline in milligrams the recipe must have. (optional)
    * @param maxCholine The maximum number of choline in milligrams the recipe can have. (optional)
    * @param minCholesterol The minimum number of cholesterol in milligrams the recipe must have. (optional)
    * @param maxCholesterol The maximum number of cholesterol in milligrams the recipe must have. (optional)
    * @param minFluoride The minimum number of fluoride in milligrams the recipe must have. (optional)
    * @param maxFluoride The maximum number of fluoride in milligrams the recipe can have. (optional)
    * @param minSaturatedFat The minimum number of saturated fat in grams the recipe must have. (optional)
    * @param maxSaturatedFat The maximum number of saturated fat in grams the recipe must have. (optional)
    * @param minVitaminA The minimum number of Vitamin A in IU the recipe must have. (optional)
    * @param maxVitaminA The maximum number of Vitamin A in IU the recipe must have. (optional)
    * @param minVitaminC The minimum number of Vitamin C milligrams the recipe must have. (optional)
    * @param maxVitaminC The maximum number of Vitamin C in milligrams the recipe can have. (optional)
    * @param minVitaminD The minimum number of Vitamin D in micrograms the recipe must have. (optional)
    * @param maxVitaminD The maximum number of Vitamin D in micrograms the recipe must have. (optional)
    * @param minVitaminE The minimum number of Vitamin E in milligrams the recipe must have. (optional)
    * @param maxVitaminE The maximum number of Vitamin E in milligrams the recipe must have. (optional)
    * @param minVitaminK The minimum number of Vitamin K in micrograms the recipe must have. (optional)
    * @param maxVitaminK The maximum number of Vitamin K in micrograms the recipe must have. (optional)
    * @param minVitaminB1 The minimum number of Vitamin B1 in milligrams the recipe must have. (optional)
    * @param maxVitaminB1 The maximum number of Vitamin B1 in milligrams the recipe must have. (optional)
    * @param minVitaminB2 The minimum number of Vitamin B2 in milligrams the recipe must have. (optional)
    * @param maxVitaminB2 The maximum number of Vitamin B2 in milligrams the recipe must have. (optional)
    * @param minVitaminB5 The minimum number of Vitamin B5 in milligrams the recipe must have. (optional)
    * @param maxVitaminB5 The maximum number of Vitamin B5 in milligrams the recipe can have. (optional)
    * @param minVitaminB3 The minimum number of Vitamin B3 in milligrams the recipe must have. (optional)
    * @param maxVitaminB3 The maximum number of Vitamin B3 in milligrams the recipe can have. (optional)
    * @param minVitaminB6 The minimum number of Vitamin B6 in milligrams the recipe must have. (optional)
    * @param maxVitaminB6 The maximum number of Vitamin B6 in milligrams the recipe can have. (optional)
    * @param minVitaminB12 The minimum number of Vitamin B12 in micrograms the recipe must have. (optional)
    * @param maxVitaminB12 The maximum number of Vitamin B12 in micrograms the recipe must have. (optional)
[...]
