/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spoonacular

import java.io.IOException
import okhttp3.OkHttpClient
import okhttp3.HttpUrl

import com.spoonacular.client.model.AnalyzeARecipeSearchQuery200Response
import com.spoonacular.client.model.AnalyzeRecipeInstructions200Response
import com.spoonacular.client.model.AutocompleteRecipeSearch200ResponseInner
import com.spoonacular.client.model.ClassifyCuisine200Response
import com.spoonacular.client.model.ComputeGlycemicLoad200Response
import com.spoonacular.client.model.ComputeGlycemicLoadRequest
import com.spoonacular.client.model.ConvertAmounts200Response
import com.spoonacular.client.model.CreateRecipeCard200Response
import com.spoonacular.client.model.GetAnalyzedRecipeInstructions200Response
import com.spoonacular.client.model.GetRandomRecipes200Response
import com.spoonacular.client.model.GetRecipeEquipmentByID200Response
import com.spoonacular.client.model.GetRecipeInformation200Response
import com.spoonacular.client.model.GetRecipeInformationBulk200ResponseInner
import com.spoonacular.client.model.GetRecipeIngredientsByID200Response
import com.spoonacular.client.model.GetRecipeNutritionWidgetByID200Response
import com.spoonacular.client.model.GetRecipePriceBreakdownByID200Response
import com.spoonacular.client.model.GetRecipeTasteByID200Response
import com.spoonacular.client.model.GetSimilarRecipes200ResponseInner
import com.spoonacular.client.model.GuessNutritionByDishName200Response
import com.spoonacular.client.model.ParseIngredients200ResponseInner
import com.spoonacular.client.model.QuickAnswer200Response
import com.spoonacular.client.model.SearchRecipes200Response
import com.spoonacular.client.model.SearchRecipesByIngredients200ResponseInner
import com.spoonacular.client.model.SearchRecipesByNutrients200ResponseInner
import com.spoonacular.client.model.SummarizeRecipe200Response

import com.squareup.moshi.Json

import spoonacular.infrastructure.ApiClient
import spoonacular.infrastructure.ApiResponse
import spoonacular.infrastructure.ClientException
import spoonacular.infrastructure.ClientError
import spoonacular.infrastructure.ServerException
import spoonacular.infrastructure.ServerError
import spoonacular.infrastructure.MultiValueMap
import spoonacular.infrastructure.PartConfig
import spoonacular.infrastructure.RequestConfig
import spoonacular.infrastructure.RequestMethod
import spoonacular.infrastructure.ResponseType
import spoonacular.infrastructure.Success
import spoonacular.infrastructure.toMultiValue

class RecipesApi(basePath: kotlin.String = defaultBasePath, client: OkHttpClient = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.spoonacular.com")
        }
    }

    /**
     * Analyze a Recipe Search Query
     * Parse a recipe search query to find out its intention.
     * @param q The recipe search query.
     * @return AnalyzeARecipeSearchQuery200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyzeARecipeSearchQuery(q: kotlin.String) : AnalyzeARecipeSearchQuery200Response {
        val localVarResponse = analyzeARecipeSearchQueryWithHttpInfo(q = q)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyzeARecipeSearchQuery200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Analyze a Recipe Search Query
     * Parse a recipe search query to find out its intention.
     * @param q The recipe search query.
     * @return ApiResponse<AnalyzeARecipeSearchQuery200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyzeARecipeSearchQueryWithHttpInfo(q: kotlin.String) : ApiResponse<AnalyzeARecipeSearchQuery200Response?> {
        val localVariableConfig = analyzeARecipeSearchQueryRequestConfig(q = q)

        return request<Unit, AnalyzeARecipeSearchQuery200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyzeARecipeSearchQuery
     *
     * @param q The recipe search query.
     * @return RequestConfig
     */
    fun analyzeARecipeSearchQueryRequestConfig(q: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/queries/analyze",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter contentType
     */
     enum class ContentTypeAnalyzeRecipeInstructions(val value: kotlin.String) {
         @Json(name = "application/x-www-form-urlencoded") applicationSlashXMinusWwwMinusFormMinusUrlencoded("application/x-www-form-urlencoded"),
         @Json(name = "application/json") applicationSlashJson("application/json"),
         @Json(name = "multipart/form-data") multipartSlashFormMinusData("multipart/form-data")
     }

    /**
     * Analyze Recipe Instructions
     * This endpoint allows you to break down instructions into atomic steps. Furthermore, each step will contain the ingredients and equipment required. Additionally, all ingredients and equipment from the recipe&#39;s instructions will be extracted independently of the step they&#39;re used in.
     * @param contentType The content type. (optional)
     * @return AnalyzeRecipeInstructions200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyzeRecipeInstructions(contentType: ContentTypeAnalyzeRecipeInstructions? = null) : AnalyzeRecipeInstructions200Response {
        val localVarResponse = analyzeRecipeInstructionsWithHttpInfo(contentType = contentType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyzeRecipeInstructions200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Analyze Recipe Instructions
     * This endpoint allows you to break down instructions into atomic steps. Furthermore, each step will contain the ingredients and equipment required. Additionally, all ingredients and equipment from the recipe&#39;s instructions will be extracted independently of the step they&#39;re used in.
     * @param contentType The content type. (optional)
     * @return ApiResponse<AnalyzeRecipeInstructions200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyzeRecipeInstructionsWithHttpInfo(contentType: ContentTypeAnalyzeRecipeInstructions?) : ApiResponse<AnalyzeRecipeInstructions200Response?> {
        val localVariableConfig = analyzeRecipeInstructionsRequestConfig(contentType = contentType)

        return request<Unit, AnalyzeRecipeInstructions200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyzeRecipeInstructions
     *
     * @param contentType The content type. (optional)
     * @return RequestConfig
     */
    fun analyzeRecipeInstructionsRequestConfig(contentType: ContentTypeAnalyzeRecipeInstructions?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/x-www-form-urlencoded"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/recipes/analyzeInstructions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Autocomplete Recipe Search
     * Autocomplete a partial input to suggest possible recipe names.
     * @param query The (natural language) search query. (optional)
     * @param number The maximum number of items to return (between 1 and 100). Defaults to 10. (optional, default to 10)
     * @return kotlin.collections.Set<AutocompleteRecipeSearch200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun autocompleteRecipeSearch(query: kotlin.String? = null, number: kotlin.Int? = 10) : kotlin.collections.Set<AutocompleteRecipeSearch200ResponseInner> {
        val localVarResponse = autocompleteRecipeSearchWithHttpInfo(query = query, number = number)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Set<AutocompleteRecipeSearch200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Autocomplete Recipe Search
     * Autocomplete a partial input to suggest possible recipe names.
     * @param query The (natural language) search query. (optional)
     * @param number The maximum number of items to return (between 1 and 100). Defaults to 10. (optional, default to 10)
     * @return ApiResponse<kotlin.collections.Set<AutocompleteRecipeSearch200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun autocompleteRecipeSearchWithHttpInfo(query: kotlin.String?, number: kotlin.Int?) : ApiResponse<kotlin.collections.Set<AutocompleteRecipeSearch200ResponseInner>?> {
        val localVariableConfig = autocompleteRecipeSearchRequestConfig(query = query, number = number)

        return request<Unit, kotlin.collections.Set<AutocompleteRecipeSearch200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation autocompleteRecipeSearch
     *
     * @param query The (natural language) search query. (optional)
     * @param number The maximum number of items to return (between 1 and 100). Defaults to 10. (optional, default to 10)
     * @return RequestConfig
     */
    fun autocompleteRecipeSearchRequestConfig(query: kotlin.String?, number: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (query != null) {
                    put("query", listOf(query.toString()))
                }
                if (number != null) {
                    put("number", listOf(number.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/autocomplete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter contentType
     */
     enum class ContentTypeClassifyCuisine(val value: kotlin.String) {
         @Json(name = "application/x-www-form-urlencoded") applicationSlashXMinusWwwMinusFormMinusUrlencoded("application/x-www-form-urlencoded"),
         @Json(name = "application/json") applicationSlashJson("application/json"),
         @Json(name = "multipart/form-data") multipartSlashFormMinusData("multipart/form-data")
     }

    /**
     * Classify Cuisine
     * Classify the recipe&#39;s cuisine.
     * @param contentType The content type. (optional)
     * @return ClassifyCuisine200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun classifyCuisine(contentType: ContentTypeClassifyCuisine? = null) : ClassifyCuisine200Response {
        val localVarResponse = classifyCuisineWithHttpInfo(contentType = contentType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ClassifyCuisine200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Classify Cuisine
     * Classify the recipe&#39;s cuisine.
     * @param contentType The content type. (optional)
     * @return ApiResponse<ClassifyCuisine200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun classifyCuisineWithHttpInfo(contentType: ContentTypeClassifyCuisine?) : ApiResponse<ClassifyCuisine200Response?> {
        val localVariableConfig = classifyCuisineRequestConfig(contentType = contentType)

        return request<Unit, ClassifyCuisine200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation classifyCuisine
     *
     * @param contentType The content type. (optional)
     * @return RequestConfig
     */
    fun classifyCuisineRequestConfig(contentType: ContentTypeClassifyCuisine?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/x-www-form-urlencoded"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/recipes/cuisine",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter language
     */
     enum class LanguageComputeGlycemicLoad(val value: kotlin.String) {
         @Json(name = "en") en("en"),
         @Json(name = "de") de("de")
     }

    /**
     * Compute Glycemic Load
     * Retrieve the glycemic index for a list of ingredients and compute the individual and total glycemic load.
     * @param computeGlycemicLoadRequest 
     * @param language The language of the input. Either &#39;en&#39; or &#39;de&#39;. (optional)
     * @return ComputeGlycemicLoad200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun computeGlycemicLoad(computeGlycemicLoadRequest: ComputeGlycemicLoadRequest, language: LanguageComputeGlycemicLoad? = null) : ComputeGlycemicLoad200Response {
        val localVarResponse = computeGlycemicLoadWithHttpInfo(computeGlycemicLoadRequest = computeGlycemicLoadRequest, language = language)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ComputeGlycemicLoad200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Compute Glycemic Load
     * Retrieve the glycemic index for a list of ingredients and compute the individual and total glycemic load.
     * @param computeGlycemicLoadRequest 
     * @param language The language of the input. Either &#39;en&#39; or &#39;de&#39;. (optional)
     * @return ApiResponse<ComputeGlycemicLoad200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun computeGlycemicLoadWithHttpInfo(computeGlycemicLoadRequest: ComputeGlycemicLoadRequest, language: LanguageComputeGlycemicLoad?) : ApiResponse<ComputeGlycemicLoad200Response?> {
        val localVariableConfig = computeGlycemicLoadRequestConfig(computeGlycemicLoadRequest = computeGlycemicLoadRequest, language = language)

        return request<ComputeGlycemicLoadRequest, ComputeGlycemicLoad200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation computeGlycemicLoad
     *
     * @param computeGlycemicLoadRequest 
     * @param language The language of the input. Either &#39;en&#39; or &#39;de&#39;. (optional)
     * @return RequestConfig
     */
    fun computeGlycemicLoadRequestConfig(computeGlycemicLoadRequest: ComputeGlycemicLoadRequest, language: LanguageComputeGlycemicLoad?) : RequestConfig<ComputeGlycemicLoadRequest> {
        val localVariableBody = computeGlycemicLoadRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (language != null) {
                    put("language", listOf(language.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/food/ingredients/glycemicLoad",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Convert Amounts
     * Convert amounts like \&quot;2 cups of flour to grams\&quot;.
     * @param ingredientName The ingredient which you want to convert.
     * @param sourceAmount The amount from which you want to convert, e.g. the 2.5 in \&quot;2.5 cups of flour to grams\&quot;.
     * @param sourceUnit The unit from which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
     * @param targetUnit The unit to which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
     * @return ConvertAmounts200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun convertAmounts(ingredientName: kotlin.String, sourceAmount: java.math.BigDecimal, sourceUnit: kotlin.String, targetUnit: kotlin.String) : ConvertAmounts200Response {
        val localVarResponse = convertAmountsWithHttpInfo(ingredientName = ingredientName, sourceAmount = sourceAmount, sourceUnit = sourceUnit, targetUnit = targetUnit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConvertAmounts200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Convert Amounts
     * Convert amounts like \&quot;2 cups of flour to grams\&quot;.
     * @param ingredientName The ingredient which you want to convert.
     * @param sourceAmount The amount from which you want to convert, e.g. the 2.5 in \&quot;2.5 cups of flour to grams\&quot;.
     * @param sourceUnit The unit from which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
     * @param targetUnit The unit to which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
     * @return ApiResponse<ConvertAmounts200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun convertAmountsWithHttpInfo(ingredientName: kotlin.String, sourceAmount: java.math.BigDecimal, sourceUnit: kotlin.String, targetUnit: kotlin.String) : ApiResponse<ConvertAmounts200Response?> {
        val localVariableConfig = convertAmountsRequestConfig(ingredientName = ingredientName, sourceAmount = sourceAmount, sourceUnit = sourceUnit, targetUnit = targetUnit)

        return request<Unit, ConvertAmounts200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation convertAmounts
     *
     * @param ingredientName The ingredient which you want to convert.
     * @param sourceAmount The amount from which you want to convert, e.g. the 2.5 in \&quot;2.5 cups of flour to grams\&quot;.
     * @param sourceUnit The unit from which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
     * @param targetUnit The unit to which you want to convert, e.g. the grams in \&quot;2.5 cups of flour to grams\&quot;. You can also use \&quot;piece\&quot;, e.g. \&quot;3.4 oz tomatoes to piece\&quot;
     * @return RequestConfig
     */
    fun convertAmountsRequestConfig(ingredientName: kotlin.String, sourceAmount: java.math.BigDecimal, sourceUnit: kotlin.String, targetUnit: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("ingredientName", listOf(ingredientName.toString()))
                put("sourceAmount", listOf(sourceAmount.toString()))
                put("sourceUnit", listOf(sourceUnit.toString()))
                put("targetUnit", listOf(targetUnit.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/convert",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter contentType
     */
     enum class ContentTypeCreateRecipeCard(val value: kotlin.String) {
         @Json(name = "application/x-www-form-urlencoded") applicationSlashXMinusWwwMinusFormMinusUrlencoded("application/x-www-form-urlencoded"),
         @Json(name = "application/json") applicationSlashJson("application/json"),
         @Json(name = "multipart/form-data") multipartSlashFormMinusData("multipart/form-data")
     }

    /**
     * Create Recipe Card
     * Generate a recipe card for a recipe.
     * @param contentType The content type. (optional)
     * @return CreateRecipeCard200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createRecipeCard(contentType: ContentTypeCreateRecipeCard? = null) : CreateRecipeCard200Response {
        val localVarResponse = createRecipeCardWithHttpInfo(contentType = contentType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateRecipeCard200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create Recipe Card
     * Generate a recipe card for a recipe.
     * @param contentType The content type. (optional)
     * @return ApiResponse<CreateRecipeCard200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createRecipeCardWithHttpInfo(contentType: ContentTypeCreateRecipeCard?) : ApiResponse<CreateRecipeCard200Response?> {
        val localVariableConfig = createRecipeCardRequestConfig(contentType = contentType)

        return request<Unit, CreateRecipeCard200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createRecipeCard
     *
     * @param contentType The content type. (optional)
     * @return RequestConfig
     */
    fun createRecipeCardRequestConfig(contentType: ContentTypeCreateRecipeCard?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        localVariableHeaders["Content-Type"] = "multipart/form-data"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/recipes/visualizeRecipe",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Equipment by ID Image
     * Visualize a recipe&#39;s equipment list as an image.
     * @param id The recipe id.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun equipmentByIDImage(id: java.math.BigDecimal) : kotlin.Any {
        val localVarResponse = equipmentByIDImageWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Equipment by ID Image
     * Visualize a recipe&#39;s equipment list as an image.
     * @param id The recipe id.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun equipmentByIDImageWithHttpInfo(id: java.math.BigDecimal) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = equipmentByIDImageRequestConfig(id = id)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation equipmentByIDImage
     *
     * @param id The recipe id.
     * @return RequestConfig
     */
    fun equipmentByIDImageRequestConfig(id: java.math.BigDecimal) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/{id}/equipmentWidget.png".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Extract Recipe from Website
     * This endpoint lets you extract recipe data such as title, ingredients, and instructions from any properly formatted Website.
     * @param url The URL of the recipe page.
     * @param forceExtraction If true, the extraction will be triggered whether we already know the recipe or not. Use this only if information is missing as this operation is slower. (optional)
     * @param analyze If true, the recipe will be analyzed and classified resolving in more data such as cuisines, dish types, and more. (optional)
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @param includeTaste Whether taste data should be added to correctly parsed ingredients. (optional, default to false)
     * @return GetRecipeInformation200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun extractRecipeFromWebsite(url: kotlin.String, forceExtraction: kotlin.Boolean? = null, analyze: kotlin.Boolean? = null, includeNutrition: kotlin.Boolean? = false, includeTaste: kotlin.Boolean? = false) : GetRecipeInformation200Response {
        val localVarResponse = extractRecipeFromWebsiteWithHttpInfo(url = url, forceExtraction = forceExtraction, analyze = analyze, includeNutrition = includeNutrition, includeTaste = includeTaste)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetRecipeInformation200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Extract Recipe from Website
     * This endpoint lets you extract recipe data such as title, ingredients, and instructions from any properly formatted Website.
     * @param url The URL of the recipe page.
     * @param forceExtraction If true, the extraction will be triggered whether we already know the recipe or not. Use this only if information is missing as this operation is slower. (optional)
     * @param analyze If true, the recipe will be analyzed and classified resolving in more data such as cuisines, dish types, and more. (optional)
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @param includeTaste Whether taste data should be added to correctly parsed ingredients. (optional, default to false)
     * @return ApiResponse<GetRecipeInformation200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun extractRecipeFromWebsiteWithHttpInfo(url: kotlin.String, forceExtraction: kotlin.Boolean?, analyze: kotlin.Boolean?, includeNutrition: kotlin.Boolean?, includeTaste: kotlin.Boolean?) : ApiResponse<GetRecipeInformation200Response?> {
        val localVariableConfig = extractRecipeFromWebsiteRequestConfig(url = url, forceExtraction = forceExtraction, analyze = analyze, includeNutrition = includeNutrition, includeTaste = includeTaste)

        return request<Unit, GetRecipeInformation200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation extractRecipeFromWebsite
     *
     * @param url The URL of the recipe page.
     * @param forceExtraction If true, the extraction will be triggered whether we already know the recipe or not. Use this only if information is missing as this operation is slower. (optional)
     * @param analyze If true, the recipe will be analyzed and classified resolving in more data such as cuisines, dish types, and more. (optional)
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @param includeTaste Whether taste data should be added to correctly parsed ingredients. (optional, default to false)
     * @return RequestConfig
     */
    fun extractRecipeFromWebsiteRequestConfig(url: kotlin.String, forceExtraction: kotlin.Boolean?, analyze: kotlin.Boolean?, includeNutrition: kotlin.Boolean?, includeTaste: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("url", listOf(url.toString()))
                if (forceExtraction != null) {
                    put("forceExtraction", listOf(forceExtraction.toString()))
                }
                if (analyze != null) {
                    put("analyze", listOf(analyze.toString()))
                }
                if (includeNutrition != null) {
                    put("includeNutrition", listOf(includeNutrition.toString()))
                }
                if (includeTaste != null) {
                    put("includeTaste", listOf(includeTaste.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/extract",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get Analyzed Recipe Instructions
     * Get an analyzed breakdown of a recipe&#39;s instructions. Each step is enriched with the ingredients and equipment required.
     * @param id The item&#39;s id.
     * @param stepBreakdown Whether to break down the recipe steps even more. (optional)
     * @return GetAnalyzedRecipeInstructions200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAnalyzedRecipeInstructions(id: kotlin.Int, stepBreakdown: kotlin.Boolean? = null) : GetAnalyzedRecipeInstructions200Response {
        val localVarResponse = getAnalyzedRecipeInstructionsWithHttpInfo(id = id, stepBreakdown = stepBreakdown)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetAnalyzedRecipeInstructions200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Analyzed Recipe Instructions
     * Get an analyzed breakdown of a recipe&#39;s instructions. Each step is enriched with the ingredients and equipment required.
     * @param id The item&#39;s id.
     * @param stepBreakdown Whether to break down the recipe steps even more. (optional)
     * @return ApiResponse<GetAnalyzedRecipeInstructions200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAnalyzedRecipeInstructionsWithHttpInfo(id: kotlin.Int, stepBreakdown: kotlin.Boolean?) : ApiResponse<GetAnalyzedRecipeInstructions200Response?> {
        val localVariableConfig = getAnalyzedRecipeInstructionsRequestConfig(id = id, stepBreakdown = stepBreakdown)

        return request<Unit, GetAnalyzedRecipeInstructions200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAnalyzedRecipeInstructions
     *
     * @param id The item&#39;s id.
     * @param stepBreakdown Whether to break down the recipe steps even more. (optional)
     * @return RequestConfig
     */
    fun getAnalyzedRecipeInstructionsRequestConfig(id: kotlin.Int, stepBreakdown: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (stepBreakdown != null) {
                    put("stepBreakdown", listOf(stepBreakdown.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/{id}/analyzedInstructions".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get Random Recipes
     * Find random (popular) recipes. If you need to filter recipes by diet, nutrition etc. you might want to consider using the complex recipe search endpoint and set the sort request parameter to random.
     * @param limitLicense Whether the recipes should have an open license that allows display with proper attribution. (optional, default to true)
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @param includeTags A comma-separated list of tags that the random recipe(s) must adhere to. (optional)
     * @param excludeTags A comma-separated list of tags that the random recipe(s) must not adhere to. (optional)
     * @param number The maximum number of items to return (between 1 and 100). Defaults to 10. (optional, default to 10)
     * @return GetRandomRecipes200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getRandomRecipes(limitLicense: kotlin.Boolean? = true, includeNutrition: kotlin.Boolean? = false, includeTags: kotlin.String? = null, excludeTags: kotlin.String? = null, number: kotlin.Int? = 10) : GetRandomRecipes200Response {
        val localVarResponse = getRandomRecipesWithHttpInfo(limitLicense = limitLicense, includeNutrition = includeNutrition, includeTags = includeTags, excludeTags = excludeTags, number = number)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetRandomRecipes200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Random Recipes
     * Find random (popular) recipes. If you need to filter recipes by diet, nutrition etc. you might want to consider using the complex recipe search endpoint and set the sort request parameter to random.
     * @param limitLicense Whether the recipes should have an open license that allows display with proper attribution. (optional, default to true)
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @param includeTags A comma-separated list of tags that the random recipe(s) must adhere to. (optional)
     * @param excludeTags A comma-separated list of tags that the random recipe(s) must not adhere to. (optional)
     * @param number The maximum number of items to return (between 1 and 100). Defaults to 10. (optional, default to 10)
     * @return ApiResponse<GetRandomRecipes200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getRandomRecipesWithHttpInfo(limitLicense: kotlin.Boolean?, includeNutrition: kotlin.Boolean?, includeTags: kotlin.String?, excludeTags: kotlin.String?, number: kotlin.Int?) : ApiResponse<GetRandomRecipes200Response?> {
        val localVariableConfig = getRandomRecipesRequestConfig(limitLicense = limitLicense, includeNutrition = includeNutrition, includeTags = includeTags, excludeTags = excludeTags, number = number)

        return request<Unit, GetRandomRecipes200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getRandomRecipes
     *
     * @param limitLicense Whether the recipes should have an open license that allows display with proper attribution. (optional, default to true)
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @param includeTags A comma-separated list of tags that the random recipe(s) must adhere to. (optional)
     * @param excludeTags A comma-separated list of tags that the random recipe(s) must not adhere to. (optional)
     * @param number The maximum number of items to return (between 1 and 100). Defaults to 10. (optional, default to 10)
     * @return RequestConfig
     */
    fun getRandomRecipesRequestConfig(limitLicense: kotlin.Boolean?, includeNutrition: kotlin.Boolean?, includeTags: kotlin.String?, excludeTags: kotlin.String?, number: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limitLicense != null) {
                    put("limitLicense", listOf(limitLicense.toString()))
                }
                if (includeNutrition != null) {
                    put("includeNutrition", listOf(includeNutrition.toString()))
                }
                if (includeTags != null) {
                    put("include-tags", listOf(includeTags.toString()))
                }
                if (excludeTags != null) {
                    put("exclude-tags", listOf(excludeTags.toString()))
                }
                if (number != null) {
                    put("number", listOf(number.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/random",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Equipment by ID
     * Get a recipe&#39;s equipment list.
     * @param id The item&#39;s id.
     * @return GetRecipeEquipmentByID200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getRecipeEquipmentByID(id: kotlin.Int) : GetRecipeEquipmentByID200Response {
        val localVarResponse = getRecipeEquipmentByIDWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetRecipeEquipmentByID200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Equipment by ID
     * Get a recipe&#39;s equipment list.
     * @param id The item&#39;s id.
     * @return ApiResponse<GetRecipeEquipmentByID200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getRecipeEquipmentByIDWithHttpInfo(id: kotlin.Int) : ApiResponse<GetRecipeEquipmentByID200Response?> {
        val localVariableConfig = getRecipeEquipmentByIDRequestConfig(id = id)

        return request<Unit, GetRecipeEquipmentByID200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getRecipeEquipmentByID
     *
     * @param id The item&#39;s id.
     * @return RequestConfig
     */
    fun getRecipeEquipmentByIDRequestConfig(id: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/{id}/equipmentWidget.json".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get Recipe Information
     * Use a recipe id to get full information about a recipe, such as ingredients, nutrition, diet and allergen information, etc.
     * @param id The item&#39;s id.
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @return GetRecipeInformation200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getRecipeInformation(id: kotlin.Int, includeNutrition: kotlin.Boolean? = false) : GetRecipeInformation200Response {
        val localVarResponse = getRecipeInformationWithHttpInfo(id = id, includeNutrition = includeNutrition)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetRecipeInformation200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Recipe Information
     * Use a recipe id to get full information about a recipe, such as ingredients, nutrition, diet and allergen information, etc.
     * @param id The item&#39;s id.
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @return ApiResponse<GetRecipeInformation200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getRecipeInformationWithHttpInfo(id: kotlin.Int, includeNutrition: kotlin.Boolean?) : ApiResponse<GetRecipeInformation200Response?> {
        val localVariableConfig = getRecipeInformationRequestConfig(id = id, includeNutrition = includeNutrition)

        return request<Unit, GetRecipeInformation200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getRecipeInformation
     *
     * @param id The item&#39;s id.
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @return RequestConfig
     */
    fun getRecipeInformationRequestConfig(id: kotlin.Int, includeNutrition: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (includeNutrition != null) {
                    put("includeNutrition", listOf(includeNutrition.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/{id}/information".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get Recipe Information Bulk
     * Get information about multiple recipes at once. This is equivalent to calling the Get Recipe Information endpoint multiple times, but faster.
     * @param ids A comma-separated list of recipe ids.
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @return kotlin.collections.Set<GetRecipeInformationBulk200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getRecipeInformationBulk(ids: kotlin.String, includeNutrition: kotlin.Boolean? = false) : kotlin.collections.Set<GetRecipeInformationBulk200ResponseInner> {
        val localVarResponse = getRecipeInformationBulkWithHttpInfo(ids = ids, includeNutrition = includeNutrition)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Set<GetRecipeInformationBulk200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Recipe Information Bulk
     * Get information about multiple recipes at once. This is equivalent to calling the Get Recipe Information endpoint multiple times, but faster.
     * @param ids A comma-separated list of recipe ids.
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @return ApiResponse<kotlin.collections.Set<GetRecipeInformationBulk200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getRecipeInformationBulkWithHttpInfo(ids: kotlin.String, includeNutrition: kotlin.Boolean?) : ApiResponse<kotlin.collections.Set<GetRecipeInformationBulk200ResponseInner>?> {
        val localVariableConfig = getRecipeInformationBulkRequestConfig(ids = ids, includeNutrition = includeNutrition)

        return request<Unit, kotlin.collections.Set<GetRecipeInformationBulk200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getRecipeInformationBulk
     *
     * @param ids A comma-separated list of recipe ids.
     * @param includeNutrition Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings. (optional, default to false)
     * @return RequestConfig
     */
    fun getRecipeInformationBulkRequestConfig(ids: kotlin.String, includeNutrition: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("ids", listOf(ids.toString()))
                if (includeNutrition != null) {
                    put("includeNutrition", listOf(includeNutrition.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/informationBulk",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Ingredients by ID
     * Get a recipe&#39;s ingredient list.
     * @param id The item&#39;s id.
     * @return GetRecipeIngredientsByID200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getRecipeIngredientsByID(id: kotlin.Int) : GetRecipeIngredientsByID200Response {
        val localVarResponse = getRecipeIngredientsByIDWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetRecipeIngredientsByID200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Ingredients by ID
     * Get a recipe&#39;s ingredient list.
     * @param id The item&#39;s id.
     * @return ApiResponse<GetRecipeIngredientsByID200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getRecipeIngredientsByIDWithHttpInfo(id: kotlin.Int) : ApiResponse<GetRecipeIngredientsByID200Response?> {
        val localVariableConfig = getRecipeIngredientsByIDRequestConfig(id = id)

        return request<Unit, GetRecipeIngredientsByID200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getRecipeIngredientsByID
     *
     * @param id The item&#39;s id.
     * @return RequestConfig
     */
    fun getRecipeIngredientsByIDRequestConfig(id: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/{id}/ingredientWidget.json".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Nutrition by ID
     * Get a recipe&#39;s nutrition data.
     * @param id The item&#39;s id.
     * @return GetRecipeNutritionWidgetByID200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getRecipeNutritionWidgetByID(id: kotlin.Int) : GetRecipeNutritionWidgetByID200Response {
        val localVarResponse = getRecipeNutritionWidgetByIDWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetRecipeNutritionWidgetByID200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Nutrition by ID
     * Get a recipe&#39;s nutrition data.
     * @param id The item&#39;s id.
     * @return ApiResponse<GetRecipeNutritionWidgetByID200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getRecipeNutritionWidgetByIDWithHttpInfo(id: kotlin.Int) : ApiResponse<GetRecipeNutritionWidgetByID200Response?> {
        val localVariableConfig = getRecipeNutritionWidgetByIDRequestConfig(id = id)

        return request<Unit, GetRecipeNutritionWidgetByID200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getRecipeNutritionWidgetByID
     *
     * @param id The item&#39;s id.
     * @return RequestConfig
     */
    fun getRecipeNutritionWidgetByIDRequestConfig(id: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/{id}/nutritionWidget.json".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Price Breakdown by ID
     * Get a recipe&#39;s price breakdown data.
     * @param id The item&#39;s id.
     * @return GetRecipePriceBreakdownByID200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getRecipePriceBreakdownByID(id: kotlin.Int) : GetRecipePriceBreakdownByID200Response {
        val localVarResponse = getRecipePriceBreakdownByIDWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetRecipePriceBreakdownByID200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Price Breakdown by ID
     * Get a recipe&#39;s price breakdown data.
     * @param id The item&#39;s id.
     * @return ApiResponse<GetRecipePriceBreakdownByID200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getRecipePriceBreakdownByIDWithHttpInfo(id: kotlin.Int) : ApiResponse<GetRecipePriceBreakdownByID200Response?> {
        val localVariableConfig = getRecipePriceBreakdownByIDRequestConfig(id = id)

        return request<Unit, GetRecipePriceBreakdownByID200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getRecipePriceBreakdownByID
     *
     * @param id The item&#39;s id.
     * @return RequestConfig
     */
    fun getRecipePriceBreakdownByIDRequestConfig(id: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/{id}/priceBreakdownWidget.json".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Taste by ID
     * Get a recipe&#39;s taste. The tastes supported are sweet, salty, sour, bitter, savory, and fatty.
     * @param id The item&#39;s id.
     * @param normalize Normalize to the strongest taste. (optional, default to true)
     * @return GetRecipeTasteByID200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getRecipeTasteByID(id: kotlin.Int, normalize: kotlin.Boolean? = true) : GetRecipeTasteByID200Response {
        val localVarResponse = getRecipeTasteByIDWithHttpInfo(id = id, normalize = normalize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetRecipeTasteByID200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Taste by ID
     * Get a recipe&#39;s taste. The tastes supported are sweet, salty, sour, bitter, savory, and fatty.
     * @param id The item&#39;s id.
     * @param normalize Normalize to the strongest taste. (optional, default to true)
     * @return ApiResponse<GetRecipeTasteByID200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getRecipeTasteByIDWithHttpInfo(id: kotlin.Int, normalize: kotlin.Boolean?) : ApiResponse<GetRecipeTasteByID200Response?> {
        val localVariableConfig = getRecipeTasteByIDRequestConfig(id = id, normalize = normalize)

        return request<Unit, GetRecipeTasteByID200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getRecipeTasteByID
     *
     * @param id The item&#39;s id.
     * @param normalize Normalize to the strongest taste. (optional, default to true)
     * @return RequestConfig
     */
    fun getRecipeTasteByIDRequestConfig(id: kotlin.Int, normalize: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (normalize != null) {
                    put("normalize", listOf(normalize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/{id}/tasteWidget.json".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get Similar Recipes
     * Find recipes which are similar to the given one.
     * @param id The item&#39;s id.
     * @param number The maximum number of items to return (between 1 and 100). Defaults to 10. (optional, default to 10)
     * @param limitLicense Whether the recipes should have an open license that allows display with proper attribution. (optional, default to true)
     * @return kotlin.collections.Set<GetSimilarRecipes200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSimilarRecipes(id: kotlin.Int, number: kotlin.Int? = 10, limitLicense: kotlin.Boolean? = true) : kotlin.collections.Set<GetSimilarRecipes200ResponseInner> {
        val localVarResponse = getSimilarRecipesWithHttpInfo(id = id, number = number, limitLicense = limitLicense)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Set<GetSimilarRecipes200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Similar Recipes
     * Find recipes which are similar to the given one.
     * @param id The item&#39;s id.
     * @param number The maximum number of items to return (between 1 and 100). Defaults to 10. (optional, default to 10)
     * @param limitLicense Whether the recipes should have an open license that allows display with proper attribution. (optional, default to true)
     * @return ApiResponse<kotlin.collections.Set<GetSimilarRecipes200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSimilarRecipesWithHttpInfo(id: kotlin.Int, number: kotlin.Int?, limitLicense: kotlin.Boolean?) : ApiResponse<kotlin.collections.Set<GetSimilarRecipes200ResponseInner>?> {
        val localVariableConfig = getSimilarRecipesRequestConfig(id = id, number = number, limitLicense = limitLicense)

        return request<Unit, kotlin.collections.Set<GetSimilarRecipes200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSimilarRecipes
     *
     * @param id The item&#39;s id.
     * @param number The maximum number of items to return (between 1 and 100). Defaults to 10. (optional, default to 10)
     * @param limitLicense Whether the recipes should have an open license that allows display with proper attribution. (optional, default to true)
     * @return RequestConfig
     */
    fun getSimilarRecipesRequestConfig(id: kotlin.Int, number: kotlin.Int?, limitLicense: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (number != null) {
                    put("number", listOf(number.toString()))
                }
                if (limitLicense != null) {
                    put("limitLicense", listOf(limitLicense.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/{id}/similar".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Guess Nutrition by Dish Name
     * Estimate the macronutrients of a dish based on its title.
     * @param title The title of the dish.
     * @return GuessNutritionByDishName200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun guessNutritionByDishName(title: kotlin.String) : GuessNutritionByDishName200Response {
        val localVarResponse = guessNutritionByDishNameWithHttpInfo(title = title)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GuessNutritionByDishName200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Guess Nutrition by Dish Name
     * Estimate the macronutrients of a dish based on its title.
     * @param title The title of the dish.
     * @return ApiResponse<GuessNutritionByDishName200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun guessNutritionByDishNameWithHttpInfo(title: kotlin.String) : ApiResponse<GuessNutritionByDishName200Response?> {
        val localVariableConfig = guessNutritionByDishNameRequestConfig(title = title)

        return request<Unit, GuessNutritionByDishName200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation guessNutritionByDishName
     *
     * @param title The title of the dish.
     * @return RequestConfig
     */
    fun guessNutritionByDishNameRequestConfig(title: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("title", listOf(title.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recipes/guessNutrition",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter contentType
     */
     enum class ContentTypeParseIngredients(val value: kotlin.String) {
         @Json(name = "application/x-www-form-urlencoded") applicationSlashXMinusWwwMinusFormMinusUrlencoded("application/x-www-form-urlencoded"),
         @Json(name = "application/json") applicationSlashJson("application/json"),
         @Json(name = "multipart/form-data") multipartSlashFormMinusData("multipart/form-data")
     }

    /**
     * enum for parameter language
     */
     enum class LanguageParseIngredients(val value: kotlin.String) {
         @Json(name = "en") en("en"),
         @Json(name = "de") de("de")
     }

    /**
     * Parse Ingredients
     * Extract an ingredient from plain text.
     * @param contentType The content type. (optional)
     * @param language The language of the input. Either &#39;en&#39; or &#39;de&#39;. (optional)
     * @return kotlin.collections.Set<ParseIngredients200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun parseIngredients(contentType: ContentTypeParseIngredients? = null, language: LanguageParseIngredients? = null) : kotlin.collections.Set<ParseIngredients200ResponseInner> {
        val localVarResponse = parseIngredientsWithHttpInfo(contentType = contentType, language = language)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Set<ParseIngredients200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Parse Ingredients
     * Extract an ingredient from plain text.
     * @param contentType The content type. (optional)
     * @param language The language of the input. Either &#39;en&#39; or &#39;de&#39;. (optional)
     * @return ApiResponse<kotlin.collections.Set<ParseIngredients200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun parseIngredientsWithHttpInfo(contentType: ContentTypeParseIngredients?, language: LanguageParseIngredients?) : ApiResponse<kotlin.collections.Set<ParseIngredients200ResponseInner>?> {
        val localVariableConfig = parseIngredientsRequestConfig(contentType = contentType, language = language)

        return request<Unit, kotlin.collections.Set<ParseIngredients200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation parseIngredients
     *
     * @param contentType The content type. (optional)
     * @param language The language of the input. Either &#39;en&#39; or &#39;de&#39;. (optional)
     * @return RequestConfig
     */
    fun parseIngredientsRequestConfig(contentType: ContentTypeParseIngredients?, language: LanguageParseIngredients?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (language != null) {
                    put("language", listOf(language.value))
                }
            }
[...]
